Repository jerryzhao173985/reference_model: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest, clang-format

.pre-commit-config.yaml:

# Copyright (c) 2021-2024 Arm Limited.
# SPDX-License-Identifier: Apache-2.0

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/asottile/reorder_python_imports
    rev: v3.13.0
    hooks:
    -   id: reorder-python-imports
      # The reorder python imports can get confused if directories exist.
      # Use a dummy application directory to avoid problems.
        args: [ "--application-directories=NotARealDirectoryName" ]

-   repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
    -   id: black

-   repo: https://github.com/pycqa/flake8
    rev: 7.1.1
    hooks:
    -   id: flake8

-   repo: local
    hooks:
    -   id: pytest
        name: pytest
        stages: [commit]
        language: system
        entry: pytest -m "not postcommit"
        types: [python]
        pass_filenames: false

-   repo: local
    hooks:
    -   id: clang-format
        name: clang-format
        exclude: build|third_party
        language: system
        entry: clang-format
        types: ["c++"]
        args: ["-i"]

CLAMP: ERROR_IF for min/max
  reference_model/include/func_debug.h
  reference_model/src/arith_util.h
  reference_model/src/ops/activation_funcs.cc
  reference_model/src/ops/type_conversion.cc
Due: clang-format

Add Compile-Time-Constant support in CTS
  verif/conformance/README.md
  verif/conformance/tosa_ext_profile_ops_info.json
  verif/conformance/tosa_profiles.py
  verif/conformance/tosa_verif_conformance_generator.py
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
  verif/generator/tosa_test_select.py
  verif/generator/tosa_utils.py
Due: pytest

Switch zero point of convolutions to input variable type
  examples/test_conv2d_1x1_1x32x32x8_f32_st11_padSAME_dilat11/flatbuffer-tf/test_conv2d_1x1_1x32x32x8_f32_st11_padSAME_dilat11.tosa
  examples/test_conv2d_1x1_1x32x32x8_f32_st11_padSAME_dilat11/flatbuffer-tflite/test_conv2d_1x1_1x32x32x8_f32_st11_padSAME_dilat11.tosa
  examples/test_conv2d_1x1_1x32x32x8_qi8_st11_padSAME_dilat11/flatbuffer-tflite/test_conv2d_1x1_1x32x32x8_qi8_st11_padSAME_dilat11.tosa
  examples/test_lstm_stateful_13x21x3_f32/flatbuffer-tflite/test_lstm_stateful_13x21x3_f32.tosa
  reference_model/src/generate/generate_fixed_data.cc
  reference_model/src/graph_node.cc
  reference_model/src/graph_node.h
  reference_model/src/ops/tensor_ops.cc
  reference_model/src/ops/tensor_ops.h
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_error_if.py
  verif/generator/tosa_test_gen.py
  verif/generator/tosa_utils.py
Due: pytest, clang-format

Add unit tests for ARGMAX FP SPECIAL
  reference_model/CMakeLists.txt
  reference_model/include/dtype.h
  reference_model/src/dtype_limits.h
  reference_model/test/model_runner_tests.cpp
  reference_model/test/ref_model_tests.cpp
  reference_model/test/test_utils.h
  reference_model/test/verify_tests.cpp
Due: clang-format

Update accumulator types in conv operators
  reference_model/src/ops/tensor_ops.cc
  reference_model/test/ref_model_tests.cpp
Due: clang-format

Fix Linker Error on GCC-8.3
  reference_model/CMakeLists.txt
Due: none

Fix Linker Error on all GCC-8 versions
  reference_model/CMakeLists.txt
Due: none

Add RESCALE integer special tests
  reference_model/src/generate/generate_int_special.cc
  reference_model/src/generate/generate_pseudo_random.cc
  reference_model/src/generate/generate_special_utils.h
  reference_model/src/generate/generate_utils.cc
  reference_model/test/generate_tests.cpp
  verif/conformance/tosa_ext_profile_ops_info.json
  verif/generator/datagenerator.py
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
  verif/generator/tosa_utils.py
  verif/tests/test_datagenerator.py
Due: pytest, clang-format

Add CAST & RESIZE integer special tests
  reference_model/src/generate/generate_fp_special.cc
  reference_model/src/generate/generate_special_utils.h
  reference_model/src/generate/generate_utils.h
  reference_model/test/generate_tests.cpp
  verif/conformance/tosa_ext_profile_ops_info.json
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

Change MUL shift input to rank 1 & fix MUL operation
  examples/test_lstm_stateful_13x21x3_f32/flatbuffer-tflite/test_lstm_stateful_13x21x3_f32.tosa
  reference_model/src/ops/ewise_binary.cc
  reference_model/src/ops/ewise_binary.h
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_error_if.py
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

Add missing REQUIREs for OpPow
  reference_model/src/generate/generate_fp_special.cc
  reference_model/src/ops/ewise_binary.cc
  reference_model/test/generate_tests.cpp
  verif/frameworks/tensor_gen.py
  verif/frameworks/tosa_verif_framework_generator.py
  verif/generator/tosa_arg_gen.py
Due: pytest, clang-format

Add TABLE integer full range tests
  reference_model/test/generate_tests.cpp
  verif/conformance/tosa_ext_profile_ops_info.json
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

Remove view(np.uint8) when using fp8e5m2.
  verif/generator/datagenerator.py
  verif/generator/tosa_random_gen.py
Due: pytest

Update OpMatMul to use input zero points
  reference_model/src/ops/tensor_ops.cc
  reference_model/src/ops/tensor_ops.h
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

Add check for input_unsigned and ouput_unsigned for RESCALE
  reference_model/src/ops/type_conversion.cc
  verif/conformance/tosa_ext_profile_ops_info.json
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_error_if.py
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

Use generate library for ERROR_IF tests
  reference_model/src/generate/generate_fixed_data.cc
  reference_model/src/generate/generate_full_range.cc
  reference_model/src/generate/generate_pseudo_random.cc
  reference_model/src/generate/generate_special.cc
  reference_model/src/generate/generate_utils.cc
  reference_model/test/generate_tests.cpp
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
  verif/generator/tosa_utils.py
Due: pytest, clang-format

[ref model] Adapt to new tosa schema
  examples/test_add_1x4x4x4_f32/flatbuffer-tf/desc.json
  examples/test_add_1x4x4x4_f32/flatbuffer-tf/test_add_1x4x4x4_f32.tosa
  examples/test_add_1x4x4x4_f32/flatbuffer-tflite/desc.json
  examples/test_add_1x4x4x4_f32/flatbuffer-tflite/test_add_1x4x4x4_f32.tosa
  examples/test_add_1x4x4x4_f32/model.pb
  examples/test_add_1x4x4x4_f32/model.tflite
  examples/test_conv2d_1x1_1x32x32x8_f32_st11_padSAME_dilat11/flatbuffer-tf/desc.json
  examples/test_conv2d_1x1_1x32x32x8_f32_st11_padSAME_dilat11/flatbuffer-tf/test_conv2d_1x1_1x32x32x8_f32_st11_padSAME_dilat11.tosa
  examples/test_conv2d_1x1_1x32x32x8_f32_st11_padSAME_dilat11/flatbuffer-tflite/desc.json
  examples/test_conv2d_1x1_1x32x32x8_f32_st11_padSAME_dilat11/flatbuffer-tflite/test_conv2d_1x1_1x32x32x8_f32_st11_padSAME_dilat11.tosa
  examples/test_conv2d_1x1_1x32x32x8_f32_st11_padSAME_dilat11/model.pb
  examples/test_conv2d_1x1_1x32x32x8_f32_st11_padSAME_dilat11/model.tflite
  examples/test_conv2d_1x1_1x32x32x8_qi8_st11_padSAME_dilat11/flatbuffer-tflite/desc.json
  examples/test_conv2d_1x1_1x32x32x8_qi8_st11_padSAME_dilat11/flatbuffer-tflite/test_conv2d_1x1_1x32x32x8_qi8_st11_padSAME_dilat11.tosa
  examples/test_conv2d_1x1_1x32x32x8_qi8_st11_padSAME_dilat11/model.tflite
  examples/test_lstm_stateful_13x21x3_f32/flatbuffer-tflite/desc.json
  examples/test_lstm_stateful_13x21x3_f32/flatbuffer-tflite/test_lstm_stateful_13x21x3_f32.tosa
  examples/test_lstm_stateful_13x21x3_f32/model.tflite
  reference_model/src/ops/data_layout.cc
  reference_model/src/ops/data_layout.h
  reference_model/src/ops/ewise_binary.cc
  reference_model/src/ops/ewise_binary.h
  reference_model/src/ops/op_factory.cc
  reference_model/src/ops/reduction.cc
  reference_model/src/ops/reduction.h
  reference_model/src/ops/tensor_ops.cc
  reference_model/src/ops/tensor_ops.h
  reference_model/test/ref_model_tests.cpp
  verif/generator/tosa_test_gen.py
  verif/runner/tosa_verif_run_tests.py
Due: pytest, clang-format

Add Build Support for GCC-8.3
  reference_model/src/generate/generate_special_utils.h
  reference_model/test/ref_model_tests.cpp
Due: clang-format

Add CTC support for RESCALE, RESIZE & MATMUL
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
Due: pytest

Add unit tests to catch regressions in accumulator behaviour in conv ops.
  reference_model/test/ref_model_tests.cpp
Due: clang-format

[tosa_verify] Loosen general dot product variance bound
  reference_model/src/verify/verify_dot_product.cc
  reference_model/src/verify/verify_utils.cc
  reference_model/src/verify/verify_utils.h
  reference_model/test/verify_tests.cpp
  scripts/schemavalidation/compliance-config.schema.json
  verif/generator/tosa_test_gen.py
  verif/tests/test_tosa_verifier.py
Due: pytest, clang-format

RESCALE rounding mode updates
  examples/test_conv2d_1x1_1x32x32x8_f32_st11_padSAME_dilat11/flatbuffer-tf/test_conv2d_1x1_1x32x32x8_f32_st11_padSAME_dilat11.tosa
  examples/test_conv2d_1x1_1x32x32x8_qi8_st11_padSAME_dilat11/flatbuffer-tflite/test_conv2d_1x1_1x32x32x8_qi8_st11_padSAME_dilat11.tosa
  reference_model/src/ops/type_conversion.cc
  verif/conformance/tosa_ext_profile_ops_info.json
  verif/conformance/tosa_profiles.py
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_error_if.py
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

Revert "Add unit tests to catch regressions in accumulator behaviour in conv ops."
  reference_model/test/ref_model_tests.cpp
Due: clang-format

Switch zero point of negate to input variable type
  reference_model/src/ops/ewise_unary.cc
  reference_model/src/ops/ewise_unary.h
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
  verif/tests/test_tosa_refmodel.py
Due: pytest, clang-format

macOS port: resolve ambiguous calls to std::isnan/std::signbit and friends when called using a softfloat
  reference_model/src/verify/verify_dot_product.cc
  reference_model/src/verify/verify_exact.cc
  reference_model/src/verify/verify_fp_special.cc
  reference_model/src/verify/verify_utils.cc
  reference_model/test/generate_tests.cpp
  reference_model/test/test_utils.h
Due: clang-format

macOS port: provide macOS equivalent to readlink(proc/self/exe)
  reference_model/test/verify_exe_testing.cpp
Due: clang-format

macOS port: fix failing pytests
  verif/conformance/model_files.py
  verif/tests/test_tosa_datagenerator.py
  verif/tests/test_tosa_refmodel.py
  verif/tests/test_tosa_verifier.py
  verif/tests/test_utils.py
Due: pytest
