Repository jerryzhao173985/reference_model: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest, clang-format

.pre-commit-config.yaml:

# Copyright (c) 2021-2024 Arm Limited.
# SPDX-License-Identifier: Apache-2.0

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/asottile/reorder_python_imports
    rev: v3.0.1
    hooks:
    -   id: reorder-python-imports

-   repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
    -   id: black

-   repo: https://github.com/pycqa/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8

-   repo: local
    hooks:
    -   id: pytest
        name: pytest
        stages: [commit]
        language: system
        entry: pytest -m "not postcommit"
        types: [python]
        pass_filenames: false

-   repo: local
    hooks:
    -   id: clang-format
        name: clang-format
        exclude: build|third_party
        language: system
        entry: clang-format
        types: ["c++"]
        args: ["-i"]

Update the C/C++ verify library to include support int4, int48, uint8, uint16
  reference_model/src/verify/verify_entry.cc
  reference_model/src/verify/verify_exact.cc
  reference_model/src/verify/verify_utils.cc
  verif/checker/verifier.py
  verif/generator/tosa_utils.py
Due: pytest, clang-format

Increase REDUCE_SUM/PRODUCT CTS test coverage
  verif/conformance/tosa_ext_profile_ops_info.json
  verif/generator/tosa_test_gen.py
Due: pytest

Update CTS support for RESIZE.
  verif/conformance/tosa_ext_profile_ops_info.json
  verif/generator/tosa_test_gen.py
Due: pytest

Update integer profile coverage for most ops
  verif/conformance/tosa_ext_profile_ops_info.json
  verif/conformance/tosa_verif_conformance_generator.py
  verif/generator/tosa_arg_gen.py
Due: pytest

Reduce duplicated FP_SPECIAL tests
  verif/conformance/tosa_ext_profile_ops_info.json
Due: none

Skip non-finite errorBounds checks in compliance
  reference_model/src/verify/verify_utils.cc
Due: clang-format

Python bindings for reference model
  .gitignore
  .gitmodules
  CMakeLists.txt
  MANIFEST.in
  README.md
  py_package/__init__.py
  reference_model/CMakeLists.txt
  reference_model/python_bindings/example.py
  reference_model/python_bindings/python_bindings.cpp
  setup.cfg
  setup.py
Due: pytest, clang-format

Add framework tests for tf(l).scatter_nd legalization
  verif/frameworks/arg_gen.py
  verif/frameworks/tensor_gen.py
  verif/frameworks/test_builder.py
  verif/frameworks/tosa_verif_framework_generator.py
Due: pytest

Subnormal support changes for FP8, FP32, FP16 and BF16.
  reference_model/src/verify/verify_exact.cc
  reference_model/src/verify/verify_utils.cc
  reference_model/test/verify_tests.cpp
Due: clang-format

Add rank 0 SIN/COS tests to CTS
  verif/conformance/tosa_ext_profile_ops_info.json
Due: none

Add multi-bit and new_axis mask generation to strided_slice
  verif/frameworks/arg_gen.py
Due: pytest

Add a flag to disable building ref_model pybind for pip install every time
  setup.py
Due: pytest

Update compliance dot product test set 1
  reference_model/src/generate/generate_dot_product_states.cc
  reference_model/test/generate_tests.cpp
Due: clang-format

Update conformance of dot product operations
  reference_model/src/verify/verify_dot_product.cc
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

Update CTS support for AVG_POOL2D and MAX_POOL2D.
  verif/conformance/tosa_ext_profile_ops_info.json
  verif/generator/tosa_test_select.py
Due: pytest

Improve conformance test coverage for CAST
  reference_model/src/dtype_limits.h
  reference_model/src/generate/generate_fp_special.cc
  reference_model/src/generate/generate_utils.cc
  reference_model/src/generate/generate_utils.h
  reference_model/src/verify/verify_ulp.cc
  scripts/schemavalidation/datagen-config.schema.json
  verif/conformance/README.md
  verif/conformance/tosa_ext_profile_ops_info.json
  verif/conformance/tosa_verif_conformance_generator.py
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
  verif/generator/tosa_utils.py
  verif/generator/tosa_verif_build_tests.py
Due: pytest, clang-format

Increase POW rank test coverage in CTS
  verif/conformance/tosa_ext_profile_ops_info.json
Due: none

[Fix] BF16 (and FP16) bias is not in BF16 (or FP16)
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
  verif/generator/tosa_utils.py
Due: pytest

Compliance err bound must be positive before inf check
  reference_model/src/verify/verify_utils.cc
Due: clang-format

Improve conformance test generation for tensor operations
  verif/conformance/tosa_ext_profile_ops_info.json
  verif/generator/tosa_test_gen.py
Due: pytest

Revert "Refactor for ref model to add external libraries as FetchContent modules"
  .gitmodules
  CMakeLists.txt
  cmake/dependencies.cmake
  reference_model/CMakeLists.txt
  reference_model/custom_op_example/CMakeLists.txt
  thirdparty/CMakeLists.txt
Due: none

Clean up conformance generator support
  verif/conformance/README.md
  verif/conformance/test_select.py
  verif/conformance/tosa_ext_profile_ops_info.json
  verif/conformance/tosa_verif_conformance_generator.py
Due: pytest

Finish integer coverage improvements
  verif/conformance/tosa_ext_profile_ops_info.json
Due: none

Enable BF16 unary full tests in CTS
  verif/conformance/tosa_ext_profile_ops_info.json
Due: none
