Repository jerryzhao173985/reference_model: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest, clang-format

pytest:
  name: pytest
  stages:
  - commit
  language: system
  entry: pytest -m "not postcommit"
  pass_filenames: false

clang-format:
  name: clang-format
  language: system
  entry: clang-format
  args:
  - -i

Add support fp8e4m3xfp8e5m2 with f16/f32 accumulator for MATMUL
  reference_model/src/generate/generate_dot_product_states.cc
  reference_model/src/generate/generate_utils.cc
  reference_model/src/generate/generate_utils.h
  reference_model/src/ops/op_factory.cc
  reference_model/src/ops/tensor_ops.cc
  reference_model/src/ops/tensor_ops.h
  scripts/schemavalidation/datagen-config.schema.json
  verif/conformance/tosa_ext_profile_ops_info.json
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_error_if.py
  verif/generator/tosa_test_gen.py
  verif/tests/test_tosa_datagenerator.py
Due: pytest, clang-format

Review and update README file
  README.md
Due: none

Update verify_relative.cc to set a ulp bound when relative is too tight
  reference_model/src/verify/verify_relative.cc
  reference_model/src/verify/verify_utils.cc
  reference_model/src/verify/verify_utils.h
  reference_model/test/verify_tests.cpp
  scripts/schemavalidation/compliance-config.schema.json
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

Add Floor Div to TF/TFL Framework Test
  verif/frameworks/tensor_gen.py
  verif/frameworks/test_builder.py
  verif/frameworks/tosa_verif_framework_generator.py
Due: pytest

Return the first match of NaN from ARGMAX
  reference_model/src/ops/tensor_ops.cc
  verif/conformance/tosa_ext_profile_ops_info.json
Due: clang-format

[ref_model] changes for unique_ptr api's in serialization_lib
  reference_model/src/model_runner_impl.cc
  reference_model/src/ops/control_flow.cc
  reference_model/src/subgraph_traverser.cc
Due: clang-format

Use native datatypes in OpResize
  reference_model/src/ops/image.cc
Due: clang-format

Enable INT4 for WrongBiasType ErrorIf tests
  verif/generator/tosa_test_gen.py
Due: pytest

Fix overflow verification for fp8e4m3
  reference_model/src/verify/verify_abs_error.cc
  reference_model/src/verify/verify_reduce_product.cc
  reference_model/src/verify/verify_utils.cc
  reference_model/test/verify_tests.cpp
Due: clang-format

Align the implementation of maximum and minimum with the spec
  reference_model/src/ops/ewise_binary.cc
Due: clang-format

Align the implementation of clamp with the spec
  reference_model/src/ops/activation_funcs.cc
Due: clang-format

Align the implementation of max_pool2d with the spec
  reference_model/src/ops/tensor_ops.cc
Due: clang-format

Enforce SHAPE inputs as CONST_SHAPEs in tests
  verif/generator/tosa_arg_gen.py
Due: pytest

Fix MUL shift to be rank 0
  reference_model/src/ops/ewise_binary.cc
  reference_model/src/ops/ewise_binary.h
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_error_if.py
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

Add support for int16_t inputs in eager interface
  reference_model/src/model_runner_impl.cc
  reference_model/src/tensor.cc
  reference_model/src/tensor.h
  reference_model/test/model_runner_tests.cpp
Due: clang-format

Save Int8/UInt8 reference outputs to native dtypes
  reference_model/src/model_runner.cc
  reference_model/src/model_runner_impl.cc
  reference_model/src/tensor.cc
  reference_model/src/tensor.h
  verif/frameworks/tosa_verif_framework_compiler_runner.py
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

Save Int16/UINT16 test outputs to native dtypes
  reference_model/src/tensor.cc
  reference_model/src/tensor.h
  verif/frameworks/tosa_verif_framework_compiler_runner.py
Due: pytest, clang-format

Fix segfault for resize_tensor_input of rank-0 tensors
  verif/frameworks/tosa_verif_framework_generator.py
Due: pytest

Improve pip installation
  pyproject.toml
  setup.py
Due: pytest

Use for-loop implementation in CONV2D
  reference_model/src/ops/tensor_ops.cc
Due: clang-format

Add extra CONV2D local bounds tests
  verif/conformance/README.md
  verif/conformance/tosa_ext_profile_ops_info.json
  verif/generator/tosa_test_select.py
  verif/generator/tosa_verif_build_tests.py
Due: pytest

Update README for handling of FP8/BF16 data types with NumPy in Python
  README.md
Due: none

Revert "Add support fp8e4m3xfp8e5m2 with f16/f32 accumulator for MATMUL"
  reference_model/src/generate/generate_dot_product_states.cc
  reference_model/src/generate/generate_utils.cc
  reference_model/src/generate/generate_utils.h
  reference_model/src/ops/op_factory.cc
  reference_model/src/ops/tensor_ops.cc
  reference_model/src/ops/tensor_ops.h
  scripts/schemavalidation/datagen-config.schema.json
  verif/conformance/tosa_ext_profile_ops_info.json
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_error_if.py
  verif/generator/tosa_test_gen.py
  verif/tests/test_tosa_datagenerator.py
Due: pytest, clang-format

Add RESHAPE rank 0 tests
  verif/conformance/tosa_ext_profile_ops_info.json
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
Due: pytest

Fix pip install errors
  reference_model/CMakeLists.txt
  setup.py
Due: pytest

Add NaN propagation mode support
  reference_model/src/arith_util.h
  reference_model/src/dtype_limits.h
  reference_model/src/graph_node.cc
  reference_model/src/graph_node.h
  reference_model/src/ops/activation_funcs.cc
  reference_model/src/ops/activation_funcs.h
  reference_model/src/ops/ewise_binary.cc
  reference_model/src/ops/ewise_binary.h
  reference_model/src/ops/ewise_unary.h
  reference_model/src/ops/reduction.cc
  reference_model/src/ops/reduction.h
  reference_model/src/ops/tensor_ops.cc
  reference_model/src/ops/tensor_ops.h
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
  verif/generator/tosa_utils.py
Due: pytest, clang-format

Add generator for integer special values
  reference_model/CMakeLists.txt
  reference_model/src/dtype_limits.h
  reference_model/src/generate/generate_entry.cc
  reference_model/src/generate/generate_fixed_data.cc
  reference_model/src/generate/generate_fp_special.cc
  reference_model/src/generate/generate_int_special.cc
  reference_model/src/generate/generate_pseudo_random.cc
  reference_model/src/generate/generate_special.cc
  reference_model/src/generate/generate_special.h
  reference_model/src/generate/generate_special_utils.h
  reference_model/src/generate/generate_utils.cc
  reference_model/src/generate/generate_utils.h
  reference_model/test/generate_tests.cpp
  scripts/schemavalidation/datagen-config.schema.json
  verif/conformance/tosa_ext_profile_ops_info.json
  verif/generator/datagenerator.py
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
  verif/generator/tosa_test_select.py
  verif/generator/tosa_utils.py
Due: pytest, clang-format

Path conditions:
  pytest: any of: \.py$
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: build|third_party
