Repository jerryzhao173985/reference_model: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest, clang-format

.pre-commit-config.yaml:

# Copyright (c) 2021-2024 Arm Limited.
# SPDX-License-Identifier: Apache-2.0

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/asottile/reorder_python_imports
    rev: v3.13.0
    hooks:
    -   id: reorder-python-imports
      # The reorder python imports can get confused if directories exist.
      # Use a dummy application directory to avoid problems.
        args: [ "--application-directories=NotARealDirectoryName" ]

-   repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
    -   id: black

-   repo: https://github.com/pycqa/flake8
    rev: 7.1.1
    hooks:
    -   id: flake8

-   repo: local
    hooks:
    -   id: pytest
        name: pytest
        stages: [commit]
        language: system
        entry: pytest -m "not postcommit"
        types: [python]
        pass_filenames: false

-   repo: local
    hooks:
    -   id: clang-format
        name: clang-format
        exclude: build|third_party
        language: system
        entry: clang-format
        types: ["c++"]
        args: ["-i"]

Update range check when reference is 0
  reference_model/src/verify/verify_utils.cc
Due: clang-format

Add missing CTS CONDITIONAL rank coverage for FP tests
  verif/conformance/tosa_main_profile_ops_info.json
Due: none

Adjust conformance bounds for acc_type changes
  reference_model/src/ops/tensor_ops.cc
  reference_model/src/ops/tensor_ops.h
  reference_model/src/verify/verify_dot_product.cc
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
  verif/generator/tosa_utils.py
Due: pytest, clang-format

Update CTS support for RESIZE.
  verif/conformance/tosa_main_profile_ops_info.json
  verif/generator/tosa_test_gen.py
Due: pytest

Subnormal support changes for FP32 and FP16.
  reference_model/src/verify/verify_exact.cc
  reference_model/src/verify/verify_utils.cc
  reference_model/test/verify_tests.cpp
Due: clang-format

Enable REVERSE and DIM compliance testing
  verif/generator/tosa_test_gen.py
Due: pytest

Increase REDUCE_SUM/PRODUCT CTS test coverage
  verif/conformance/tosa_main_profile_ops_info.json
  verif/generator/tosa_test_gen.py
Due: pytest

Conditionally Build Verfy Utility Tool
  .gitignore
  reference_model/CMakeLists.txt
  reference_model/src/verify/CMakeLists.txt
Due: none

Update conformance of dot product operations
  reference_model/src/verify/verify_dot_product.cc
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

Add rank 0 integer tests to CTS for v0.80
  verif/conformance/tosa_base_profile_ops_info.json
Due: none

FP Special coverage for CONST & IDENTITY Ops
  verif/generator/tosa_test_gen.py
Due: pytest

Skip non-finite errorBounds checks in compliance
  reference_model/src/verify/verify_utils.cc
Due: clang-format

Reduce duplicated FP_SPECIAL tests
  verif/conformance/tosa_main_profile_ops_info.json
Due: none

Improve conformance test generation for tensor operations
  verif/conformance/tosa_main_profile_ops_info.json
Due: none

Update CTS support for AVG_POOL2D and MAX_POOL2D.
  verif/conformance/tosa_main_profile_ops_info.json
  verif/generator/tosa_test_select.py
Due: pytest

Improve conformance test coverage for CAST
  reference_model/src/dtype_limits.h
  reference_model/src/generate/generate_fp_special.cc
  reference_model/src/generate/generate_utils.cc
  reference_model/src/generate/generate_utils.h
  reference_model/src/verify/verify_ulp.cc
  scripts/schemavalidation/datagen-config.schema.json
  verif/conformance/tosa_main_profile_ops_info.json
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
  verif/generator/tosa_utils.py
Due: pytest, clang-format

Fix incorrect special fp number handling in min/max reduction
  reference_model/src/ops/reduction.cc
  verif/frameworks/tensor_gen.py
  verif/frameworks/tosa_verif_framework_generator.py
Due: pytest, clang-format

Update compliance dot product test set 1
  reference_model/src/generate/generate_dot_product_states.cc
  reference_model/test/generate_tests.cpp
Due: clang-format

Increase POW rank test coverage in CTS
  verif/conformance/tosa_main_profile_ops_info.json
Due: none

Revert error in verify_ulp bound calculation
  reference_model/src/verify/verify_ulp.cc
  reference_model/test/generate_tests.cpp
  reference_model/test/verify_tests.cpp
Due: clang-format

Compliance err bound must be positive before inf check
  reference_model/src/verify/verify_utils.cc
Due: clang-format

Adjust AVG_POOL2D FP calculation to match conformance precision
  reference_model/src/ops/tensor_ops.cc
Due: clang-format

Disable CTS FP32, FP16 & BF16 subnormal testing
  reference_model/src/generate/generate_fp_special.cc
  reference_model/src/generate/generate_full_range.cc
  reference_model/test/generate_tests.cpp
Due: clang-format

CTS conformance updates for v1.0
  verif/conformance/tosa_ext_profile_ops_info.json
  verif/generator/tosa_test_gen.py
Due: pytest

Add NaN propagation mode support
  reference_model/src/arith_util.h
  reference_model/src/dtype_limits.h
  reference_model/src/graph_node.cc
  reference_model/src/graph_node.h
  reference_model/src/ops/activation_funcs.cc
  reference_model/src/ops/activation_funcs.h
  reference_model/src/ops/ewise_binary.cc
  reference_model/src/ops/ewise_binary.h
  reference_model/src/ops/ewise_unary.h
  reference_model/src/ops/reduction.cc
  reference_model/src/ops/reduction.h
  reference_model/src/ops/tensor_ops.cc
  reference_model/src/ops/tensor_ops.h
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
  verif/generator/tosa_utils.py
Due: pytest, clang-format

Fix config error, numpy version and package_data
  setup.cfg
Due: none

Add unit tests for ARGMAX FP SPECIAL
  reference_model/CMakeLists.txt
  reference_model/include/dtype.h
  reference_model/src/dtype_limits.h
  reference_model/test/model_runner_tests.cpp
  reference_model/test/ref_model_tests.cpp
  reference_model/test/test_utils.h
  reference_model/test/verify_tests.cpp
Due: clang-format

[Fix] Overflow warning in conversion from float to int
  reference_model/src/arith_util.h
Due: clang-format

fix get_wrong_output_type
  verif/generator/tosa_utils.py
Due: pytest

Add Unary op integer full/special testing
  reference_model/src/generate/generate_full_range.cc
  reference_model/src/generate/generate_int_special.cc
  reference_model/src/ops/ewise_unary.cc
  reference_model/test/generate_tests.cpp
  verif/conformance/tosa_ext_profile_ops_info.json
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

Add SELECT integer special tests
  verif/conformance/tosa_ext_profile_ops_info.json
  verif/generator/tosa_test_gen.py
Due: pytest

Add Reduce ops integer special tests
  reference_model/src/generate/generate_fp_special.cc
  reference_model/src/generate/generate_int_special.cc
  reference_model/src/generate/generate_special.cc
  reference_model/src/generate/generate_special.h
  reference_model/src/generate/generate_utils.cc
  reference_model/src/generate/generate_utils.h
  reference_model/test/generate_tests.cpp
  verif/conformance/tosa_ext_profile_ops_info.json
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
  verif/generator/tosa_utils.py
Due: pytest, clang-format

Add Tensor op integer special testing
  reference_model/src/dtype_limits.h
  reference_model/src/generate/generate_int_special.cc
  reference_model/src/generate/generate_pseudo_random.cc
  reference_model/src/generate/generate_special.cc
  reference_model/src/generate/generate_special_utils.h
  reference_model/src/generate/generate_utils.cc
  reference_model/src/generate/generate_utils.h
  reference_model/test/generate_tests.cpp
  verif/conformance/tosa_ext_profile_ops_info.json
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
  verif/generator/tosa_utils.py
Due: pytest, clang-format

CLAMP: ERROR_IF for min/max
  reference_model/include/func_debug.h
  reference_model/src/arith_util.h
  reference_model/src/ops/activation_funcs.cc
  reference_model/src/ops/type_conversion.cc
Due: clang-format

Switch zero point of convolutions to input variable type
  examples/test_conv2d_1x1_1x32x32x8_f32_st11_padSAME_dilat11/flatbuffer-tf/test_conv2d_1x1_1x32x32x8_f32_st11_padSAME_dilat11.tosa
  examples/test_conv2d_1x1_1x32x32x8_f32_st11_padSAME_dilat11/flatbuffer-tflite/test_conv2d_1x1_1x32x32x8_f32_st11_padSAME_dilat11.tosa
  examples/test_conv2d_1x1_1x32x32x8_qi8_st11_padSAME_dilat11/flatbuffer-tflite/test_conv2d_1x1_1x32x32x8_qi8_st11_padSAME_dilat11.tosa
  examples/test_lstm_stateful_13x21x3_f32/flatbuffer-tflite/test_lstm_stateful_13x21x3_f32.tosa
  reference_model/src/generate/generate_fixed_data.cc
  reference_model/src/graph_node.cc
  reference_model/src/graph_node.h
  reference_model/src/ops/tensor_ops.cc
  reference_model/src/ops/tensor_ops.h
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_error_if.py
  verif/generator/tosa_test_gen.py
  verif/generator/tosa_utils.py
Due: pytest, clang-format
