Repository jerryzhao173985/reference_model: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest, clang-format

pytest:
  name: pytest
  stages:
  - commit
  language: system
  entry: pytest -m "not postcommit"
  pass_filenames: false

clang-format:
  name: clang-format
  language: system
  entry: clang-format
  args:
  - -i

[CTS SELECT op]: Add override to data-generation
  verif/conformance/tosa_ext_profile_ops_info.json
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
Due: pytest

Update CTS support for EQUAL, GREATER_EQUAL and GREATER.
  reference_model/src/generate/generate_fp_special.cc
  reference_model/test/generate_tests.cpp
  verif/conformance/tosa_ext_profile_ops_info.json
Due: clang-format

Add Numpy version dependency of pre 2.0.0
  setup.cfg
Due: none

Update range check when reference is 0 or inf
  reference_model/src/verify/verify_utils.cc
Due: clang-format

Update the C/C++ verify library to include support for int32 types
  reference_model/src/verify/verify_entry.cc
  reference_model/src/verify/verify_exact.cc
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
  verif/generator/tosa_utils.py
Due: pytest, clang-format

Update CTS support for REDUCE_MIN and REDUCE_MAX.
  verif/conformance/tosa_ext_profile_ops_info.json
  verif/generator/tosa_test_gen.py
Due: pytest

Use uint64_t seeds for conformance tests
  reference_model/src/generate/generate_pseudo_random.cc
  reference_model/src/generate/generate_utils.cc
  reference_model/src/generate/generate_utils.h
  scripts/schemavalidation/datagen-config.schema.json
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_random_gen.py
Due: pytest, clang-format

Remove all SHAPE ops but CONST_SHAPE from CTS
  verif/conformance/tosa_ext_profile_ops_info.json
Due: none

Python bindings for reference model
  .gitignore
  .gitmodules
  CMakeLists.txt
  MANIFEST.in
  README.md
  py_package/__init__.py
  reference_model/CMakeLists.txt
  reference_model/python_bindings/example.py
  reference_model/python_bindings/python_bindings.cpp
  setup.cfg
  setup.py
Due: pytest, clang-format

Fix up REDUCE_MIN/MAX CTS test selection
  verif/conformance/tosa_ext_profile_ops_info.json
Due: none

Remove FULLY_CONNECTED from CTS
  verif/conformance/tosa_ext_profile_ops_info.json
Due: none

Refactor for ref model to add external libraries as FetchContent modules
  .gitmodules
  CMakeLists.txt
  cmake/dependencies.cmake
  reference_model/CMakeLists.txt
  reference_model/custom_op_example/CMakeLists.txt
  thirdparty/CMakeLists.txt
Due: none

Remove generation of shrink_axis_mask for strided_slice
  verif/frameworks/arg_gen.py
Due: pytest

[ref_model] Remove FullyConnectedOp
  reference_model/src/generate/generate_dot_product.cc
  reference_model/src/generate/generate_fp_special.cc
  reference_model/src/generate/generate_utils.cc
  reference_model/src/ops/op_factory.cc
  reference_model/src/ops/tensor_ops.cc
  reference_model/src/ops/tensor_ops.h
  reference_model/src/subgraph_traverser.cc
  reference_model/test/generate_tests.cpp
  verif/conformance/test_select.py
  verif/conformance/tosa_ext_profile_ops_info.json
  verif/frameworks/test_builder.py
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_error_if.py
  verif/generator/tosa_test_gen.py
  verif/generator/tosa_utils.py
Due: pytest, clang-format

Update the C/C++ verify library to include support for int16 and int8 types
  reference_model/src/verify/verify_exact.cc
  verif/checker/verifier.py
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_utils.py
Due: pytest, clang-format

Change --extension help message in conformance generator
  verif/conformance/tosa_verif_conformance_generator.py
Due: pytest

Update the C/C++ verify library to include support bool
  reference_model/src/verify/verify_exact.cc
  verif/generator/tosa_utils.py
Due: pytest, clang-format

[ref_model] Remove Shape Ops
  reference_model/src/ops/data_layout.cc
  reference_model/src/ops/data_layout.h
  reference_model/src/ops/op_factory.cc
  reference_model/src/ops/shape.cc
  reference_model/src/ops/shape.h
  verif/conformance/test_select.py
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_error_if.py
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

Add missing CTS CONDITIONAL rank coverage for FP tests
  verif/conformance/tosa_ext_profile_ops_info.json
Due: none

Enable REVERSE and DIM compliance testing
  verif/generator/tosa_test_gen.py
Due: pytest

Update the C/C++ verify library to include support int4, int48, uint8, uint16
  reference_model/src/verify/verify_entry.cc
  reference_model/src/verify/verify_exact.cc
  reference_model/src/verify/verify_utils.cc
  verif/checker/verifier.py
  verif/generator/tosa_utils.py
Due: pytest, clang-format

Increase REDUCE_SUM/PRODUCT CTS test coverage
  verif/conformance/tosa_ext_profile_ops_info.json
  verif/generator/tosa_test_gen.py
Due: pytest

Fix traceback.format_exception
  verif/frameworks/tosa_verif_framework_compiler_runner.py
  verif/frameworks/tosa_verif_framework_generator.py
  verif/runner/tosa_verif_run_tests.py
Due: pytest

Update CTS support for RESIZE.
  verif/conformance/tosa_ext_profile_ops_info.json
  verif/generator/tosa_test_gen.py
Due: pytest

Disable dynamic-shaped spatial framework tests
  verif/frameworks/tosa_verif_framework_generator.py
Due: pytest

Update integer profile coverage for most ops
  verif/conformance/tosa_ext_profile_ops_info.json
  verif/conformance/tosa_verif_conformance_generator.py
  verif/generator/tosa_arg_gen.py
Due: pytest

Reduce duplicated FP_SPECIAL tests
  verif/conformance/tosa_ext_profile_ops_info.json
Due: none

Subnormal support changes for FP8, FP32, FP16 and BF16.
  reference_model/src/verify/verify_exact.cc
  reference_model/src/verify/verify_utils.cc
  reference_model/test/verify_tests.cpp
Due: clang-format

Revert "Remove generation of shrink_axis_mask for strided_slice"
  verif/frameworks/arg_gen.py
Due: pytest

Path conditions:
  pytest: any of: \.py$
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: build|third_party
