Repository jerryzhao173985/reference_model: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest, clang-format

pytest:
  name: pytest
  stages:
  - commit
  language: system
  entry: pytest -m "not postcommit"
  pass_filenames: false

clang-format:
  name: clang-format
  language: system
  entry: clang-format
  args:
  - -i

Correct ulpmax tests with type specific values
  reference_model/src/generate/generate_special_utils.h
  reference_model/test/generate_tests.cpp
Due: clang-format

Fix error message on FILE_TYPE_MISMATCH
  reference_model/src/tensor.cpp
Due: clang-format

Fix minor coverity issues in tosa tools
  scripts/convert2conformance/convert2conformance.py
  verif/checker/tosa_result_checker.py
Due: pytest

Fix lazy data gen mode for CTS
  reference_model/src/tensor.cpp
  scripts/convert2conformance/convert2conformance.py
  verif/conformance/tosa_ext_profile_ops_info.json
  verif/conformance/tosa_verif_conformance_generator.py
  verif/generator/datagenerator.py
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
  verif/generator/tosa_utils.py
  verif/runner/tosa_verif_run_tests.py
  verif/tests/test_datagenerator.py
  verif/tests/test_tosa_datagenerator.py
Due: pytest, clang-format

Make stable random test generation default
  verif/conformance/README.md
  verif/conformance/tosa_ext_profile_ops_info.json
  verif/conformance/tosa_verif_conformance_generator.py
  verif/generator/tosa_test_gen.py
  verif/generator/tosa_verif_build_tests.py
  verif/tests/test_tosa_refmodel.py
Due: pytest

Fix incorrect usage of and in tensor.cpp
  reference_model/src/tensor.cpp
Due: clang-format

Add bounds_file_required field to desc.json
  reference_model/src/main.cpp
  scripts/schemavalidation/desc.schema.json
  verif/generator/tosa_test_gen.py
  verif/runner/tosa_test_runner.py
Due: pytest, clang-format

Update to latest serialization_lib
  README.md
  verif/conformance/model_files.py
Due: pytest

Loosen EXP Compliance
  reference_model/src/ops/ewise_unary.cpp
  reference_model/src/verify/verify_abs_error.cpp
  reference_model/src/verify/verify_utils.cpp
  reference_model/src/verify/verify_utils.h
  scripts/schemavalidation/compliance-config.schema.json
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

Remove third party submodules
  .gitmodules
  CMakeLists.txt
  reference_model/CMakeLists.txt
  reference_model/custom_op_example/CMakeLists.txt
  reference_model/src/main.cpp
  reference_model/src/ops/template_types.h
  reference_model/src/tensor.h
  reference_model/src/verify/CMakeLists.txt
  reference_model/test/generate_tests.cpp
  reference_model/test/include/test_utils.h
  reference_model/test/verify_exe_testing.cpp
  thirdparty/CMakeLists.txt
  thirdparty/cxxopts/CMakeLists.txt
Due: clang-format

Enable function exports in dlls
  reference_model/include/generate.h
  reference_model/include/verify.h
Due: clang-format

Remove deprecated fields from desc.json
  README.md
  reference_model/src/main.cpp
  scripts/schemavalidation/desc.schema.json
  verif/generator/tosa_error_if.py
Due: pytest, clang-format

Add batch testing to Tensor tests
  verif/conformance/tosa_ext_profile_ops_info.json
Due: none

Add SECURITY.md to list third-party dependencies
  SECURITY.md
Due: none

Remove CONST_SHAPE tests from CTS
  verif/conformance/tosa_ext_profile_ops_info.json
Due: none

Portable pytests
  scripts/json2fbbin/json2fbbin.py
  verif/conformance/model_files.py
  verif/runner/run_command.py
  verif/runner/tosa_test_runner.py
Due: pytest

Fix Rescale Op zero-point extension
  reference_model/src/ops/type_conversion.cpp
  reference_model/test/ref_model_tests/type_conversion_tests.cpp
Due: clang-format

Avoid arithmetic on booleans
  reference_model/src/generate/generate_special_utils.h
  reference_model/test/generate_tests.cpp
Due: clang-format

Portable string formatting
  reference_model/src/graph_node.cpp
  reference_model/src/ops/control_flow.cpp
  reference_model/src/ops/type_conversion.cpp
  reference_model/src/subgraph_traverser.cpp
Due: clang-format

Remove unused declaration
  reference_model/src/ops/tensor_ops.h
Due: clang-format

Fix lots of type conversion warnings
  reference_model/src/generate/generate_pseudo_random.cpp
  reference_model/src/generate/generate_utils.cpp
  reference_model/src/verify/verify_main.cpp
  reference_model/src/verify/verify_utils.cpp
  reference_model/test/generate_tests.cpp
Due: clang-format

Initialize arrshape
  reference_model/src/tensor.cpp
Due: clang-format

Fix incompatibility with CMake 4
  SECURITY.md
  reference_model/src/main.cpp
  thirdparty/CMakeLists.txt
  thirdparty/patch_doctest2.4.11.cmake
Due: clang-format

Check multipliers and shift sizes in RESCALE
  reference_model/src/ops/type_conversion.cpp
  reference_model/test/include/test_utils.h
  reference_model/test/ref_model_tests/type_conversion_tests.cpp
Due: clang-format

Update gitignore for all build dirs
  .gitignore
Due: none

Update tosa tools default paths and README about CTS
  README.md
  verif/conformance/model_files.py
  verif/conformance/tosa_verif_conformance_generator.py
  verif/generator/tosa_verif_build_tests.py
  verif/runner/tosa_verif_run_tests.py
  verif/tests/test_utils.py
Due: pytest

Path conditions:
  pytest: any of: \.py$
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: build|third_party
