Repository jerryzhao173985/reference_model: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest, clang-format

.pre-commit-config.yaml:

# Copyright (c) 2021-2024 Arm Limited.
# SPDX-License-Identifier: Apache-2.0

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/asottile/reorder_python_imports
    rev: v3.13.0
    hooks:
    -   id: reorder-python-imports
      # The reorder python imports can get confused if directories exist.
      # Use a dummy application directory to avoid problems.
        args: [ "--application-directories=NotARealDirectoryName" ]

-   repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
    -   id: black

-   repo: https://github.com/pycqa/flake8
    rev: 7.1.1
    hooks:
    -   id: flake8

-   repo: local
    hooks:
    -   id: pytest
        name: pytest
        stages: [commit]
        language: system
        entry: pytest -m "not postcommit"
        types: [python]
        pass_filenames: false

-   repo: local
    hooks:
    -   id: clang-format
        name: clang-format
        exclude: build|third_party
        language: system
        entry: clang-format
        types: ["c++"]
        args: ["-i"]

Add rank 0 testing support
  .gitignore
  verif/conformance/tosa_base_profile_ops_info.json
  verif/conformance/tosa_main_profile_ops_info.json
  verif/generator/datagenerator.py
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
Due: pytest

Fix ARITHMETIC_RIGHT_SHIFT shift tensor type for int 8 & 16
  verif/generator/tosa_arg_gen.py
Due: pytest

RFFT2D, refmodel. Correct code when size is one
  reference_model/src/ops/tensor_ops.cc
Due: clang-format

Update compliance verify checks
  reference_model/src/verify/verify_abs_error.cc
  reference_model/src/verify/verify_utils.cc
Due: clang-format

SPECIAL data gen mode for FP16 and FP32
  reference_model/CMakeLists.txt
  reference_model/src/generate/generate_entry.cc
  reference_model/src/generate/generate_fp_special.cc
  reference_model/src/generate/generate_fp_special.h
  reference_model/src/generate/generate_utils.cc
  reference_model/src/generate/generate_utils.h
  reference_model/src/verify/verifiers.h
  reference_model/src/verify/verify_entry.cc
  reference_model/src/verify/verify_fp_special.cc
  reference_model/test/generate_tests.cpp
  scripts/schemavalidation/datagen-config.schema.json
  verif/conformance/test_select.py
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
  verif/generator/tosa_utils.py
  verif/tests/test_tosa_refmodel.py
Due: pytest, clang-format

Improve coverage of FP Binary Ops
  verif/conformance/tosa_main_profile_ops_info.json
Due: none

Improve coverage of FP Unary Ops
  verif/conformance/tosa_main_profile_ops_info.json
Due: none

Improve coverage of FP Activation Ops
  verif/conformance/tosa_main_profile_ops_info.json
  verif/conformance/tosa_verif_conformance_generator.py
Due: pytest

Add integer special tests for some ewise ops
  reference_model/src/generate/generate_int_special.cc
  reference_model/src/generate/generate_special.cc
  reference_model/src/generate/generate_special_utils.h
  reference_model/test/generate_tests.cpp
  verif/conformance/tosa_ext_profile_ops_info.json
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

Add integer special CTS tests for data layout ops
  reference_model/test/generate_tests.cpp
  verif/conformance/tosa_ext_profile_ops_info.json
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

Add CLAMP special integer test cases
  reference_model/src/generate/generate_int_special.cc
  reference_model/test/generate_tests.cpp
  verif/conformance/tosa_ext_profile_ops_info.json
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

Update tensor allocator for FP16 case
  reference_model/src/subgraph_traverser.cc
Due: clang-format

Fix MAXIMUM/MINIMUM handling of NaNs and zeroes
  reference_model/src/ops/ewise_binary.cc
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

Update FP Special/full tests for ACTIVATION & UNARY ops
  reference_model/src/generate/generate_fp_special.cc
  verif/conformance/tosa_main_profile_ops_info.json
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
  verif/generator/tosa_verif_build_tests.py
Due: pytest, clang-format

Add FP Special FP32 UNARY tests
  reference_model/src/generate/generate_fp_special.cc
  verif/conformance/tosa_main_profile_ops_info.json
  verif/generator/tosa_test_gen.py
  verif/tests/test_tosa_refmodel.py
Due: pytest, clang-format

Add rank 6 ACTIVATION FP tests
  verif/conformance/tosa_main_profile_ops_info.json
Due: none

Improve coverage for DATA LAYOUT tests
  verif/conformance/tosa_main_profile_ops_info.json
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
Due: pytest

Update reference generator test set calculation
  reference_model/src/generate/generate_dot_product_states.cc
Due: clang-format

Fix up refmodel generate unit_tests
  reference_model/test/generate_tests.cpp
Due: clang-format

Simplify tosa_base/main_profile_ops_info.json
  verif/conformance/tosa_base_profile_ops_info.json
  verif/conformance/tosa_main_profile_ops_info.json
  verif/conformance/tosa_verif_conformance_generator.py
Due: pytest

Fix rescale for signed inputs
  reference_model/src/ops/type_conversion.cc
Due: clang-format

Update test generator to fix padding in depthwise_conv2d
  verif/conformance/tosa_main_profile_ops_info.json
  verif/generator/tosa_arg_gen.py
Due: pytest

Allow close-call infinities in dot product operations
  reference_model/src/verify/verify_dot_product.cc
Due: clang-format

Add local_bound attribute support to conv ops
  reference_model/src/ops/tensor_ops.cc
  verif/conformance/test_select.py
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

Improve MI coverage for CONST & IDENTITY Op
  verif/conformance/tosa_main_profile_ops_info.json
Due: none

Add Tensor op integer special testing
  reference_model/src/dtype_limits.h
  reference_model/src/generate/generate_int_special.cc
  reference_model/src/generate/generate_pseudo_random.cc
  reference_model/src/generate/generate_special.cc
  reference_model/src/generate/generate_special_utils.h
  reference_model/src/generate/generate_utils.cc
  reference_model/src/generate/generate_utils.h
  reference_model/test/generate_tests.cpp
  verif/conformance/tosa_ext_profile_ops_info.json
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
  verif/generator/tosa_utils.py
Due: pytest, clang-format

Improve SLICE test creation
  verif/generator/tosa_arg_gen.py
Due: pytest

Fix FP special tests to not broadcast
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
Due: pytest

Extend SPECIAL data gen mode to Tensor ops
  reference_model/src/dtype_limits.h
  reference_model/src/generate/generate_fp_special.cc
  reference_model/src/ops/tensor_ops.cc
  reference_model/src/verify/verify_fp_special.cc
  verif/conformance/test_select.py
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

Update CTS support for EQUAL, GREATER_EQUAL and GREATER.
  reference_model/src/generate/generate_fp_special.cc
  reference_model/test/generate_tests.cpp
  verif/conformance/tosa_main_profile_ops_info.json
Due: clang-format

Add Random to FP Special data gen
  reference_model/src/generate/generate_fp_special.cc
  reference_model/src/generate/generate_utils.cc
  reference_model/src/generate/generate_utils.h
  reference_model/test/generate_tests.cpp
  scripts/schemavalidation/datagen-config.schema.json
  verif/generator/tosa_arg_gen.py
Due: pytest, clang-format

Update CTS support for GATHER and SCATTER.
  verif/conformance/tosa_main_profile_ops_info.json
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
Due: pytest

Enable FP Special tests for EW Binary ops
  reference_model/src/generate/generate_fp_special.cc
  reference_model/test/generate_tests.cpp
  verif/conformance/tosa_main_profile_ops_info.json
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

[TOSA] Limit shift length for logical shift in ref model.
  reference_model/src/ops/ewise_binary.cc
  verif/frameworks/arg_gen.py
  verif/frameworks/tensor_gen.py
  verif/frameworks/test_gen_utils.py
  verif/frameworks/tosa_verif_framework_generator.py
  verif/generator/tosa_arg_gen.py
Due: pytest, clang-format

[CTS SELECT op]: Add override to data-generation
  verif/conformance/tosa_main_profile_ops_info.json
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
Due: pytest

Update CTS support for REDUCE_MIN and REDUCE_MAX.
  verif/conformance/tosa_main_profile_ops_info.json
  verif/generator/tosa_test_gen.py
Due: pytest

Use uint64_t seeds for conformance tests
  reference_model/src/generate/generate_pseudo_random.cc
  reference_model/src/generate/generate_utils.cc
  reference_model/src/generate/generate_utils.h
  scripts/schemavalidation/datagen-config.schema.json
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_random_gen.py
Due: pytest, clang-format
