Repository jerryzhao173985/reference_model: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest, clang-format

pytest:
  name: pytest
  stages:
  - commit
  language: system
  entry: pytest -m "not postcommit"
  pass_filenames: false

clang-format:
  name: clang-format
  language: system
  entry: clang-format
  args:
  - -i

Update README for conformance
  README.md
Due: none

Show actual runtime value of shapeType tensors
  reference_model/src/ops/data_layout.cc
  reference_model/src/ops/shape.cc
  reference_model/src/tensor.cc
  reference_model/src/tensor.h
Due: clang-format

Make Full Range FP16 tests into extra tests
  reference_model/src/generate/generate_full_range.cc
  scripts/convert2conformance/convert2conformance.py
  verif/conformance/test_select.py
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

Modify Rescale signedness check to look at attributes
  reference_model/src/ops/type_conversion.cc
  reference_model/src/ops/type_conversion.h
Due: clang-format

Add support for multi args in tosa_verif_build_tests
  verif/generator/tosa_verif_build_tests.py
Due: pytest

Fix the wrong QMax and QMin type assignment in rescale op
  reference_model/src/arith_util.h
  reference_model/src/ops/type_conversion.cc
  reference_model/src/ops/type_conversion.h
Due: clang-format

Generate tests with random combination of const/inputs
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_verif_build_tests.py
Due: pytest

Fix/improve SLICE test generation
  verif/generator/tosa_arg_gen.py
Due: pytest

Add rank 0 testing support
  .gitignore
  verif/conformance/tosa_base_profile_ops_info.json
  verif/conformance/tosa_main_profile_ops_info.json
  verif/generator/datagenerator.py
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
Due: pytest

[ref_model] Remove assert on bad tensor type
  reference_model/src/tensor.h
Due: clang-format

[ref model] fix const/pad/clamp attribute serialization
  reference_model/include/dtype.h
  reference_model/src/float_utils.h
  reference_model/src/ops/activation_funcs.cc
  reference_model/src/ops/activation_funcs.h
  reference_model/src/ops/data_layout.cc
  reference_model/src/ops/ewise_unary.cc
  reference_model/src/ops/type_conversion.cc
  reference_model/src/subgraph_traverser.cc
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

SPECIAL data gen mode for FP16 and FP32
  reference_model/CMakeLists.txt
  reference_model/src/generate/generate_entry.cc
  reference_model/src/generate/generate_fp_special.cc
  reference_model/src/generate/generate_fp_special.h
  reference_model/src/generate/generate_utils.cc
  reference_model/src/generate/generate_utils.h
  reference_model/src/verify/verifiers.h
  reference_model/src/verify/verify_entry.cc
  reference_model/src/verify/verify_fp_special.cc
  reference_model/test/generate_tests.cpp
  scripts/schemavalidation/datagen-config.schema.json
  verif/conformance/test_select.py
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
  verif/generator/tosa_utils.py
  verif/tests/test_tosa_refmodel.py
Due: pytest, clang-format

Fix ARITHMETIC_RIGHT_SHIFT shift tensor type for int 8 & 16
  verif/generator/tosa_arg_gen.py
Due: pytest

Correct types of int16 and int8 input tensors for tests
  verif/generator/tosa_arg_gen.py
Due: pytest

Fix gcc warning of comparison of different signedness integers
  reference_model/src/arith_util.h
Due: clang-format

RFFT2D, refmodel. Correct code when size is one
  reference_model/src/ops/tensor_ops.cc
Due: clang-format

Improve coverage of FP Activation Ops
  verif/conformance/tosa_main_profile_ops_info.json
  verif/conformance/tosa_verif_conformance_generator.py
Due: pytest

Improve coverage of FP Unary Ops
  verif/conformance/tosa_main_profile_ops_info.json
Due: none

Improve coverage of FP Binary Ops
  verif/conformance/tosa_main_profile_ops_info.json
Due: none

Update compliance verify checks
  reference_model/src/ops/ewise_unary.cc
  reference_model/src/verify/verify_abs_error.cc
  reference_model/src/verify/verify_utils.cc
  reference_model/src/verify/verify_utils.h
  scripts/schemavalidation/compliance-config.schema.json
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

Non-finite data tag for FP_SPECIAL data gen tests
  verif/generator/tosa_arg_gen.py
Due: pytest

Add extensions & profiles support to conformance generator
  scripts/convert2conformance/convert2conformance.py
  verif/conformance/tosa_base_profile_ops_info.json
  verif/conformance/tosa_ext_profile_ops_info.json
  verif/conformance/tosa_profiles.py
  verif/conformance/tosa_verif_conformance_generator.py
Due: pytest

Remove invalid bit calculation from FP32 to FP8
  verif/generator/tosa_utils.py
Due: pytest

[reference_model] Remove output_shape from transpose_conv2d
  reference_model/src/ops/tensor_ops.cc
  verif/generator/tosa_error_if.py
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

Update float8 header and namespace
  reference_model/src/ops/type_conversion.cc
Due: clang-format

Update version to 1.0.0 draft
  examples/test_add_1x4x4x4_f32/flatbuffer-tf/desc.json
  examples/test_add_1x4x4x4_f32/flatbuffer-tf/test_add_1x4x4x4_f32.tosa
  examples/test_add_1x4x4x4_f32/flatbuffer-tflite/desc.json
  examples/test_add_1x4x4x4_f32/flatbuffer-tflite/test_add_1x4x4x4_f32.tosa
  examples/test_add_1x4x4x4_f32/model.pb
  examples/test_add_1x4x4x4_f32/model.tflite
  examples/test_conv2d_1x1_1x32x32x8_f32_st11_padSAME_dilat11/flatbuffer-tf/desc.json
  examples/test_conv2d_1x1_1x32x32x8_f32_st11_padSAME_dilat11/flatbuffer-tf/test_conv2d_1x1_1x32x32x8_f32_st11_padSAME_dilat11.tosa
  examples/test_conv2d_1x1_1x32x32x8_f32_st11_padSAME_dilat11/flatbuffer-tflite/desc.json
  examples/test_conv2d_1x1_1x32x32x8_f32_st11_padSAME_dilat11/flatbuffer-tflite/test_conv2d_1x1_1x32x32x8_f32_st11_padSAME_dilat11.tosa
  examples/test_conv2d_1x1_1x32x32x8_f32_st11_padSAME_dilat11/model.pb
  examples/test_conv2d_1x1_1x32x32x8_f32_st11_padSAME_dilat11/model.tflite
  examples/test_conv2d_1x1_1x32x32x8_qi8_st11_padSAME_dilat11/flatbuffer-tflite/desc.json
  examples/test_conv2d_1x1_1x32x32x8_qi8_st11_padSAME_dilat11/flatbuffer-tflite/test_conv2d_1x1_1x32x32x8_qi8_st11_padSAME_dilat11.tosa
  examples/test_conv2d_1x1_1x32x32x8_qi8_st11_padSAME_dilat11/model.tflite
  examples/test_lstm_stateful_13x21x3_f32/flatbuffer-tflite/test_lstm_stateful_13x21x3_f32.tosa
  examples/test_lstm_stateful_13x21x3_f32/model.tflite
  reference_model/include/version.h
Due: clang-format

Update main branch version to 1.1.0 draft
  examples/test_add_1x4x4x4_f32/flatbuffer-tf/test_add_1x4x4x4_f32.tosa
  examples/test_add_1x4x4x4_f32/flatbuffer-tflite/test_add_1x4x4x4_f32.tosa
  examples/test_conv2d_1x1_1x32x32x8_f32_st11_padSAME_dilat11/flatbuffer-tf/test_conv2d_1x1_1x32x32x8_f32_st11_padSAME_dilat11.tosa
  examples/test_conv2d_1x1_1x32x32x8_f32_st11_padSAME_dilat11/flatbuffer-tflite/test_conv2d_1x1_1x32x32x8_f32_st11_padSAME_dilat11.tosa
  examples/test_conv2d_1x1_1x32x32x8_qi8_st11_padSAME_dilat11/flatbuffer-tflite/test_conv2d_1x1_1x32x32x8_qi8_st11_padSAME_dilat11.tosa
  examples/test_lstm_stateful_13x21x3_f32/flatbuffer-tflite/test_lstm_stateful_13x21x3_f32.tosa
  reference_model/include/version.h
Due: clang-format

Update serialization_lib for flatbuffer v24.3.7
  verif/frameworks/tosa_verif_framework_compiler_runner.py
  verif/frameworks/tosa_verif_framework_generator.py
  verif/runner/tosa_verif_run_tests.py
Due: pytest

Fix MAXIMUM/MINIMUM handling of NaNs and zeroes
  reference_model/src/ops/ewise_binary.cc
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

Conformance extension support by default
  README.md
  verif/conformance/README.md
  verif/conformance/tosa_base_profile_framework_ops_info.json
  verif/conformance/tosa_base_profile_ops_info.json
  verif/conformance/tosa_main_profile_ops_info.json
  verif/conformance/tosa_verif_conformance_generator.py
Due: pytest

Update reference generator test set calculation
  reference_model/src/generate/generate_dot_product_states.cc
Due: clang-format

Add missing signed/unsigned data types of input/output for RESCALE op
  reference_model/src/ops/type_conversion.cc
Due: clang-format

[ref model] Fix pre-commit test to run on linux and macOS
  verif/tests/test_tosa_run_tests_runshcmd.py
Due: pytest

Change the table parameter from attribute to tensor type
  reference_model/src/ops/ewise_binary.cc
  reference_model/src/ops/ewise_binary.h
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

Update FP Special/full tests for ACTIVATION & UNARY ops
  reference_model/src/generate/generate_fp_special.cc
  verif/conformance/tosa_ext_profile_ops_info.json
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
  verif/generator/tosa_verif_build_tests.py
Due: pytest, clang-format

Fix dynamic_batch_to_space tf test case generation error
  verif/frameworks/tosa_verif_framework_generator.py
Due: pytest

Add FP Special FP32 UNARY tests
  reference_model/src/generate/generate_fp_special.cc
  verif/conformance/tosa_ext_profile_ops_info.json
  verif/generator/tosa_test_gen.py
  verif/tests/test_tosa_refmodel.py
Due: pytest, clang-format

Add rank 6 ACTIVATION FP tests
  verif/conformance/tosa_ext_profile_ops_info.json
Due: none

Add negative values to Stack axis arg
  verif/frameworks/arg_gen.py
Due: pytest

Improve coverage for DATA LAYOUT tests
  verif/conformance/tosa_ext_profile_ops_info.json
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
Due: pytest

Path conditions:
  pytest: any of: \.py$
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: build|third_party
