Repository jerryzhao173985/reference_model: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest, clang-format

.pre-commit-config.yaml:

# Copyright (c) 2021-2024 Arm Limited.
# SPDX-License-Identifier: Apache-2.0

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/asottile/reorder_python_imports
    rev: v3.13.0
    hooks:
    -   id: reorder-python-imports
      # The reorder python imports can get confused if directories exist.
      # Use a dummy application directory to avoid problems.
        args: [ "--application-directories=NotARealDirectoryName" ]

-   repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
    -   id: black

-   repo: https://github.com/pycqa/flake8
    rev: 7.1.1
    hooks:
    -   id: flake8

-   repo: local
    hooks:
    -   id: pytest
        name: pytest
        stages: [commit]
        language: system
        entry: pytest -m "not postcommit"
        types: [python]
        pass_filenames: false

-   repo: local
    hooks:
    -   id: clang-format
        name: clang-format
        exclude: build|third_party
        language: system
        entry: clang-format
        types: ["c++"]
        args: ["-i"]

Add configuration file for CodeRabbit integration
  .coderabbit.yaml
Due: none

Enhance build script and update example code
  reference_model/src/build_test_graph.sh
  reference_model/src/test_graph_example.cpp
Due: clang-format

Add custom_tosa_ops directory with CMakeLists.txt
  reference_model/custom_tosa_ops/CMakeLists.txt
Due: none

Update CMakeLists.txt to include custom_tosa_ops
  reference_model/CMakeLists.txt
Due: none

Implement custom matrix transform operation
  reference_model/custom_tosa_ops/matrix_transform_op.cpp
Due: clang-format

Implement custom attention operation
  reference_model/custom_tosa_ops/attention_op.cpp
Due: clang-format

Create test directory for custom operations
  verif/tosa_tests/custom/attention/desc.json
  verif/tosa_tests/custom/matrix_transform/desc.json
Due: none

Add advanced TOSA MLIR dialect operations: tensor fusion, spectral transforms, and advanced math
  reference_model/src/ops/advanced_tensor_ops.cpp
  reference_model/src/ops/advanced_tensor_ops.h
Due: clang-format

Complete advanced TOSA operations implementation with attribute definitions and factory integration
  reference_model/include/tosa_advanced_attributes.h
  reference_model/src/ops/advanced_tensor_ops_complete.cpp
  reference_model/src/ops/op_factory_advanced.h
Due: clang-format

Add comprehensive test suite for advanced TOSA MLIR dialect operations
  reference_model/test/CMakeLists_advanced.txt
  reference_model/test/test_advanced_tensor_ops.cpp
  verif/generator/tosa_advanced_test_gen.py
Due: pytest, clang-format

Add comprehensive documentation for advanced TOSA MLIR dialect operations
  docs/TOSA_MLIR_INTEGRATION.md
  docs/advanced_tosa_operations.md
Due: none

Create claude-dispatch.yml
  .github/workflows/claude-dispatch.yml
Due: none
