Repository jerryzhao173985/reference_model: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest, clang-format

pytest:
  name: pytest
  stages:
  - commit
  language: system
  entry: pytest -m "not postcommit"
  pass_filenames: false

clang-format:
  name: clang-format
  language: system
  entry: clang-format
  args:
  - -i

Main Compliance testing for SLICE
  reference_model/src/generate/generate_utils.cc
  verif/conformance/tosa_main_profile_ops_info.json
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

Fix logical right shift operator for signed negative integers
  reference_model/src/ops/ewise_binary.cc
Due: clang-format

Main Compliance: DEPTHWISE_CONV2D support
  reference_model/src/generate/generate_dot_product.cc
  reference_model/src/generate/generate_utils.cc
  reference_model/test/generate_tests.cpp
  verif/conformance/tosa_main_profile_ops_info.json
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

Main Compliance: TRANSPOSE_CONV2D support
  reference_model/src/generate/generate_dot_product.cc
  reference_model/src/generate/generate_utils.cc
  reference_model/test/generate_tests.cpp
  verif/conformance/tosa_main_profile_ops_info.json
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_error_if.py
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

Fix AVG_POOL2D bad_alloc with large kernel sizes
  reference_model/src/ops/tensor_ops.cc
Due: clang-format

Fix verify REDUCE_PRODUCT reporting
  reference_model/src/verify/verify_reduce_product.cc
Due: clang-format

Fix the improvement of the ABS_ERROR output
  reference_model/src/verify/verify_utils.cc
Due: clang-format

Fix AvgPool2D regression
  reference_model/src/ops/tensor_ops.cc
Due: clang-format

Main Compliance testing for TRANSPOSE, REVERSE, and CONST
  reference_model/src/generate/generate_utils.cc
  verif/conformance/tosa_main_profile_ops_info.json
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

Improve Avg_Pool2D ErrorIf Testing
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_error_if.py
  verif/generator/tosa_test_gen.py
Due: pytest

Main Compliance: Update POW error bound
  reference_model/src/ops/ewise_binary.cc
Due: clang-format

Main Compliance: FFT2D support
  reference_model/src/generate/generate_dot_product.cc
  reference_model/src/generate/generate_dot_product.h
  reference_model/src/generate/generate_dot_product_states.cc
  reference_model/src/generate/generate_utils.cc
  reference_model/src/ops/tensor_ops.cc
  reference_model/src/verify/verify_dot_product.cc
  reference_model/test/generate_tests.cpp
  verif/checker/tosa_result_checker.py
  verif/conformance/tosa_main_profile_ops_info.json
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

Main Compliance testing for CONV3D
  reference_model/src/generate/generate_dot_product.cc
  reference_model/src/generate/generate_utils.cc
  reference_model/test/generate_tests.cpp
  verif/conformance/tosa_main_profile_ops_info.json
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

Main Compliance: RFFT2D support
  reference_model/src/generate/generate_dot_product.cc
  reference_model/src/generate/generate_utils.cc
  reference_model/src/ops/tensor_ops.cc
  reference_model/test/generate_tests.cpp
  verif/conformance/tosa_main_profile_ops_info.json
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

Main Compliance: Add RESIZE support
  reference_model/CMakeLists.txt
  reference_model/src/generate/generate_utils.cc
  reference_model/src/verify/verifiers.h
  reference_model/src/verify/verify_entry.cc
  reference_model/src/verify/verify_relative.cc
  reference_model/src/verify/verify_utils.cc
  reference_model/src/verify/verify_utils.h
  reference_model/test/verify_tests.cpp
  scripts/schemavalidation/compliance-config.schema.json
  verif/conformance/tosa_main_profile_ops_info.json
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_error_if.py
  verif/generator/tosa_test_gen.py
  verif/generator/tosa_utils.py
Due: pytest, clang-format

Update test builder internal interfaces
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
  verif/generator/tosa_verif_build_tests.py
Due: pytest

Unpin Numpy version
  setup.cfg
Due: none

Fix REDUCE ops to support 8k MAX_RANK
  reference_model/src/ops/reduction.cc
  verif/conformance/tosa_base_profile_ops_info.json
  verif/conformance/tosa_main_profile_ops_info.json
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

Minor fix ups in verify lib
  reference_model/src/verify/verify_dot_product.cc
  reference_model/src/verify/verify_reduce_product.cc
  reference_model/src/verify/verify_utils.cc
  reference_model/src/verify/verify_utils.h
Due: clang-format

Verifier - change to output largest error deviance
  reference_model/src/verify/verifiers.h
  reference_model/src/verify/verify_abs_error.cc
  reference_model/src/verify/verify_dot_product.cc
  reference_model/src/verify/verify_reduce_product.cc
  reference_model/src/verify/verify_relative.cc
  reference_model/src/verify/verify_ulp.cc
  reference_model/src/verify/verify_utils.cc
  reference_model/src/verify/verify_utils.h
Due: clang-format

Ensure only matching op conformance tests
  verif/conformance/tosa_base_profile_ops_info.json
  verif/conformance/tosa_main_profile_ops_info.json
  verif/conformance/tosa_verif_conformance_generator.py
Due: pytest

Fix REDUCE_SUM compliance test creation
  verif/generator/tosa_arg_gen.py
Due: pytest

Add support for precise mode in eager runner
  reference_model/src/model_runner_impl.cc
  reference_model/src/model_runner_impl.h
  reference_model/src/tensor.cc
Due: clang-format

Re-instate missing conformance tests
  verif/conformance/README.md
  verif/conformance/tosa_base_profile_ops_info.json
  verif/conformance/tosa_main_profile_ops_info.json
  verif/conformance/tosa_verif_conformance_generator.py
Due: pytest

Take into account of `output_unsigned` in rescale operation
  reference_model/include/dtype.h
  reference_model/src/arith_util.h
  reference_model/src/ops/type_conversion.cc
  reference_model/src/ops/type_conversion.h
Due: clang-format

Compliance Test Set 3 data fix
  reference_model/src/generate/generate_dot_product_states.cc
  reference_model/test/generate_tests.cpp
Due: clang-format

FULL data gen mode for FP16
  reference_model/CMakeLists.txt
  reference_model/src/generate/generate_entry.cc
  reference_model/src/generate/generate_full_range.cc
  reference_model/src/generate/generate_full_range.h
  reference_model/src/generate/generate_utils.cc
  reference_model/src/generate/generate_utils.h
  reference_model/src/verify/verify_abs_error.cc
  reference_model/src/verify/verify_utils.cc
  reference_model/test/generate_tests.cpp
  scripts/schemavalidation/datagen-config.schema.json
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
  verif/generator/tosa_utils.py
Due: pytest, clang-format

Make Full Range FP16 tests into extra tests
  reference_model/src/generate/generate_full_range.cc
  scripts/convert2conformance/convert2conformance.py
  verif/conformance/test_select.py
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

Improved test selection before test generation
  verif/conformance/README.md
  verif/conformance/tosa_main_profile_ops_info.json
  verif/conformance/tosa_verif_conformance_generator.py
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_error_if.py
  verif/generator/tosa_test_gen.py
  verif/generator/tosa_test_select.py
  verif/generator/tosa_verif_build_tests.py
Due: pytest

Add quick testing selection default
  verif/generator/tosa_verif_build_tests.py
Due: pytest

Updated build_tests to support different random generators
  verif/conformance/tosa_main_profile_ops_info.json
  verif/conformance/tosa_verif_conformance_generator.py
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_error_if.py
  verif/generator/tosa_random_gen.py
  verif/generator/tosa_test_gen.py
  verif/generator/tosa_verif_build_tests.py
Due: pytest

Modify Rescale signedness check to look at attributes
  reference_model/src/ops/type_conversion.cc
  reference_model/src/ops/type_conversion.h
Due: clang-format

Improve CONV2D coverage for conformance
  verif/conformance/tosa_main_profile_ops_info.json
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
  verif/generator/tosa_test_select.py
  verif/generator/tosa_utils.py
  verif/generator/tosa_verif_build_tests.py
Due: pytest

Improve PAD coverage for main conformance
  verif/conformance/tosa_main_profile_ops_info.json
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_verif_build_tests.py
Due: pytest

Fix the wrong QMax and QMin type assignment in rescale op
  reference_model/src/arith_util.h
  reference_model/src/ops/type_conversion.cc
  reference_model/src/ops/type_conversion.h
Due: clang-format

Fix missing/broken ERROR_IF tests
  verif/conformance/tosa_verif_conformance_generator.py
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_error_if.py
  verif/generator/tosa_test_gen.py
  verif/generator/tosa_test_select.py
  verif/generator/tosa_utils.py
  verif/generator/tosa_verif_build_tests.py
Due: pytest

Add support for multi args in tosa_verif_build_tests
  verif/generator/tosa_verif_build_tests.py
Due: pytest

Generate tests with random combination of const/inputs
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_verif_build_tests.py
Due: pytest

Fix/improve SLICE test generation
  verif/generator/tosa_arg_gen.py
Due: pytest

Correct types of int16 and int8 input tensors for tests
  verif/generator/tosa_arg_gen.py
Due: pytest

Path conditions:
  pytest: any of: \.py$
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: build|third_party
