Repository jerryzhao173985/reference_model: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest, clang-format

pytest:
  name: pytest
  stages:
  - commit
  language: system
  entry: pytest -m "not postcommit"
  pass_filenames: false

clang-format:
  name: clang-format
  language: system
  entry: clang-format
  args:
  - -i

Pin numpy version for compatibility.
  setup.cfg
Due: none

Main Compliance testing for simple UNARY ops
  reference_model/src/generate/generate_utils.cc
  reference_model/src/verify/verify_ulp.cc
  reference_model/src/verify/verify_utils.cc
  reference_model/src/verify/verify_utils.h
  reference_model/test/verify_tests.cpp
  verif/conformance/tosa_main_profile_ops_info.json
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_error_if.py
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

Main Compliance testing support for EXP & POW
  reference_model/CMakeLists.txt
  reference_model/src/generate/generate_utils.cc
  reference_model/src/main.cpp
  reference_model/src/ops/ewise_binary.cc
  reference_model/src/ops/ewise_unary.cc
  reference_model/src/verify/verifiers.h
  reference_model/src/verify/verify_abs_error.cc
  reference_model/src/verify/verify_entry.cc
  reference_model/src/verify/verify_ulp.cc
  reference_model/src/verify/verify_utils.cc
  reference_model/src/verify/verify_utils.h
  reference_model/test/verify_tests.cpp
  verif/conformance/tosa_main_profile_ops_info.json
  verif/generator/tosa_test_gen.py
  verif/generator/tosa_utils.py
  verif/runner/tosa_test_runner.py
Due: pytest, clang-format

Fix FP16, BF16 data ranges for conformance tests
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
Due: pytest

Main Compliance testing support for AVG_POOL2D
  reference_model/src/generate/generate_dot_product.cc
  reference_model/src/generate/generate_dot_product_states.cc
  reference_model/src/generate/generate_utils.cc
  reference_model/src/verify/verify_dot_product.cc
  reference_model/test/generate_tests.cpp
  verif/conformance/tosa_main_profile_ops_info.json
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

Verify library fix to only accept FP64 ref data
  reference_model/src/verify/verify_entry.cc
  verif/checker/tosa_result_checker.py
Due: pytest, clang-format

Main Compliance testing support for LOG and ACTIVATIONs
  reference_model/src/generate/generate_utils.cc
  reference_model/src/verify/verify_abs_error.cc
  reference_model/src/verify/verify_ulp.cc
  reference_model/src/verify/verify_utils.cc
  verif/conformance/tosa_main_profile_ops_info.json
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

Fix compile flags for MSVC
  reference_model/CMakeLists.txt
  reference_model/src/verify/CMakeLists.txt
Due: none

Add integer special tests for simple binary ops
  reference_model/src/generate/generate_int_special.cc
  reference_model/src/generate/generate_special.cc
  reference_model/src/generate/generate_special_utils.h
  reference_model/src/generate/generate_utils.cc
  reference_model/test/generate_tests.cpp
  reference_model/test/test_utils.h
  verif/conformance/tosa_ext_profile_ops_info.json
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

Adjust random data ranges for Main Compliance to avoid FP inf and nan
  reference_model/src/generate/generate_dot_product.cc
  reference_model/src/generate/generate_pseudo_random.cc
  reference_model/src/generate/generate_utils.cc
  reference_model/src/generate/generate_utils.h
  scripts/schemavalidation/datagen-config.schema.json
  verif/conformance/test_select.py
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

Main Compliance FP16 support - generate and verify.
  reference_model/src/generate/generate_dot_product.cc
  reference_model/src/generate/generate_pseudo_random.cc
  reference_model/src/verify/verify_abs_error.cc
  reference_model/src/verify/verify_dot_product.cc
  reference_model/src/verify/verify_exact.cc
  reference_model/src/verify/verify_ulp.cc
  reference_model/src/verify/verify_utils.cc
  reference_model/src/verify/verify_utils.h
  verif/generator/datagenerator.py
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_utils.py
Due: pytest, clang-format

Main Compliance testing support for RESHAPE
  reference_model/src/generate/generate_utils.cc
  verif/conformance/tosa_main_profile_ops_info.json
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

Main Compliance testing support for CAST
  reference_model/src/generate/generate_utils.cc
  verif/conformance/tosa_main_profile_ops_info.json
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

Main Compliance testing support for COMPARISON ops
  reference_model/src/generate/generate_pseudo_random.cc
  reference_model/src/generate/generate_utils.cc
  verif/conformance/tosa_main_profile_ops_info.json
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

Enforce no output rewrite REQUIRE in SCATTER
  reference_model/src/ops/scatter_gather.cc
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

Path fixes for ref model and libraries
  verif/checker/tosa_result_checker.py
  verif/checker/verifier.py
  verif/generator/datagenerator.py
Due: pytest

Rectify coverage loss due to FP16 compliance
  verif/conformance/tosa_main_profile_ops_info.json
Due: none

Change TANH, SIGMOID to ABS_ERROR compliance
  reference_model/src/ops/activation_funcs.cc
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

Main Conformance: Adjust TANH compliance value
  reference_model/src/ops/activation_funcs.cc
Due: clang-format

Use smart pointers to manage attribute objects
  reference_model/src/graph_node.h
  reference_model/src/ops/activation_funcs.cc
  reference_model/src/ops/activation_funcs.h
  reference_model/src/ops/control_flow.cc
  reference_model/src/ops/control_flow.h
  reference_model/src/ops/custom.cc
  reference_model/src/ops/custom.h
  reference_model/src/ops/data_layout.cc
  reference_model/src/ops/data_layout.h
  reference_model/src/ops/ewise_binary.cc
  reference_model/src/ops/ewise_binary.h
  reference_model/src/ops/ewise_unary.cc
  reference_model/src/ops/ewise_unary.h
  reference_model/src/ops/image.cc
  reference_model/src/ops/image.h
  reference_model/src/ops/reduction.cc
  reference_model/src/ops/reduction.h
  reference_model/src/ops/tensor_ops.cc
  reference_model/src/ops/tensor_ops.h
  reference_model/src/ops/type_conversion.cc
  reference_model/src/ops/type_conversion.h
Due: clang-format

[Fix] Overflow warning in conversion from float to int
  reference_model/src/arith_util.h
Due: clang-format

Fix Cast Float to Int overflows
  reference_model/src/ops/type_conversion.cc
Due: clang-format

Main Compliance testing for SCATTER and GATHER
  reference_model/src/generate/generate_pseudo_random.cc
  reference_model/src/generate/generate_utils.cc
  reference_model/test/generate_tests.cpp
  verif/conformance/tosa_base_profile_ops_info.json
  verif/conformance/tosa_main_profile_ops_info.json
  verif/generator/datagenerator.py
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_error_if.py
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

Remove inferred dimension from RESHAPE
  reference_model/src/ops/data_layout.cc
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_error_if.py
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

Main Conformance: Add CONV2D f32 test with zero padding
  verif/conformance/tosa_main_profile_ops_info.json
Due: none

Fix Cast FP32 to Int32 Overflow
  reference_model/src/ops/type_conversion.cc
Due: clang-format

Main compliance: Fix CONV2D weight generation
  reference_model/src/generate/generate_dot_product.cc
Due: clang-format

Main Conformance: Re-adjust TANH compliance check
  reference_model/src/ops/activation_funcs.cc
  reference_model/src/verify/verifiers.h
  reference_model/src/verify/verify_abs_error.cc
  reference_model/src/verify/verify_entry.cc
  reference_model/src/verify/verify_ulp.cc
  reference_model/src/verify/verify_utils.cc
  reference_model/src/verify/verify_utils.h
  scripts/schemavalidation/compliance-config.schema.json
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

Main Compliance: REDUCE_PRODUCT support
  reference_model/src/generate/generate_utils.cc
  reference_model/src/verify/verifiers.h
  reference_model/src/verify/verify_entry.cc
  reference_model/src/verify/verify_reduce_product.cc
  reference_model/src/verify/verify_utils.cc
  reference_model/test/verify_tests.cpp
  scripts/schemavalidation/compliance-config.schema.json
  verif/conformance/tosa_main_profile_ops_info.json
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

Main Compliance testing for SELECT
  reference_model/src/generate/generate_utils.cc
  verif/conformance/tosa_main_profile_ops_info.json
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

Main Compliance testing for CONCAT
  reference_model/src/generate/generate_utils.cc
  verif/conformance/tosa_main_profile_ops_info.json
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

Main Compliance testing for TILE
  reference_model/src/generate/generate_utils.cc
  verif/conformance/tosa_main_profile_ops_info.json
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

Fix and improve verify ABS_ERROR reporting
  reference_model/src/verify/verify_abs_error.cc
  reference_model/src/verify/verify_utils.cc
Due: clang-format

Revert "Remove inferred dimension from RESHAPE"
  reference_model/src/ops/data_layout.cc
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_error_if.py
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

Support loading shared libraries for custom operators
  CMakeLists.txt
  reference_model/CMakeLists.txt
  reference_model/custom_op_example/CMakeLists.txt
  reference_model/custom_op_example/custom_op_example.cpp
  reference_model/include/custom_op_interface.h
  reference_model/include/custom_registry.h
  reference_model/include/func_config.h
  reference_model/src/command_line_utils.h
  reference_model/src/main.cpp
  reference_model/src/ops/custom.cc
  reference_model/src/ops/custom.h
  reference_model/src/ops/op_factory.cc
Due: clang-format

Temp fix to allow reference_model read shape as both input and attribute
  reference_model/src/ops/data_layout.cc
  reference_model/src/subgraph_traverser.cc
Due: clang-format

Revert "Temp fix to allow reference_model read shape as both input and attribute"
  reference_model/src/ops/data_layout.cc
  reference_model/src/subgraph_traverser.cc
Due: clang-format

Path conditions:
  pytest: any of: \.py$
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: build|third_party
