Repository jerryzhao173985/reference_model: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest, clang-format

.pre-commit-config.yaml:

# Copyright (c) 2021-2023 Arm Limited.
# SPDX-License-Identifier: Apache-2.0

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/asottile/reorder_python_imports
    rev: v3.0.1
    hooks:
    -   id: reorder-python-imports

-   repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
    -   id: black

-   repo: https://github.com/pycqa/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8

-   repo: local
    hooks:
    -   id: pytest
        name: pytest
        stages: [commit]
        language: system
        entry: pytest -m "not postcommit"
        types: [python]
        pass_filenames: false

-   repo: local
    hooks:
    -   id: clang-format
        name: clang-format
        exclude: build|third_party
        language: system
        entry: clang-format
        types: ["c++"]
        args: ["-i"]

-   repo: local
    hooks:
    -   id: check-operator-api
        name: check-operator-api
        language: system
        entry: python3 scripts/operator_api/generate_api.py
        pass_filenames: false
        always_run: true

Verify library fix to only accept FP64 ref data
  reference_model/src/verify/verify_entry.cc
  verif/checker/tosa_result_checker.py
Due: pytest, clang-format

Main Compliance testing support for LOG and ACTIVATIONs
  reference_model/src/generate/generate_utils.cc
  reference_model/src/verify/verify_abs_error.cc
  reference_model/src/verify/verify_ulp.cc
  reference_model/src/verify/verify_utils.cc
  verif/conformance/tosa_main_profile_ops_info.json
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

Main Compliance testing support for COMPARISON ops
  reference_model/src/generate/generate_pseudo_random.cc
  reference_model/src/generate/generate_utils.cc
  verif/conformance/tosa_main_profile_ops_info.json
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

Fix Fast Fourier Transforms in operator API
  reference_model/include/operators.h
  reference_model/src/operators.cc
  reference_model/test/model_runner_tests.cpp
  scripts/operator_api/generate_api.py
Due: pytest, clang-format

Pass func_config to individual operator API
  reference_model/include/operators.h
  reference_model/src/operators.cc
  reference_model/test/model_runner_tests.cpp
  scripts/operator_api/generate_api.py
  scripts/operator_api/templates/operators_cc.j2
  scripts/operator_api/templates/operators_h.j2
Due: pytest, clang-format

Rework TOSA verification API
  reference_model/CMakeLists.txt
  reference_model/include/operators.h
  reference_model/include/types.h
  reference_model/include/verify.h
  reference_model/src/verify.cc
  reference_model/src/verify/verifiers.h
  reference_model/src/verify/verify_dot_product.cc
  reference_model/src/verify/verify_entry.cc
  reference_model/src/verify/verify_utils.cc
  reference_model/src/verify/verify_utils.h
  reference_model/test/verify_tests.cpp
Due: clang-format

Upgrade to latest version of TOSA specification
  reference_model/include/operators.h
  reference_model/src/operators.cc
  reference_model/test/model_runner_tests.cpp
  scripts/operator_api/generate_api.py
  scripts/operator_api/templates/operators_cc.j2
  scripts/operator_api/templates/operators_h.j2
Due: pytest, clang-format

[reference_model] Support StatefulOps and the tests for CallOnceOp
  examples/test_stateful_op/desc.json
  examples/test_stateful_op/placeholder_0.npy
  examples/test_stateful_op/test_variable_add.tosa
  examples/test_stateful_op/variable_0.npy
  reference_model/include/func_config.h
  reference_model/src/command_line_utils.h
  reference_model/src/graph_node.cc
  reference_model/src/graph_node.h
  reference_model/src/main.cpp
  reference_model/src/subgraph_traverser.cc
  reference_model/src/subgraph_traverser.h
  reference_model/src/tensor.cc
  reference_model/src/tensor.h
  verif/frameworks/test_builder.py
  verif/frameworks/tosa_verif_framework_generator.py
Due: pytest, clang-format

Pass parameter acc_size to AvgPool2d operator
  reference_model/include/operators.h
  reference_model/include/types.h
  reference_model/src/operators.cc
  reference_model/test/model_runner_tests.cpp
  scripts/operator_api/generate_api.py
  scripts/operator_api/templates/operators_cc.j2
Due: pytest, clang-format

Add check of operator API to precommit
  .pre-commit-config.yaml
  reference_model/src/operators.cc
  scripts/operator_api/generate_api.py
Due: pytest, clang-format

Fix Reshape in operator API
  reference_model/include/operators.h
  reference_model/src/operators.cc
  reference_model/test/model_runner_tests.cpp
  scripts/operator_api/generate_api.py
Due: pytest, clang-format

Fix TransposeConv2d in operator API
  reference_model/include/operators.h
  reference_model/src/operators.cc
  reference_model/test/model_runner_tests.cpp
  scripts/operator_api/generate_api.py
Due: pytest, clang-format

[fix] Fix the parsing failure during splitting multiple files to the argument
  reference_model/src/main.cpp
Due: clang-format

[reference_model] Add local_bound support
  reference_model/include/operators.h
  reference_model/src/operators.cc
  reference_model/src/ops/tensor_ops.cc
  reference_model/src/ops/tensor_ops.h
  reference_model/test/model_runner_tests.cpp
Due: clang-format

Adjust random data ranges for Main Compliance to avoid FP inf and nan
  reference_model/src/generate/generate_dot_product.cc
  reference_model/src/generate/generate_pseudo_random.cc
  reference_model/src/generate/generate_utils.cc
  reference_model/src/generate/generate_utils.h
  scripts/schemavalidation/datagen-config.schema.json
  verif/conformance/test_select.py
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

Main Compliance testing support for CAST
  reference_model/src/generate/generate_utils.cc
  verif/conformance/tosa_main_profile_ops_info.json
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

Main Compliance testing support for RESHAPE
  reference_model/src/generate/generate_utils.cc
  verif/conformance/tosa_main_profile_ops_info.json
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

Main Compliance FP16 support - generate and verify.
  reference_model/src/generate/generate_dot_product.cc
  reference_model/src/generate/generate_pseudo_random.cc
  reference_model/src/verify/verify_abs_error.cc
  reference_model/src/verify/verify_dot_product.cc
  reference_model/src/verify/verify_exact.cc
  reference_model/src/verify/verify_ulp.cc
  reference_model/src/verify/verify_utils.cc
  reference_model/src/verify/verify_utils.h
  verif/generator/datagenerator.py
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_utils.py
Due: pytest, clang-format

Change TANH, SIGMOID to ABS_ERROR compliance
  reference_model/src/ops/activation_funcs.cc
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

Path fixes for ref model and libraries
  reference_model/src/main.cpp
  verif/checker/tosa_result_checker.py
  verif/checker/verifier.py
  verif/generator/datagenerator.py
Due: pytest, clang-format

Fix Format Specifiers for MUL REQUIRES output
  reference_model/src/ops/ewise_binary.cc
Due: clang-format

Update 0.80.0 example tosa flatbuffer files
  examples/test_add_1x4x4x4_f32/flatbuffer-tf/test_add_1x4x4x4_f32.tosa
  examples/test_add_1x4x4x4_f32/flatbuffer-tflite/test_add_1x4x4x4_f32.tosa
  examples/test_conv2d_1x1_1x32x32x8_f32_st11_padSAME_dilat11/flatbuffer-tf/test_conv2d_1x1_1x32x32x8_f32_st11_padSAME_dilat11.tosa
  examples/test_conv2d_1x1_1x32x32x8_f32_st11_padSAME_dilat11/flatbuffer-tflite/test_conv2d_1x1_1x32x32x8_f32_st11_padSAME_dilat11.tosa
  examples/test_conv2d_1x1_1x32x32x8_qi8_st11_padSAME_dilat11/flatbuffer-tflite/test_conv2d_1x1_1x32x32x8_qi8_st11_padSAME_dilat11.tosa
Due: none

[reference_model] add local_bound attribute to test_gen
  verif/generator/tosa_test_gen.py
Due: pytest

Add support for int16_t inputs in eager interface
  reference_model/src/model_runner_impl.cc
  reference_model/src/tensor.cc
  reference_model/src/tensor.h
  reference_model/test/model_runner_tests.cpp
Due: clang-format

Add support for list of tensors as input parameter
  reference_model/include/operators.h
  reference_model/include/types.h
  reference_model/src/operators.cc
  reference_model/test/model_runner_tests.cpp
  scripts/operator_api/generate_api.py
  scripts/operator_api/templates/operators_cc.j2
Due: pytest, clang-format

Rectify coverage loss due to FP16 compliance
  verif/conformance/tosa_main_profile_ops_info.json
Due: none

Enforce no output rewrite REQUIRE in SCATTER
  reference_model/src/ops/scatter_gather.cc
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

Main Conformance: Adjust TANH compliance value
  reference_model/src/ops/activation_funcs.cc
Due: clang-format

Add interface to model runner to run a basic block
  reference_model/include/model_runner.h
  reference_model/src/model_runner.cc
Due: clang-format

Main Compliance testing for SCATTER and GATHER
  reference_model/src/generate/generate_pseudo_random.cc
  reference_model/src/generate/generate_utils.cc
  reference_model/test/generate_tests.cpp
  verif/conformance/tosa_base_profile_ops_info.json
  verif/conformance/tosa_main_profile_ops_info.json
  verif/generator/datagenerator.py
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_error_if.py
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

Remove inferred dimension from RESHAPE
  reference_model/src/ops/data_layout.cc
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_error_if.py
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

Add basic framework test cases for dynamic shapes
  verif/frameworks/test_builder.py
  verif/frameworks/tosa_verif_framework_generator.py
Due: pytest

Update conformance tests to use new rescale attributes
  verif/generator/tosa_test_gen.py
Due: pytest

Change version to 0.80.1
  examples/test_add_1x4x4x4_f32/flatbuffer-tf/test_add_1x4x4x4_f32.tosa
  examples/test_add_1x4x4x4_f32/flatbuffer-tflite/test_add_1x4x4x4_f32.tosa
  examples/test_add_1x4x4x4_f32/model.pb
  examples/test_add_1x4x4x4_f32/model.tflite
  examples/test_add_1x4x4x4_f32/test.json
  examples/test_conv2d_1x1_1x32x32x8_f32_st11_padSAME_dilat11/flatbuffer-tf/test_conv2d_1x1_1x32x32x8_f32_st11_padSAME_dilat11.tosa
  examples/test_conv2d_1x1_1x32x32x8_f32_st11_padSAME_dilat11/flatbuffer-tflite/test_conv2d_1x1_1x32x32x8_f32_st11_padSAME_dilat11.tosa
  examples/test_conv2d_1x1_1x32x32x8_f32_st11_padSAME_dilat11/model.pb
  examples/test_conv2d_1x1_1x32x32x8_f32_st11_padSAME_dilat11/model.tflite
  examples/test_conv2d_1x1_1x32x32x8_f32_st11_padSAME_dilat11/test.json
  examples/test_conv2d_1x1_1x32x32x8_qi8_st11_padSAME_dilat11/flatbuffer-tflite/test_conv2d_1x1_1x32x32x8_qi8_st11_padSAME_dilat11.tosa
  examples/test_conv2d_1x1_1x32x32x8_qi8_st11_padSAME_dilat11/model.tflite
  examples/test_conv2d_1x1_1x32x32x8_qi8_st11_padSAME_dilat11/placeholder_0.npy
  examples/test_conv2d_1x1_1x32x32x8_qi8_st11_padSAME_dilat11/test.json
  reference_model/include/version.h
Due: clang-format

Fix Cast FP32 to Int32 Overflow
  reference_model/src/ops/type_conversion.cc
Due: clang-format

Fix Cast Float to Int overflows
  reference_model/src/ops/type_conversion.cc
Due: clang-format

Fix dynamic_input_shape referenced before assignment error
  verif/frameworks/tosa_verif_framework_generator.py
Due: pytest

Remove operators API
  .pre-commit-config.yaml
  reference_model/CMakeLists.txt
  reference_model/include/operators.h
  reference_model/include/types.h
  reference_model/src/operators.cc
  reference_model/test/model_runner_tests.cpp
  scripts/operator_api/README.md
  scripts/operator_api/generate_api.py
  scripts/operator_api/templates/operators_cc.j2
  scripts/operator_api/templates/operators_h.j2
Due: pytest, clang-format

Main Compliance: REDUCE_PRODUCT support
  reference_model/src/generate/generate_utils.cc
  reference_model/src/verify/verifiers.h
  reference_model/src/verify/verify_entry.cc
  reference_model/src/verify/verify_reduce_product.cc
  reference_model/src/verify/verify_utils.cc
  reference_model/test/verify_tests.cpp
  scripts/schemavalidation/compliance-config.schema.json
  verif/conformance/tosa_main_profile_ops_info.json
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

Main Conformance: Re-adjust TANH compliance check
  reference_model/src/ops/activation_funcs.cc
  reference_model/src/verify/verifiers.h
  reference_model/src/verify/verify_abs_error.cc
  reference_model/src/verify/verify_entry.cc
  reference_model/src/verify/verify_ulp.cc
  reference_model/src/verify/verify_utils.cc
  reference_model/src/verify/verify_utils.h
  scripts/schemavalidation/compliance-config.schema.json
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format
