Repository jerryzhao173985/reference_model: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest, clang-format

pytest:
  name: pytest
  stages:
  - commit
  language: system
  entry: pytest -m "not postcommit"
  pass_filenames: false

clang-format:
  name: clang-format
  language: system
  entry: clang-format
  args:
  - -i

Pass parameter acc_size to AvgPool2d operator
  reference_model/include/operators.h
  reference_model/include/types.h
  reference_model/src/operators.cc
  reference_model/test/model_runner_tests.cpp
  scripts/operator_api/generate_api.py
  scripts/operator_api/templates/operators_cc.j2
Due: pytest, clang-format

Change version scheme to not guess next version
  pyproject.toml
Due: none

Add 0-rank tensor support for concat in framework test
  verif/frameworks/arg_gen.py
  verif/frameworks/tensor_gen.py
  verif/frameworks/test_builder.py
  verif/frameworks/test_gen_utils.py
  verif/frameworks/tosa_verif_framework_generator.py
Due: pytest

Refactor path arguments to tosa-tools
  scripts/convert2conformance/convert2conformance.py
  verif/checker/verifier.py
  verif/conformance/model_files.py
  verif/conformance/tosa_verif_conformance_generator.py
  verif/runner/tosa_refmodel_sut_run.py
  verif/runner/tosa_test_runner.py
  verif/runner/tosa_verif_run_tests.py
  verif/tests/test_tosa_run_tests_args.py
  verif/tests/test_tosa_verifier.py
  verif/tests/tosa_mock_sut_run.py
Due: pytest

feat: Add exact verifier
  reference_model/CMakeLists.txt
  reference_model/src/verify/verifiers.h
  reference_model/src/verify/verify_dot_product.cc
  reference_model/src/verify/verify_entry.cc
  reference_model/src/verify/verify_exact.cc
  reference_model/src/verify/verify_utils.h
  reference_model/test/verify_tests.cpp
Due: clang-format

Update .gitignore files
  .gitignore
Due: none

Add ULP verification for fp32
  reference_model/CMakeLists.txt
  reference_model/src/verify/verifiers.h
  reference_model/src/verify/verify_entry.cc
  reference_model/src/verify/verify_ulp.cc
  reference_model/src/verify/verify_utils.h
  reference_model/test/verify_tests.cpp
Due: clang-format

Update verifier library data-type support
  reference_model/src/verify/verify_dot_product.cc
  reference_model/src/verify/verify_entry.cc
  reference_model/src/verify/verify_exact.cc
  reference_model/src/verify/verify_ulp.cc
  reference_model/src/verify/verify_utils.cc
  reference_model/src/verify/verify_utils.h
  reference_model/test/verify_tests.cpp
  scripts/schemavalidation/compliance-config.schema.json
  verif/checker/verifier.py
  verif/generator/tosa_test_gen.py
  verif/generator/tosa_utils.py
  verif/tests/test_schemavalidation.py
  verif/tests/test_tosa_verifier.py
Due: pytest, clang-format

Support for compliance checking testing
  reference_model/src/main.cpp
  scripts/convert2conformance/convert2conformance.py
  verif/checker/color_print.py
  verif/checker/tosa_result_checker.py
  verif/conformance/tosa_verif_conformance_generator.py
  verif/frameworks/tosa_verif_framework_compiler_runner.py
  verif/runner/tosa_refmodel_compliance_sut_run.py
  verif/runner/tosa_refmodel_sut_run.py
  verif/runner/tosa_test_presets.py
  verif/runner/tosa_test_runner.py
  verif/runner/tosa_verif_run_tests.py
  verif/tests/test_tosa_run_tests_mocksut.py
Due: pytest, clang-format

Add reduce product verifier
  reference_model/CMakeLists.txt
  reference_model/src/verify/verifiers.h
  reference_model/src/verify/verify_entry.cc
  reference_model/src/verify/verify_reduce_product.cc
  reference_model/src/verify/verify_utils.cc
  reference_model/src/verify/verify_utils.h
  reference_model/test/verify_tests.cpp
Due: clang-format

Add initial TOSA MI generator support
  reference_model/CMakeLists.txt
  reference_model/include/generate.h
  reference_model/include/verify.h
  reference_model/src/generate/generate_dot_product.cc
  reference_model/src/generate/generate_dot_product.h
  reference_model/src/generate/generate_dot_product_states.cc
  reference_model/src/generate/generate_entry.cc
  reference_model/src/generate/generate_utils.cc
  reference_model/src/generate/generate_utils.h
  reference_model/test/generate_tests.cpp
Due: clang-format

Expand TOSA MI generator support for MATMUL
  reference_model/src/generate/generate_dot_product_states.cc
  reference_model/src/generate/generate_utils.cc
  reference_model/test/generate_tests.cpp
  reference_model/test/verify_tests.cpp
Due: clang-format

Conformance simple backward version and binary files support
  README.md
  scripts/convert2conformance/convert2conformance.py
  verif/conformance/tosa_verif_conformance_generator.py
  verif/runner/tosa_test_runner.py
  verif/runner/tosa_verif_run_tests.py
Due: pytest

Data generator library python interface added
  reference_model/CMakeLists.txt
  reference_model/src/generate/generate_config.cc
  reference_model/src/generate/generate_dot_product.h
  verif/conformance/model_files.py
  verif/conformance/tosa_verif_conformance_generator.py
  verif/generator/datagenerator.py
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
  verif/generator/tosa_utils.py
  verif/generator/tosa_verif_build_tests.py
  verif/runner/tosa_test_runner.py
  verif/runner/tosa_verif_run_tests.py
  verif/tests/test_tosa_datagenerator.py
  verif/tests/test_tosa_refmodel.py
  verif/tests/test_tosa_run_tests_mocksut.py
  verif/tests/test_tosa_verifier.py
Due: pytest, clang-format

Add boolean input argument support
  reference_model/src/model_runner_impl.cc
Due: clang-format

Fix AVG_POOL2D bad_alloc with large kernel sizes
  reference_model/src/ops/tensor_ops.cc
Due: clang-format

Fix AvgPool2D regression
  reference_model/src/ops/tensor_ops.cc
Due: clang-format

Catch when CONSTs aren't initialized
  reference_model/src/ops/data_nodes.cc
Due: clang-format

Improve conformance backward version support
  verif/conformance/README.md
  verif/conformance/tosa_base_profile_ops_info.json
  verif/conformance/tosa_main_profile_ops_info.json
  verif/conformance/tosa_verif_conformance_generator.py
Due: pytest

Improve verfiy and generate library validation
  reference_model/src/generate/generate_dot_product.cc
  reference_model/src/generate/generate_dot_product_states.cc
  reference_model/src/generate/generate_entry.cc
  reference_model/src/generate/generate_utils.cc
  reference_model/src/generate/generate_utils.h
  reference_model/src/verify/verify_dot_product.cc
  reference_model/src/verify/verify_entry.cc
  reference_model/src/verify/verify_exact.cc
  reference_model/src/verify/verify_reduce_product.cc
  reference_model/src/verify/verify_ulp.cc
  reference_model/src/verify/verify_utils.cc
  reference_model/src/verify/verify_utils.h
  reference_model/test/generate_tests.cpp
  reference_model/test/verify_tests.cpp
  verif/generator/tosa_arg_gen.py
Due: pytest, clang-format

Compliance testing support for MAX_POOL2D & PAD
  reference_model/CMakeLists.txt
  reference_model/src/generate/generate_dot_product.cc
  reference_model/src/generate/generate_entry.cc
  reference_model/src/generate/generate_pseudo_random.cc
  reference_model/src/generate/generate_pseudo_random.h
  reference_model/src/generate/generate_utils.cc
  reference_model/src/generate/generate_utils.h
  reference_model/src/verify/verify_exact.cc
  reference_model/test/generate_tests.cpp
  reference_model/test/verify_tests.cpp
  verif/conformance/tosa_main_profile_ops_info.json
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_error_if.py
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

Add environment variable to skip debug backtrace
  reference_model/src/func_debug.cc
Due: clang-format

Allow more integer types in result check.
  verif/checker/tosa_result_checker.py
  verif/tests/test_tosa_result_checker.py
Due: pytest

Fix Reshape in operator API
  reference_model/include/operators.h
  reference_model/src/operators.cc
  reference_model/test/model_runner_tests.cpp
  scripts/operator_api/generate_api.py
Due: pytest, clang-format

Fix TransposeConv2d in operator API
  reference_model/include/operators.h
  reference_model/src/operators.cc
  reference_model/test/model_runner_tests.cpp
  scripts/operator_api/generate_api.py
Due: pytest, clang-format

Main compliance testing support for MUL
  reference_model/src/generate/generate_pseudo_random.cc
  reference_model/src/generate/generate_utils.cc
  reference_model/src/generate/generate_utils.h
  reference_model/src/verify/verifiers.h
  reference_model/src/verify/verify_dot_product.cc
  reference_model/src/verify/verify_entry.cc
  reference_model/src/verify/verify_ulp.cc
  reference_model/src/verify/verify_utils.cc
  reference_model/src/verify/verify_utils.h
  reference_model/test/verify_tests.cpp
  scripts/schemavalidation/compliance-config.schema.json
  verif/conformance/tosa_main_profile_ops_info.json
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
  verif/generator/tosa_utils.py
  verif/generator/tosa_verif_build_tests.py
Due: pytest, clang-format

Compliance mode testing for CONV2D
  reference_model/src/generate/generate_dot_product.cc
  reference_model/src/generate/generate_dot_product_states.cc
  reference_model/src/generate/generate_utils.cc
  reference_model/src/generate/generate_utils.h
  reference_model/src/verify/verify_dot_product.cc
  reference_model/src/verify/verify_utils.cc
  reference_model/src/verify/verify_utils.h
  reference_model/test/generate_tests.cpp
  scripts/schemavalidation/datagen-config.schema.json
  verif/conformance/test_select.py
  verif/conformance/tosa_main_profile_ops_info.json
  verif/generator/datagenerator.py
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
  verif/generator/tosa_utils.py
  verif/tests/test_tosa_datagenerator.py
Due: pytest, clang-format

[fix] Fix the parsing failure during splitting multiple files to the argument
  reference_model/src/main.cpp
Due: clang-format

Main Compliance testing support for ADD, SUB, MINIMUM and MAXIMUM
  reference_model/src/generate/generate_pseudo_random.cc
  reference_model/src/generate/generate_utils.cc
  verif/conformance/tosa_main_profile_ops_info.json
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
  verif/generator/tosa_verif_build_tests.py
Due: pytest, clang-format

Main Compliance testing for FULLY_CONNECTED
  reference_model/src/generate/generate_dot_product.cc
  reference_model/src/generate/generate_utils.cc
  reference_model/test/generate_tests.cpp
  verif/conformance/tosa_main_profile_ops_info.json
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

Main Compliance testing support for ARGMAX, REDUCE_SUM/MAX/MIN
  reference_model/src/generate/generate_dot_product.cc
  reference_model/src/generate/generate_utils.cc
  reference_model/test/generate_tests.cpp
  verif/conformance/tosa_main_profile_ops_info.json
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

[reference_model] Add local_bound support
  reference_model/include/operators.h
  reference_model/src/operators.cc
  reference_model/src/ops/tensor_ops.cc
  reference_model/src/ops/tensor_ops.h
  reference_model/test/model_runner_tests.cpp
Due: clang-format

Pin numpy version for compatibility.
  setup.cfg
Due: none

Main Compliance testing for simple UNARY ops
  reference_model/src/generate/generate_utils.cc
  reference_model/src/verify/verify_ulp.cc
  reference_model/src/verify/verify_utils.cc
  reference_model/src/verify/verify_utils.h
  reference_model/test/verify_tests.cpp
  verif/conformance/tosa_main_profile_ops_info.json
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_error_if.py
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

Main Compliance testing support for EXP & POW
  reference_model/CMakeLists.txt
  reference_model/src/generate/generate_utils.cc
  reference_model/src/main.cpp
  reference_model/src/ops/ewise_binary.cc
  reference_model/src/ops/ewise_unary.cc
  reference_model/src/verify/verifiers.h
  reference_model/src/verify/verify_abs_error.cc
  reference_model/src/verify/verify_entry.cc
  reference_model/src/verify/verify_ulp.cc
  reference_model/src/verify/verify_utils.cc
  reference_model/src/verify/verify_utils.h
  reference_model/test/verify_tests.cpp
  verif/conformance/tosa_main_profile_ops_info.json
  verif/generator/tosa_test_gen.py
  verif/generator/tosa_utils.py
  verif/runner/tosa_test_runner.py
Due: pytest, clang-format

Fix FP16, BF16 data ranges for conformance tests
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
Due: pytest

[reference_model] add local_bound attribute to test_gen
  verif/generator/tosa_test_gen.py
Due: pytest

Support loading shared libraries for custom operators
  CMakeLists.txt
  reference_model/CMakeLists.txt
  reference_model/custom_op_example/CMakeLists.txt
  reference_model/custom_op_example/custom_op_example.cpp
  reference_model/include/custom_op_interface.h
  reference_model/include/custom_registry.h
  reference_model/include/func_config.h
  reference_model/src/command_line_utils.h
  reference_model/src/main.cpp
  reference_model/src/ops/custom.cc
  reference_model/src/ops/custom.h
  reference_model/src/ops/op_factory.cc
Due: clang-format

Correct Fully Connected Validation Logic
  reference_model/src/ops/tensor_ops.cc
Due: clang-format

Main Compliance testing support for AVG_POOL2D
  reference_model/src/generate/generate_dot_product.cc
  reference_model/src/generate/generate_dot_product_states.cc
  reference_model/src/generate/generate_utils.cc
  reference_model/src/verify/verify_dot_product.cc
  reference_model/test/generate_tests.cpp
  verif/conformance/tosa_main_profile_ops_info.json
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

Path conditions:
  pytest: any of: \.py$
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: build|third_party
