Repository jerryzhao173985/reference_model: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest, clang-format

pytest:
  name: pytest
  stages:
  - commit
  language: system
  entry: pytest -m "not postcommit"
  pass_filenames: false

clang-format:
  name: clang-format
  language: system
  entry: clang-format
  args:
  - -i

Check multipliers and shift sizes in RESCALE
  reference_model/src/ops/type_conversion.cpp
  reference_model/test/include/test_utils.h
  reference_model/test/ref_model_tests/type_conversion_tests.cpp
Due: clang-format

Update tosa tools default paths and README about CTS
  README.md
  verif/conformance/model_files.py
  verif/conformance/tosa_verif_conformance_generator.py
  verif/generator/tosa_verif_build_tests.py
  verif/runner/tosa_verif_run_tests.py
  verif/tests/test_utils.py
Due: pytest

Update gitignore for all build dirs
  .gitignore
Due: none

Remove unused declaration
  reference_model/src/ops/tensor_ops.h
Due: clang-format

Avoid arithmetic on booleans
  reference_model/src/generate/generate_special_utils.h
  reference_model/test/generate_tests.cpp
Due: clang-format

Portable string formatting
  reference_model/src/graph_node.cpp
  reference_model/src/ops/control_flow.cpp
  reference_model/src/ops/type_conversion.cpp
  reference_model/src/subgraph_traverser.cpp
Due: clang-format

Fix lots of type conversion warnings
  reference_model/src/generate/generate_pseudo_random.cpp
  reference_model/src/generate/generate_utils.cpp
  reference_model/src/verify/verify_main.cpp
  reference_model/src/verify/verify_utils.cpp
  reference_model/test/generate_tests.cpp
Due: clang-format

Add hardened compiler flags to CMake and fix openssf warnings in ref_model src and test
  reference_model/CMakeLists.txt
  reference_model/src/main.cpp
  reference_model/src/model_runner_impl.cpp
  reference_model/src/subgraph_traverser.cpp
  reference_model/src/tensor.cpp
  reference_model/src/tensor.h
  reference_model/test/generate_tests.cpp
  reference_model/test/ref_model_tests/data_layout_tests.cpp
  reference_model/test/ref_model_tests/tensor_ops_tests.cpp
  reference_model/test/verify_exe_testing.cpp
  reference_model/test/verify_tests.cpp
Due: clang-format

Fix conformance bounds for SIN
  verif/generator/tosa_test_gen.py
  verif/generator/tosa_utils.py
Due: pytest

Relax POW and TANH conformance rules
  reference_model/src/ops/activation_funcs.cpp
  reference_model/src/ops/ewise_binary.cpp
  reference_model/src/ops/ewise_unary.cpp
  reference_model/test/verify_tests.cpp
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

Update POW bounds_mode comment
  reference_model/src/ops/ewise_binary.cpp
Due: clang-format

Relax INEXACT_ROUND conformance
  reference_model/src/ops/type_conversion.cpp
  reference_model/test/ref_model_tests/type_conversion_tests.cpp
Due: clang-format

[SDL] Remove SDL banned functions
  reference_model/src/func_debug.cpp
  reference_model/src/main.cpp
  reference_model/src/tensor.cpp
  reference_model/src/verify/verify_utils.cpp
  reference_model/test/generate_tests.cpp
Due: clang-format

[ref model] Remove incompatible hardened flags
  reference_model/CMakeLists.txt
Due: none

Allow running tests with tosa_reference_model in custom location
  examples/run_ref_model_examples.sh
Due: none

Fail without segfault for missing bounds file
  reference_model/src/verify/verify_fp_special.cpp
  reference_model/src/verify/verify_rescale_inexact.cpp
Due: clang-format

Enable custom ops on Windows
  reference_model/custom_op_example/CMakeLists.txt
  reference_model/custom_op_example/custom_op_example.cpp
  reference_model/src/load_library_win.cpp
Due: clang-format

[ref model] Update README for save_npy and load_npy.
  README.md
  verif/generator/tosa_verif_build_tests.py
Due: pytest

Enable custom ops on Windows
  reference_model/custom_op_example/CMakeLists.txt
  reference_model/custom_op_example/custom_op_example.cpp
  reference_model/src/load_library_win.cpp
  reference_model/src/main.cpp
Due: clang-format

Fix macos build by ensuring eigen index type uses int64_t
  reference_model/src/main.cpp
  reference_model/src/ops/template_types.h
  reference_model/src/tensor.h
Due: clang-format

Move frequently defined constants to config.h
  reference_model/include/config.h
  reference_model/include/generate.h
  reference_model/include/verify.h
  reference_model/src/main.cpp
  reference_model/src/ops/template_types.h
  reference_model/src/tensor.h
Due: clang-format

Avoid supplying unsupported linker flags
  reference_model/CMakeLists.txt
Due: none

Allow dlopen in `py_tosa_reference_model` target
  reference_model/CMakeLists.txt
Due: none

Eliminate type conversion warnings in MSVC build
  reference_model/src/subgraph_traverser.cpp
  reference_model/test/generate_tests.cpp
Due: clang-format

Path conditions:
  pytest: any of: \.py$
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: build|third_party
