Repository jerryzhao173985/reference_model: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest, clang-format

.pre-commit-config.yaml:

# Copyright (c) 2021-2024 Arm Limited.
# SPDX-License-Identifier: Apache-2.0

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/asottile/reorder_python_imports
    rev: v3.13.0
    hooks:
    -   id: reorder-python-imports
      # The reorder python imports can get confused if directories exist.
      # Use a dummy application directory to avoid problems.
        args: [ "--application-directories=NotARealDirectoryName" ]

-   repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
    -   id: black

-   repo: https://github.com/pycqa/flake8
    rev: 7.1.1
    hooks:
    -   id: flake8

-   repo: local
    hooks:
    -   id: pytest
        name: pytest
        stages: [commit]
        language: system
        entry: pytest -m "not postcommit"
        types: [python]
        pass_filenames: false

-   repo: local
    hooks:
    -   id: clang-format
        name: clang-format
        exclude: build|third_party
        language: system
        entry: clang-format
        types: ["c++"]
        args: ["-i"]

Add terminate_early to REQUIRE().
  README.md
  reference_model/include/func_config.h
  reference_model/include/func_debug.h
  reference_model/src/command_line_utils.h
  reference_model/src/main.cpp
Due: clang-format

Reduce FP_SPECIAL tests for CAST
  verif/conformance/tosa_ext_profile_ops_info.json
Due: none

Add cstdint to func_config.h
  reference_model/include/func_config.h
Due: clang-format

Add full rank coverage for fp8 CONST
  verif/conformance/tosa_ext_profile_ops_info.json
Due: none

Add rank 6 coverage for CAST
  verif/conformance/tosa_ext_profile_ops_info.json
Due: none

Adjust AVG_POOL2D FP calculation to match conformance precision
  reference_model/src/ops/tensor_ops.cc
Due: clang-format

Create a C++ verify executable
  reference_model/CMakeLists.txt
  reference_model/src/verify/CMakeLists.txt
  reference_model/src/verify/verify_entry.cc
  reference_model/src/verify/verify_main.cpp
  reference_model/src/verify/verify_reduce_product.cc
  reference_model/src/verify/verify_relative.cc
  reference_model/test/verify_exe_testing.cpp
  scripts/schemavalidation/compliance-config.schema.json
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

Add support fp8e4m3xfp8e5m2 with f16/f32 accumulator for MATMUL
  reference_model/src/generate/generate_dot_product_states.cc
  reference_model/src/generate/generate_utils.cc
  reference_model/src/generate/generate_utils.h
  reference_model/src/ops/op_factory.cc
  reference_model/src/ops/tensor_ops.cc
  reference_model/src/ops/tensor_ops.h
  reference_model/src/subgraph_traverser.cc
  scripts/schemavalidation/datagen-config.schema.json
  verif/conformance/tosa_ext_profile_ops_info.json
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_error_if.py
  verif/generator/tosa_test_gen.py
  verif/tests/test_tosa_datagenerator.py
Due: pytest, clang-format

Validate bias_dtype is the same as output_dtype for Convolution operators
  reference_model/src/subgraph_traverser.cc
Due: clang-format

Review and update README file
  README.md
Due: none

Update verify_relative.cc to set a ulp bound when relative is too tight
  reference_model/src/verify/verify_relative.cc
  reference_model/src/verify/verify_utils.cc
  reference_model/src/verify/verify_utils.h
  reference_model/test/verify_tests.cpp
  scripts/schemavalidation/compliance-config.schema.json
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

Avoid to use template parameter list in lambda functions
  reference_model/src/ops/reduction.cc
Due: clang-format

Add WrongBiasType ErrorIf compliance test for convolution operators
  verif/generator/tosa_error_if.py
  verif/generator/tosa_test_gen.py
Due: pytest

Add Floor Div to TF/TFL Framework Test
  verif/frameworks/tensor_gen.py
  verif/frameworks/test_builder.py
  verif/frameworks/tosa_verif_framework_generator.py
Due: pytest

Add prime shape coverage for RESIZE
  verif/conformance/tosa_ext_profile_ops_info.json
Due: none

Integrate tosa_verify into tosa tools
  reference_model/src/verify/CMakeLists.txt
  reference_model/src/verify/verify_entry.cc
  reference_model/src/verify/verify_exact.cc
  reference_model/src/verify/verify_main.cpp
  reference_model/src/verify/verify_utils.cc
  verif/checker/tosa_result_checker.py
  verif/checker/verifier.py
  verif/conformance/model_files.py
  verif/generator/tosa_utils.py
  verif/runner/tosa_refmodel_sut_run.py
  verif/runner/tosa_test_runner.py
  verif/runner/tosa_verif_run_tests.py
  verif/tests/test_tosa_refmodel.py
  verif/tests/test_tosa_result_checker.py
Due: pytest, clang-format

[ref_model] changes for unique_ptr api's in serialization_lib
  reference_model/src/model_runner_impl.cc
  reference_model/src/ops/control_flow.cc
  reference_model/src/subgraph_traverser.cc
Due: clang-format

Use native datatypes in OpResize
  reference_model/src/ops/image.cc
Due: clang-format

Enable INT4 for WrongBiasType ErrorIf tests
  verif/generator/tosa_test_gen.py
Due: pytest

Enforce SHAPE inputs as CONST_SHAPEs in tests
  verif/generator/tosa_arg_gen.py
Due: pytest

Add negative values to Stack axis arg
  verif/frameworks/arg_gen.py
Due: pytest

Update tosa Level_check to include MAX_TENSOR_LIST_SIZE
  reference_model/include/func_config.h
  reference_model/src/ops/control_flow.cc
  reference_model/src/ops/custom.cc
  reference_model/src/ops/data_layout.cc
Due: clang-format

Fix dynamic shape test cases after --tosa-input-shape argument update
  verif/frameworks/tosa_verif_framework_compiler_runner.py
Due: pytest

Update precommit hook to avoid python reordering
  .pre-commit-config.yaml
Due: none

Add framework tests for tf(l).scatter_nd legalization
  verif/frameworks/arg_gen.py
  verif/frameworks/tensor_gen.py
  verif/frameworks/test_builder.py
  verif/frameworks/tosa_verif_framework_generator.py
Due: pytest

Add multi-bit and new_axis mask generation to strided_slice
  verif/frameworks/arg_gen.py
Due: pytest

Add a flag to disable building ref_model pybind for pip install every time
  setup.py
Due: pytest
