Repository jerryzhao173985/reference_model: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest, clang-format

pytest:
  name: pytest
  stages:
  - commit
  language: system
  entry: pytest -m "not postcommit"
  pass_filenames: false

clang-format:
  name: clang-format
  language: system
  entry: clang-format
  args:
  - -i

[ref model] Adjust eval function for padded convolutions
  reference_model/include/func_config.h
  reference_model/src/main.cpp
  reference_model/src/ops/tensor_ops.cc
  reference_model/src/verify/verifiers.h
  reference_model/src/verify/verify_dot_product.cc
  reference_model/src/verify/verify_entry.cc
  reference_model/src/verify/verify_fp_special.cc
  verif/runner/tosa_test_runner.py
Due: pytest, clang-format

[Fix] Missed to pass NaN propagation mode in Clamp calculation
  reference_model/src/ops/activation_funcs.cc
Due: clang-format

Fix warnings in unsigned integer generation
  reference_model/src/generate/generate_special_utils.h
Due: clang-format

Add utils for easier reference model unit tests
  reference_model/test/model_runner_tests.cpp
  reference_model/test/test_utils.h
  reference_model/test/verify_tests.cpp
Due: clang-format

Add desc.json schema validation with compliance/data_gen extensions
  README.md
  scripts/schemavalidation/__init__.py
  scripts/schemavalidation/compliance-config.schema.json
  scripts/schemavalidation/datagen-config.schema.json
  scripts/schemavalidation/desc.schema.json
  scripts/schemavalidation/schemavalidation.py
  setup.cfg
  verif/tests/test_schemavalidation.py
Due: pytest

Improve integer testing for CONST & IDENTITY
  reference_model/src/dtype_limits.h
  reference_model/src/generate/generate_entry.cc
  reference_model/src/generate/generate_pseudo_random.cc
  reference_model/src/generate/generate_utils.cc
  reference_model/src/generate/generate_utils.h
  reference_model/src/verify/verify_main.cpp
  reference_model/test/generate_tests.cpp
  verif/conformance/tosa_ext_profile_ops_info.json
  verif/generator/datagenerator.py
  verif/generator/tosa_test_gen.py
  verif/generator/tosa_utils.py
  verif/tests/test_datagenerator.py
Due: pytest, clang-format

Initial lazy data-gen and compliance test build support
  scripts/convert2conformance/convert2conformance.py
  verif/conformance/README.md
  verif/conformance/tosa_main_profile_ops_info.json
  verif/conformance/tosa_verif_conformance_generator.py
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
  verif/generator/tosa_utils.py
  verif/generator/tosa_verif_build_tests.py
Due: pytest

Remove data file size limit on conformance
  verif/conformance/tosa_ext_profile_ops_info.json
  verif/conformance/tosa_verif_conformance_generator.py
Due: pytest

Fixes for conformance generator tags and test selection
  scripts/convert2conformance/convert2conformance.py
  verif/conformance/tosa_verif_conformance_generator.py
Due: pytest

Restore coverage for conformance MATMUL
  verif/conformance/tosa_main_profile_ops_info.json
  verif/generator/tosa_arg_gen.py
Due: pytest

Build compliance verifier library with a python interface.
  reference_model/CMakeLists.txt
  reference_model/src/verify/verify_config.cc
  reference_model/src/verify/verify_dot_product.cc
  verif/checker/verifier.py
  verif/tests/test_tosa_refmodel.py
  verif/tests/test_tosa_verifier.py
Due: pytest, clang-format

Revert tag desc.json renaming
  scripts/convert2conformance/convert2conformance.py
  scripts/schemavalidation/desc.schema.json
Due: pytest

Refactor path arguments to tosa-tools
  scripts/convert2conformance/convert2conformance.py
  verif/checker/verifier.py
  verif/conformance/model_files.py
  verif/conformance/tosa_verif_conformance_generator.py
  verif/runner/tosa_refmodel_sut_run.py
  verif/runner/tosa_test_runner.py
  verif/runner/tosa_verif_run_tests.py
  verif/tests/test_tosa_run_tests_args.py
  verif/tests/test_tosa_verifier.py
  verif/tests/tosa_mock_sut_run.py
Due: pytest

feat: Add exact verifier
  reference_model/CMakeLists.txt
  reference_model/src/verify/verifiers.h
  reference_model/src/verify/verify_dot_product.cc
  reference_model/src/verify/verify_entry.cc
  reference_model/src/verify/verify_exact.cc
  reference_model/src/verify/verify_utils.h
  reference_model/test/verify_tests.cpp
Due: clang-format

Add ULP verification for fp32
  reference_model/CMakeLists.txt
  reference_model/src/verify/verifiers.h
  reference_model/src/verify/verify_entry.cc
  reference_model/src/verify/verify_ulp.cc
  reference_model/src/verify/verify_utils.h
  reference_model/test/verify_tests.cpp
Due: clang-format

CTS config profile fixes and simplification
  verif/conformance/tosa_ext_profile_ops_info.json
Due: none

Update verifier library data-type support
  reference_model/src/verify/verify_dot_product.cc
  reference_model/src/verify/verify_entry.cc
  reference_model/src/verify/verify_exact.cc
  reference_model/src/verify/verify_ulp.cc
  reference_model/src/verify/verify_utils.cc
  reference_model/src/verify/verify_utils.h
  reference_model/test/verify_tests.cpp
  scripts/schemavalidation/compliance-config.schema.json
  verif/checker/verifier.py
  verif/generator/tosa_test_gen.py
  verif/generator/tosa_utils.py
  verif/tests/test_schemavalidation.py
  verif/tests/test_tosa_verifier.py
Due: pytest, clang-format

Support for compliance checking testing
  reference_model/src/main.cpp
  scripts/convert2conformance/convert2conformance.py
  verif/checker/color_print.py
  verif/checker/tosa_result_checker.py
  verif/conformance/tosa_verif_conformance_generator.py
  verif/frameworks/tosa_verif_framework_compiler_runner.py
  verif/runner/tosa_refmodel_compliance_sut_run.py
  verif/runner/tosa_refmodel_sut_run.py
  verif/runner/tosa_test_presets.py
  verif/runner/tosa_test_runner.py
  verif/runner/tosa_verif_run_tests.py
  verif/tests/test_tosa_run_tests_mocksut.py
Due: pytest, clang-format

Add reduce product verifier
  reference_model/CMakeLists.txt
  reference_model/src/verify/verifiers.h
  reference_model/src/verify/verify_entry.cc
  reference_model/src/verify/verify_reduce_product.cc
  reference_model/src/verify/verify_utils.cc
  reference_model/src/verify/verify_utils.h
  reference_model/test/verify_tests.cpp
Due: clang-format

Add initial TOSA MI generator support
  reference_model/CMakeLists.txt
  reference_model/include/generate.h
  reference_model/include/verify.h
  reference_model/src/generate/generate_dot_product.cc
  reference_model/src/generate/generate_dot_product.h
  reference_model/src/generate/generate_dot_product_states.cc
  reference_model/src/generate/generate_entry.cc
  reference_model/src/generate/generate_utils.cc
  reference_model/src/generate/generate_utils.h
  reference_model/test/generate_tests.cpp
Due: clang-format

Expand TOSA MI generator support for MATMUL
  reference_model/src/generate/generate_dot_product_states.cc
  reference_model/src/generate/generate_utils.cc
  reference_model/test/generate_tests.cpp
  reference_model/test/verify_tests.cpp
Due: clang-format

Conformance simple backward version and binary files support
  README.md
  scripts/convert2conformance/convert2conformance.py
  verif/conformance/tosa_verif_conformance_generator.py
  verif/runner/tosa_test_runner.py
  verif/runner/tosa_verif_run_tests.py
Due: pytest

Data generator library python interface added
  reference_model/CMakeLists.txt
  reference_model/src/generate/generate_config.cc
  reference_model/src/generate/generate_dot_product.h
  verif/conformance/model_files.py
  verif/conformance/tosa_verif_conformance_generator.py
  verif/generator/datagenerator.py
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
  verif/generator/tosa_utils.py
  verif/generator/tosa_verif_build_tests.py
  verif/runner/tosa_test_runner.py
  verif/runner/tosa_verif_run_tests.py
  verif/tests/test_tosa_datagenerator.py
  verif/tests/test_tosa_refmodel.py
  verif/tests/test_tosa_run_tests_mocksut.py
  verif/tests/test_tosa_verifier.py
Due: pytest, clang-format

Catch when CONSTs aren't initialized
  reference_model/src/ops/data_nodes.cc
Due: clang-format

Improve conformance backward version support
  verif/conformance/README.md
  verif/conformance/tosa_base_profile_ops_info.json
  verif/conformance/tosa_main_profile_ops_info.json
  verif/conformance/tosa_verif_conformance_generator.py
Due: pytest

Improve verfiy and generate library validation
  reference_model/src/generate/generate_dot_product.cc
  reference_model/src/generate/generate_dot_product_states.cc
  reference_model/src/generate/generate_entry.cc
  reference_model/src/generate/generate_utils.cc
  reference_model/src/generate/generate_utils.h
  reference_model/src/verify/verify_dot_product.cc
  reference_model/src/verify/verify_entry.cc
  reference_model/src/verify/verify_exact.cc
  reference_model/src/verify/verify_reduce_product.cc
  reference_model/src/verify/verify_ulp.cc
  reference_model/src/verify/verify_utils.cc
  reference_model/src/verify/verify_utils.h
  reference_model/test/generate_tests.cpp
  reference_model/test/verify_tests.cpp
  verif/generator/tosa_arg_gen.py
Due: pytest, clang-format

Compliance testing support for MAX_POOL2D & PAD
  reference_model/CMakeLists.txt
  reference_model/src/generate/generate_dot_product.cc
  reference_model/src/generate/generate_entry.cc
  reference_model/src/generate/generate_pseudo_random.cc
  reference_model/src/generate/generate_pseudo_random.h
  reference_model/src/generate/generate_utils.cc
  reference_model/src/generate/generate_utils.h
  reference_model/src/verify/verify_exact.cc
  reference_model/test/generate_tests.cpp
  reference_model/test/verify_tests.cpp
  verif/conformance/tosa_main_profile_ops_info.json
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_error_if.py
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

Allow more integer types in result check.
  verif/checker/tosa_result_checker.py
  verif/tests/test_tosa_result_checker.py
Due: pytest

Compliance mode testing for CONV2D
  reference_model/src/generate/generate_dot_product.cc
  reference_model/src/generate/generate_dot_product_states.cc
  reference_model/src/generate/generate_utils.cc
  reference_model/src/generate/generate_utils.h
  reference_model/src/verify/verify_dot_product.cc
  reference_model/src/verify/verify_utils.cc
  reference_model/src/verify/verify_utils.h
  reference_model/test/generate_tests.cpp
  scripts/schemavalidation/datagen-config.schema.json
  verif/conformance/test_select.py
  verif/conformance/tosa_main_profile_ops_info.json
  verif/generator/datagenerator.py
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
  verif/generator/tosa_utils.py
  verif/tests/test_tosa_datagenerator.py
Due: pytest, clang-format

Main compliance testing support for MUL
  reference_model/src/generate/generate_pseudo_random.cc
  reference_model/src/generate/generate_utils.cc
  reference_model/src/generate/generate_utils.h
  reference_model/src/verify/verifiers.h
  reference_model/src/verify/verify_dot_product.cc
  reference_model/src/verify/verify_entry.cc
  reference_model/src/verify/verify_ulp.cc
  reference_model/src/verify/verify_utils.cc
  reference_model/src/verify/verify_utils.h
  reference_model/test/verify_tests.cpp
  scripts/schemavalidation/compliance-config.schema.json
  verif/conformance/tosa_main_profile_ops_info.json
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
  verif/generator/tosa_utils.py
  verif/generator/tosa_verif_build_tests.py
Due: pytest, clang-format

Main Compliance testing support for ADD, SUB, MINIMUM and MAXIMUM
  reference_model/src/generate/generate_pseudo_random.cc
  reference_model/src/generate/generate_utils.cc
  verif/conformance/tosa_main_profile_ops_info.json
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
  verif/generator/tosa_verif_build_tests.py
Due: pytest, clang-format

Main Compliance testing support for ARGMAX, REDUCE_SUM/MAX/MIN
  reference_model/src/generate/generate_dot_product.cc
  reference_model/src/generate/generate_utils.cc
  reference_model/test/generate_tests.cpp
  verif/conformance/tosa_main_profile_ops_info.json
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

Main Compliance testing for FULLY_CONNECTED
  reference_model/src/generate/generate_dot_product.cc
  reference_model/src/generate/generate_utils.cc
  reference_model/test/generate_tests.cpp
  verif/conformance/tosa_main_profile_ops_info.json
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

Path conditions:
  pytest: any of: \.py$
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: build|third_party
