Repository jerryzhao173985/reference_model: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest, clang-format

.pre-commit-config.yaml:

# Copyright (c) 2021-2024 Arm Limited.
# SPDX-License-Identifier: Apache-2.0

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/asottile/reorder_python_imports
    rev: v3.13.0
    hooks:
    -   id: reorder-python-imports
      # The reorder python imports can get confused if directories exist.
      # Use a dummy application directory to avoid problems.
        args: [ "--application-directories=NotARealDirectoryName" ]

-   repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
    -   id: black

-   repo: https://github.com/pycqa/flake8
    rev: 7.1.1
    hooks:
    -   id: flake8

-   repo: local
    hooks:
    -   id: pytest
        name: pytest
        stages: [commit]
        language: system
        entry: pytest -m "not postcommit"
        types: [python]
        pass_filenames: false

-   repo: local
    hooks:
    -   id: clang-format
        name: clang-format
        exclude: build|third_party
        language: system
        entry: clang-format
        types: ["c++"]
        args: ["-i"]

Add unit tests to catch regressions in accumulator behaviour in conv ops.
  reference_model/test/ref_model_tests.cpp
Due: clang-format

Update output type in matmul operator
  reference_model/src/ops/tensor_ops.cc
  reference_model/test/ref_model_tests.cpp
Due: clang-format

Add CTC support for RESCALE, RESIZE & MATMUL
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
Due: pytest

RESCALE rounding mode updates
  examples/test_conv2d_1x1_1x32x32x8_qi8_st11_padSAME_dilat11/flatbuffer-tflite/test_conv2d_1x1_1x32x32x8_qi8_st11_padSAME_dilat11.tosa
  reference_model/src/ops/type_conversion.cc
  verif/conformance/tosa_ext_profile_ops_info.json
  verif/conformance/tosa_profiles.py
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_error_if.py
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

Rename MATMUL tests to use out instead of acc
  verif/generator/tosa_arg_gen.py
Due: pytest

Fix conformance gen output & ERROR_IF test gen
  verif/conformance/tosa_verif_conformance_generator.py
  verif/generator/tosa_test_gen.py
Due: pytest

RESCALE signless integer inputs for CTS
  reference_model/src/generate/generate_pseudo_random.cc
  reference_model/src/generate/generate_special.cc
  reference_model/src/generate/generate_utils.cc
  reference_model/src/generate/generate_utils.h
  reference_model/test/generate_tests.cpp
  scripts/schemavalidation/datagen-config.schema.json
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_error_if.py
  verif/generator/tosa_test_gen.py
  verif/tests/test_datagenerator.py
Due: pytest, clang-format

Fix issues with oversized inputs in CAST and TABLE
  reference_model/src/ops/ewise_binary.cc
  reference_model/src/ops/type_conversion.cc
  reference_model/test/ref_model_tests.cpp
Due: clang-format

Switch zero point of negate to input variable type
  reference_model/src/ops/ewise_unary.cc
  reference_model/src/ops/ewise_unary.h
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
  verif/tests/test_tosa_refmodel.py
Due: pytest, clang-format

Update output type in matmul operator
  reference_model/src/ops/tensor_ops.cc
Due: clang-format

Truncate MUL output to out_t size
  reference_model/src/arith_util.h
  reference_model/src/ops/ewise_binary.cc
  reference_model/src/ops/template_types.h
  reference_model/src/ops/type_conversion.cc
Due: clang-format

Add unit tests for SELECT FP special behaviour
  reference_model/test/ref_model_tests.cpp
Due: clang-format

Add boolean input argument support
  reference_model/src/model_runner_impl.cc
Due: clang-format

macOS port: fix failing pytests
  verif/conformance/model_files.py
  verif/tests/test_tosa_datagenerator.py
  verif/tests/test_tosa_refmodel.py
  verif/tests/test_tosa_verifier.py
  verif/tests/test_utils.py
Due: pytest

macOS port: provide macOS equivalent to readlink(proc/self/exe)
  reference_model/test/verify_exe_testing.cpp
Due: clang-format

macOS port: resolve ambiguous calls to std::isnan/std::signbit and friends when called using a softfloat
  reference_model/src/verify/verify_dot_product.cc
  reference_model/src/verify/verify_exact.cc
  reference_model/src/verify/verify_fp_special.cc
  reference_model/src/verify/verify_utils.cc
  reference_model/test/generate_tests.cpp
  reference_model/test/test_utils.h
Due: clang-format

RESCALE zero point as inputs
  examples/test_conv2d_1x1_1x32x32x8_qi8_st11_padSAME_dilat11/flatbuffer-tflite/test_conv2d_1x1_1x32x32x8_qi8_st11_padSAME_dilat11.tosa
  reference_model/src/generate/generate_int_special.cc
  reference_model/src/ops/type_conversion.cc
  reference_model/src/ops/type_conversion.h
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

Add ignored failure handling for framework tests
  verif/frameworks/ignored_failures.json
  verif/frameworks/tosa_verif_framework_compiler_runner.py
Due: pytest

Conditionally Build Verfy Utility Tool
  .gitignore
  reference_model/CMakeLists.txt
  reference_model/src/verify/CMakeLists.txt
Due: none

Fix Linker Error on GCC-8.3
  reference_model/CMakeLists.txt
Due: none

Fix Linker Error on all GCC-8 versions
  reference_model/CMakeLists.txt
Due: none

Add missing REQUIREs for OpPow
  reference_model/src/generate/generate_fp_special.cc
  reference_model/src/ops/ewise_binary.cc
  reference_model/test/generate_tests.cpp
  verif/frameworks/tensor_gen.py
  verif/frameworks/tosa_verif_framework_generator.py
  verif/generator/tosa_arg_gen.py
Due: pytest, clang-format

Add Build Support for GCC-8.3
  reference_model/src/generate/generate_special_utils.h
  reference_model/test/ref_model_tests.cpp
Due: clang-format

Update acc type in AVG_POOL2D operator
  reference_model/src/ops/tensor_ops.cc
  reference_model/test/ref_model_tests.cpp
Due: clang-format

Update TRANSPOSE_CONV2D eval to align more closely to the spec.
  reference_model/src/ops/tensor_ops.cc
Due: clang-format

Fix tosa_verify build warning
  reference_model/src/generate/generate_utils.cc
Due: clang-format

Add local_bound tests to FFT2D/RFFT2D
  reference_model/src/ops/tensor_ops.cc
  verif/conformance/tosa_ext_profile_ops_info.json
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

Fix SPECIAL behaviour in all-NaN reductions
  reference_model/include/dtype.h
  reference_model/src/arith_util.h
  reference_model/src/ops/reduction.cc
  reference_model/src/ops/tensor_ops.cc
  reference_model/test/ref_model_tests.cpp
Due: clang-format

[ref model] Change to use ERROR_IF
  reference_model/src/ops/data_layout.cc
Due: clang-format

Make pad_const input to OpPAD
  reference_model/src/ops/data_layout.cc
  reference_model/src/ops/data_layout.h
  reference_model/src/tensor.h
  verif/conformance/tosa_ext_profile_ops_info.json
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format
