Repository jerryzhao173985/reference_model: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest, clang-format

pytest:
  name: pytest
  stages:
  - commit
  language: system
  entry: pytest -m "not postcommit"
  pass_filenames: false

clang-format:
  name: clang-format
  language: system
  entry: clang-format
  args:
  - -i

Fix format specifiers and enforce type safety in reference_model
  reference_model/src/arith_util.h
  reference_model/src/generate/generate_fixed_data.cpp
  reference_model/src/ops/control_flow.cpp
  reference_model/src/ops/custom.cpp
  reference_model/src/ops/data_layout.cpp
  reference_model/src/ops/shape.cpp
  reference_model/src/ops/type_conversion.cpp
  reference_model/src/verify/verify_dot_product.cpp
  reference_model/src/verify/verify_main.cpp
Due: clang-format

Respect CLI zeropints in CTS
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_random_gen.py
  verif/generator/tosa_test_gen.py
Due: pytest

CAST: float-point to integer using the round to nearest, ties to even rounding mode
  reference_model/src/ops/type_conversion.cpp
  reference_model/test/ref_model_tests/type_conversion_tests.cpp
Due: clang-format

Fix openssf warnings in reference_model/src/ops
  reference_model/src/arith_util.h
  reference_model/src/ops/activation_funcs.cpp
  reference_model/src/ops/ewise_binary.cpp
  reference_model/src/ops/ewise_ternary.cpp
  reference_model/src/ops/ewise_unary.cpp
  reference_model/src/ops/image.cpp
  reference_model/src/ops/reduction.cpp
  reference_model/src/ops/tensor_ops.cpp
  reference_model/src/ops/type_conversion.cpp
Due: clang-format

Add missing ERROR_IFs to CTS
  reference_model/src/ops/data_layout.cpp
  reference_model/src/ops/data_layout.h
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_error_if.py
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

Remove allocation of attribute in DEF_FACTORY_THREE_TYPE_ONE_ACCUM
  reference_model/src/ops/op_factory.h
Due: clang-format

src/generate & src/verify openssf warning fixes
  reference_model/src/generate/generate_dot_product_states.cpp
  reference_model/src/generate/generate_fixed_data.cpp
  reference_model/src/generate/generate_special.cpp
  reference_model/src/generate/generate_special_utils.h
  reference_model/src/generate/generate_utils.cpp
  reference_model/src/ops/type_conversion.cpp
  reference_model/src/verify/verify_abs_error.cpp
  reference_model/src/verify/verify_dot_product.cpp
  reference_model/src/verify/verify_utils.cpp
Due: clang-format

Update inexact round bounds and computation
  reference_model/src/ops/type_conversion.cpp
  reference_model/src/quant_util.h
Due: clang-format

[ref_model] Update serialization_lib to remove Yield Op
  examples/test_add_1x4x4x4_f32/model.pb
  examples/test_add_1x4x4x4_f32/model.tflite
  examples/test_conv2d_1x1_1x32x32x8_f32_st11_padSAME_dilat11/model.pb
  examples/test_conv2d_1x1_1x32x32x8_f32_st11_padSAME_dilat11/model.tflite
  examples/test_conv2d_1x1_1x32x32x8_qi8_st11_padSAME_dilat11/flatbuffer-tflite/test_conv2d_1x1_1x32x32x8_qi8_st11_padSAME_dilat11.tosa
  examples/test_conv2d_1x1_1x32x32x8_qi8_st11_padSAME_dilat11/model.tflite
  examples/test_lstm_stateful_13x21x3_f32/flatbuffer-tflite/test_lstm_stateful_13x21x3_f32.tosa
  examples/test_lstm_stateful_13x21x3_f32/model.tflite
Due: none

src/generate & src/verify openssf warning fixes
  reference_model/src/generate/generate_dot_product_states.cpp
  reference_model/src/generate/generate_fixed_data.cpp
  reference_model/src/generate/generate_special.cpp
  reference_model/src/generate/generate_special_utils.h
  reference_model/src/generate/generate_utils.cpp
  reference_model/src/ops/type_conversion.cpp
  reference_model/src/verify/verify_abs_error.cpp
  reference_model/src/verify/verify_dot_product.cpp
  reference_model/src/verify/verify_rescale_inexact.cpp
  reference_model/src/verify/verify_utils.cpp
Due: clang-format

Pin cmake version
  pyproject.toml
Due: none

[SDL] Remove SDL banned functions
  reference_model/include/custom_registry.h
  reference_model/src/func_debug.cpp
  reference_model/src/main.cpp
  reference_model/src/tensor.cpp
  reference_model/src/verify/verify_utils.cpp
  reference_model/test/generate_tests.cpp
Due: clang-format

[ref_model] Update serialization_lib to remove Yield Op
  examples/test_add_1x4x4x4_f32/model.pb
  examples/test_conv2d_1x1_1x32x32x8_f32_st11_padSAME_dilat11/model.pb
  examples/test_lstm_stateful_13x21x3_f32/flatbuffer-tflite/test_lstm_stateful_13x21x3_f32.tosa
  examples/test_lstm_stateful_13x21x3_f32/model.tflite
Due: none

RESCALE adding INEXACT_ROUND mode support and tests.
  reference_model/CMakeLists.txt
  reference_model/include/func_config.h
  reference_model/python_bindings/python_bindings.cpp
  reference_model/src/main.cpp
  reference_model/src/ops/activation_funcs.cpp
  reference_model/src/ops/ewise_binary.cpp
  reference_model/src/ops/ewise_unary.cpp
  reference_model/src/ops/reduction.cpp
  reference_model/src/ops/tensor_ops.cpp
  reference_model/src/ops/type_conversion.cpp
  reference_model/src/verify/CMakeLists.txt
  reference_model/src/verify/verifiers.h
  reference_model/src/verify/verify_entry.cpp
  reference_model/src/verify/verify_fp_special.cpp
  reference_model/src/verify/verify_rescale_inexact.cpp
  reference_model/src/verify/verify_utils.cpp
  reference_model/src/verify/verify_utils.h
  scripts/schemavalidation/compliance-config.schema.json
  verif/checker/verifier.py
  verif/conformance/tosa_profiles.py
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
  verif/generator/tosa_utils.py
  verif/runner/tosa_test_runner.py
Due: pytest, clang-format

Fix for FP Special ADD/SUB tests
  reference_model/src/generate/generate_fp_special.cpp
  reference_model/src/generate/generate_special_utils.h
  reference_model/test/generate_tests.cpp
Due: clang-format

Replace or with ||
  reference_model/src/ops/data_layout.cpp
Due: clang-format

MSVC specific build settings
  CMakeLists.txt
  reference_model/CMakeLists.txt
Due: none

Avoid if constexpr inside lambda expression
  reference_model/src/ops/type_conversion.cpp
Due: clang-format

Move function to its own source file
  reference_model/CMakeLists.txt
  reference_model/include/custom_registry.h
  reference_model/include/load_library.h
  reference_model/src/load_library_win.cpp
  reference_model/src/main.cpp
Due: clang-format

Make maths symbols available
  reference_model/src/ops/tensor_ops.cpp
Due: clang-format

Explicitly specify 64 bits
  reference_model/src/ops/tensor_ops.cpp
  reference_model/test/generate_tests.cpp
Due: clang-format

[ref_model] remove dtype UINT8 and UINT16
  examples/test_add_1x4x4x4_f32/flatbuffer-tf/test_add_1x4x4x4_f32.tosa
  examples/test_add_1x4x4x4_f32/flatbuffer-tflite/test_add_1x4x4x4_f32.tosa
  examples/test_add_1x4x4x4_f32/model.pb
  examples/test_add_1x4x4x4_f32/model.tflite
  examples/test_conv2d_1x1_1x32x32x8_f32_st11_padSAME_dilat11/flatbuffer-tf/test_conv2d_1x1_1x32x32x8_f32_st11_padSAME_dilat11.tosa
  examples/test_conv2d_1x1_1x32x32x8_f32_st11_padSAME_dilat11/flatbuffer-tflite/test_conv2d_1x1_1x32x32x8_f32_st11_padSAME_dilat11.tosa
  examples/test_conv2d_1x1_1x32x32x8_f32_st11_padSAME_dilat11/model.pb
  examples/test_conv2d_1x1_1x32x32x8_f32_st11_padSAME_dilat11/model.tflite
  examples/test_conv2d_1x1_1x32x32x8_qi8_st11_padSAME_dilat11/flatbuffer-tflite/test_conv2d_1x1_1x32x32x8_qi8_st11_padSAME_dilat11.tosa
  examples/test_conv2d_1x1_1x32x32x8_qi8_st11_padSAME_dilat11/model.tflite
  examples/test_lstm_stateful_13x21x3_f32/flatbuffer-tflite/test_lstm_stateful_13x21x3_f32.tosa
  examples/test_lstm_stateful_13x21x3_f32/model.tflite
  reference_model/include/dtype.h
  reference_model/src/generate/generate_utils.cpp
  reference_model/src/quant_util.h
  reference_model/src/tensor.cpp
  reference_model/src/verify/verify_main.cpp
  reference_model/src/verify/verify_utils.cpp
  reference_model/test/generate_tests.cpp
  reference_model/test/include/test_utils.h
  reference_model/test/verify_tests.cpp
  verif/frameworks/arg_gen.py
  verif/generator/tosa_random_gen.py
  verif/generator/tosa_test_gen.py
  verif/generator/tosa_utils.py
Due: pytest, clang-format

Remove third party submodules
  .gitmodules
  CMakeLists.txt
  reference_model/CMakeLists.txt
  reference_model/custom_op_example/CMakeLists.txt
  reference_model/src/main.cpp
  reference_model/src/ops/template_types.h
  reference_model/src/tensor.h
  reference_model/src/verify/CMakeLists.txt
  reference_model/test/generate_tests.cpp
  reference_model/test/include/test_utils.h
  reference_model/test/verify_exe_testing.cpp
  thirdparty/CMakeLists.txt
  thirdparty/cxxopts/CMakeLists.txt
Due: clang-format

[ref_model] remove dtype UINT8 and UINT16
  examples/test_add_1x4x4x4_f32/flatbuffer-tf/test_add_1x4x4x4_f32.tosa
  examples/test_add_1x4x4x4_f32/flatbuffer-tflite/test_add_1x4x4x4_f32.tosa
  examples/test_conv2d_1x1_1x32x32x8_f32_st11_padSAME_dilat11/flatbuffer-tf/test_conv2d_1x1_1x32x32x8_f32_st11_padSAME_dilat11.tosa
  examples/test_conv2d_1x1_1x32x32x8_f32_st11_padSAME_dilat11/flatbuffer-tflite/test_conv2d_1x1_1x32x32x8_f32_st11_padSAME_dilat11.tosa
  examples/test_conv2d_1x1_1x32x32x8_qi8_st11_padSAME_dilat11/flatbuffer-tflite/test_conv2d_1x1_1x32x32x8_qi8_st11_padSAME_dilat11.tosa
  examples/test_lstm_stateful_13x21x3_f32/flatbuffer-tflite/test_lstm_stateful_13x21x3_f32.tosa
  reference_model/include/dtype.h
  reference_model/src/generate/generate_utils.cpp
  reference_model/src/quant_util.h
  reference_model/src/tensor.cpp
  reference_model/src/verify/verify_main.cpp
  reference_model/src/verify/verify_utils.cpp
  reference_model/test/generate_tests.cpp
  reference_model/test/include/test_utils.h
  reference_model/test/verify_tests.cpp
  verif/frameworks/arg_gen.py
  verif/generator/tosa_random_gen.py
  verif/generator/tosa_test_gen.py
  verif/generator/tosa_utils.py
Due: pytest, clang-format

Add SECURITY.md to list third-party dependencies
  SECURITY.md
Due: none

Correct ulpmax tests with type specific values
  reference_model/src/generate/generate_special_utils.h
  reference_model/test/generate_tests.cpp
Due: clang-format

Initialize arrshape
  reference_model/src/tensor.cpp
Due: clang-format

Path conditions:
  pytest: any of: \.py$
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: build|third_party
