Repository jerryzhao173985/reference_model: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest, clang-format

.pre-commit-config.yaml:

# Copyright (c) 2021-2024 Arm Limited.
# SPDX-License-Identifier: Apache-2.0

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/asottile/reorder_python_imports
    rev: v3.0.1
    hooks:
    -   id: reorder-python-imports

-   repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
    -   id: black

-   repo: https://github.com/pycqa/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8

-   repo: local
    hooks:
    -   id: pytest
        name: pytest
        stages: [commit]
        language: system
        entry: pytest -m "not postcommit"
        types: [python]
        pass_filenames: false

-   repo: local
    hooks:
    -   id: clang-format
        name: clang-format
        exclude: build|third_party
        language: system
        entry: clang-format
        types: ["c++"]
        args: ["-i"]

Change --extension help message in conformance generator
  verif/conformance/tosa_verif_conformance_generator.py
Due: pytest

Update the C/C++ verify library to include support bool
  reference_model/src/verify/verify_exact.cc
  verif/generator/tosa_utils.py
Due: pytest, clang-format

Fix MAXIMUM/MINIMUM handling of NaNs and zeroes
  reference_model/src/ops/ewise_binary.cc
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

Conformance extension support by default
  README.md
  verif/conformance/README.md
  verif/conformance/tosa_base_profile_framework_ops_info.json
  verif/conformance/tosa_base_profile_ops_info.json
  verif/conformance/tosa_main_profile_ops_info.json
  verif/conformance/tosa_verif_conformance_generator.py
Due: pytest

Update reference generator test set calculation
  reference_model/src/generate/generate_dot_product_states.cc
Due: clang-format

Add missing signed/unsigned data types of input/output for RESCALE op
  reference_model/src/ops/type_conversion.cc
Due: clang-format

[ref model] Fix pre-commit test to run on linux and macOS
  verif/tests/test_tosa_run_tests_runshcmd.py
Due: pytest

Change the table parameter from attribute to tensor type
  reference_model/src/ops/ewise_binary.cc
  reference_model/src/ops/ewise_binary.h
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

Update FP Special/full tests for ACTIVATION & UNARY ops
  reference_model/src/generate/generate_fp_special.cc
  verif/conformance/tosa_ext_profile_ops_info.json
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
  verif/generator/tosa_verif_build_tests.py
Due: pytest, clang-format

Fix dynamic_batch_to_space tf test case generation error
  verif/frameworks/tosa_verif_framework_generator.py
Due: pytest

Add FP Special FP32 UNARY tests
  reference_model/src/generate/generate_fp_special.cc
  verif/conformance/tosa_ext_profile_ops_info.json
  verif/generator/tosa_test_gen.py
  verif/tests/test_tosa_refmodel.py
Due: pytest, clang-format

Add rank 6 ACTIVATION FP tests
  verif/conformance/tosa_ext_profile_ops_info.json
Due: none

Simplify tosa_ext_profile_ops_info.json
  verif/conformance/tosa_ext_profile_ops_info.json
  verif/conformance/tosa_verif_conformance_generator.py
Due: pytest

Improve coverage for DATA LAYOUT tests
  verif/conformance/tosa_ext_profile_ops_info.json
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
Due: pytest

Add local_bound attribute support to conv ops
  reference_model/src/ops/tensor_ops.cc
  verif/conformance/test_select.py
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

Update test generator to fix padding in depthwise_conv2d
  verif/conformance/tosa_ext_profile_ops_info.json
  verif/generator/tosa_arg_gen.py
Due: pytest

Fix up refmodel generate unit_tests
  reference_model/test/generate_tests.cpp
Due: clang-format

Fix rescale for signed inputs
  reference_model/src/ops/type_conversion.cc
Due: clang-format

Allow close-call infinities in dot product operations
  reference_model/src/verify/verify_dot_product.cc
Due: clang-format

Use native size of Bfloat16 and Float8 in reference model
  reference_model/src/arith_util.h
  reference_model/src/generate/generate_dot_product.cc
  reference_model/src/generate/generate_dot_product_states.cc
  reference_model/src/generate/generate_fp_special.cc
  reference_model/src/generate/generate_full_range.cc
  reference_model/src/generate/generate_pseudo_random.cc
  reference_model/src/generate/generate_utils.h
  reference_model/src/model_runner_impl.cc
  reference_model/src/ops/activation_funcs.cc
  reference_model/src/ops/data_layout.cc
  reference_model/src/ops/image.cc
  reference_model/src/ops/op_factory.cc
  reference_model/src/ops/op_factory.h
  reference_model/src/ops/type_conversion.cc
  reference_model/src/ops/type_conversion.h
  reference_model/src/subgraph_traverser.cc
  reference_model/src/tensor.cc
  reference_model/src/tensor.h
  reference_model/src/verify/verify_abs_error.cc
  reference_model/src/verify/verify_dot_product.cc
  reference_model/src/verify/verify_exact.cc
  reference_model/src/verify/verify_fp_special.cc
  reference_model/src/verify/verify_reduce_product.cc
  reference_model/src/verify/verify_relative.cc
  reference_model/src/verify/verify_ulp.cc
  reference_model/src/verify/verify_utils.cc
  reference_model/src/verify/verify_utils.h
  scripts/json2numpy/json2numpy.py
  verif/checker/tosa_result_checker.py
  verif/checker/verifier.py
  verif/generator/datagenerator.py
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_random_gen.py
  verif/generator/tosa_test_gen.py
  verif/generator/tosa_utils.py
  verif/tests/test_tosa_refmodel.py
Due: pytest, clang-format

Reduce the amount of bf16 and fp8 tests
  verif/conformance/tosa_ext_profile_ops_info.json
Due: none

Adapt to new ResizeAttribute
  verif/generator/tosa_test_gen.py
Due: pytest

Reinterpret results as unsigned if the tf is unsigned
  verif/frameworks/tosa_verif_framework_compiler_runner.py
Due: pytest

Add ml-dtypes to setup.cfg
  setup.cfg
Due: none

Improve MI coverage for CONST & IDENTITY Ops
  verif/conformance/tosa_ext_profile_ops_info.json
  verif/generator/tosa_test_gen.py
Due: pytest

Fix FP special tests to not broadcast
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
Due: pytest

Fix issues for CONST and IDENTITY Ops
  verif/conformance/tosa_ext_profile_ops_info.json
Due: none

Improve SLICE test creation
  verif/generator/tosa_arg_gen.py
Due: pytest

Extend SPECIAL data gen mode to Tensor ops
  reference_model/src/dtype_limits.h
  reference_model/src/generate/generate_fp_special.cc
  reference_model/src/ops/tensor_ops.cc
  reference_model/src/verify/verify_fp_special.cc
  verif/conformance/test_select.py
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

Add Random to FP Special data gen
  reference_model/src/generate/generate_fp_special.cc
  reference_model/src/generate/generate_utils.cc
  reference_model/src/generate/generate_utils.h
  reference_model/test/generate_tests.cpp
  scripts/schemavalidation/datagen-config.schema.json
  verif/generator/tosa_arg_gen.py
Due: pytest, clang-format

Update CTS support for GATHER and SCATTER.
  verif/conformance/tosa_ext_profile_ops_info.json
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
Due: pytest

Add missing copyright header to dtype_limits.h
  reference_model/src/dtype_limits.h
Due: clang-format

Adjust conformance bounds for acc_type changes
  reference_model/src/ops/tensor_ops.cc
  reference_model/src/ops/tensor_ops.h
  reference_model/src/verify/verify_dot_product.cc
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
  verif/generator/tosa_utils.py
Due: pytest, clang-format

[TOSA] Limit shift length for logical shift in ref model.
  reference_model/src/ops/ewise_binary.cc
  verif/frameworks/arg_gen.py
  verif/frameworks/tensor_gen.py
  verif/frameworks/test_gen_utils.py
  verif/frameworks/tosa_verif_framework_generator.py
  verif/generator/tosa_arg_gen.py
Due: pytest, clang-format

CTS - Allow interger CONST operations in MI
  verif/conformance/tosa_ext_profile_ops_info.json
Due: none

Enable FP Special tests for EW Binary ops
  reference_model/src/generate/generate_fp_special.cc
  reference_model/test/generate_tests.cpp
  verif/conformance/tosa_ext_profile_ops_info.json
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

Fix bounds in absolute error verification unit tests
  reference_model/test/verify_tests.cpp
Due: clang-format

Update reference model cmakelists to be version 3.16 compatible
  README.md
  thirdparty/CMakeLists.txt
Due: none

Move shape operators to extension
  verif/conformance/tosa_ext_profile_ops_info.json
  verif/conformance/tosa_profiles.py
Due: pytest

Change the names of the profiles
  reference_model/include/func_config.h
  reference_model/src/command_line_utils.h
  reference_model/src/subgraph_traverser.cc
  verif/conformance/tosa_ext_profile_ops_info.json
  verif/conformance/tosa_profiles.py
  verif/conformance/tosa_verif_conformance_generator.py
  verif/runner/tosa_verif_run_tests.py
Due: pytest, clang-format
