Repository jerryzhao173985/reference_model: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest, clang-format

.pre-commit-config.yaml:

# Copyright (c) 2021-2024 Arm Limited.
# SPDX-License-Identifier: Apache-2.0

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/asottile/reorder_python_imports
    rev: v3.13.0
    hooks:
    -   id: reorder-python-imports
      # The reorder python imports can get confused if directories exist.
      # Use a dummy application directory to avoid problems.
        args: [ "--application-directories=NotARealDirectoryName" ]

-   repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
    -   id: black

-   repo: https://github.com/pycqa/flake8
    rev: 7.1.1
    hooks:
    -   id: flake8

-   repo: local
    hooks:
    -   id: pytest
        name: pytest
        stages: [commit]
        language: system
        entry: pytest -m "not postcommit"
        types: [python]
        pass_filenames: false

-   repo: local
    hooks:
    -   id: clang-format
        name: clang-format
        exclude: build|third_party
        language: system
        entry: clang-format
        types: ["c++"]
        args: ["-i"]

Fix openssf warnings and refactor dumpTensor call
  reference_model/CMakeLists.txt
  reference_model/src/generate/generate_pseudo_random.cpp
  reference_model/src/ops/activation_funcs.cpp
  reference_model/src/ops/ewise_binary.cpp
  reference_model/src/ops/ewise_unary.cpp
  reference_model/src/tensor.cpp
  reference_model/test/generate_tests.cpp
  reference_model/test/ref_model_tests/dump_tensor_tests.cpp
  reference_model/test/verify_tests.cpp
Due: clang-format

Enable multi-processing of CTS test building
  verif/conformance/tosa_verif_conformance_generator.py
Due: pytest

Update README.md to Tosa v1.0
  README.md
  verif/README.md
Due: none

Eliminate type conversion warnings in MSVC build
  reference_model/src/subgraph_traverser.cpp
  reference_model/test/generate_tests.cpp
Due: clang-format

Fix OpenSSF-related warnings for GCC
  reference_model/CMakeLists.txt
  reference_model/src/generate/generate_fixed_data.cpp
  reference_model/src/generate/generate_special.cpp
  reference_model/src/generate/generate_special_utils.h
  reference_model/src/main.cpp
  reference_model/src/model_runner_impl.cpp
  reference_model/src/ops/control_flow.cpp
  reference_model/src/ops/custom.cpp
  reference_model/src/ops/data_layout.cpp
  reference_model/src/ops/image.cpp
  reference_model/src/ops/op_factory.h
  reference_model/src/ops/tensor_ops.cpp
  reference_model/src/verify/verify_utils.cpp
  reference_model/test/generate_tests.cpp
Due: clang-format

Add Torch Unit Test Suite to Reference Model
  .gitignore
  README.md
  setup.cfg
  verif/frameworks/ignored_failures.json
  verif/frameworks/shape_list.py
  verif/frameworks/test_gen_utils.py
  verif/frameworks/tf/__init__.py
  verif/frameworks/tf/arg_gen.py
  verif/frameworks/tf/tensor_gen.py
  verif/frameworks/tf/test_builder.py
  verif/frameworks/tf/tf_op_list.py
  verif/frameworks/torch/__init__.py
  verif/frameworks/torch/arg_gen.py
  verif/frameworks/torch/tensor_gen.py
  verif/frameworks/torch/test_builder.py
  verif/frameworks/torch/torch_op_list.py
  verif/frameworks/tosa_verif_framework_compiler_runner.py
  verif/frameworks/tosa_verif_framework_generator.py
  verif/frameworks/write_test_json.py
Due: pytest

Fix fallthrough warnings
  reference_model/src/verify/verify_rescale_inexact.cpp
Due: clang-format

Update CAST Compliance ULP range
  reference_model/src/verify/verify_abs_error.cpp
  reference_model/src/verify/verify_exact.cpp
  reference_model/src/verify/verify_reduce_product.cpp
  reference_model/src/verify/verify_relative.cpp
  reference_model/src/verify/verify_ulp.cpp
  reference_model/src/verify/verify_utils.cpp
  reference_model/src/verify/verify_utils.h
  reference_model/test/verify_tests.cpp
  scripts/schemavalidation/compliance-config.schema.json
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

[ref_model] Change to use TosaSerializationShape
  examples/test_add_1x4x4x4_f32/flatbuffer-tf/test_add_1x4x4x4_f32.tosa
  examples/test_add_1x4x4x4_f32/flatbuffer-tflite/test_add_1x4x4x4_f32.tosa
  examples/test_conv2d_1x1_1x32x32x8_f32_st11_padSAME_dilat11/flatbuffer-tf/test_conv2d_1x1_1x32x32x8_f32_st11_padSAME_dilat11.tosa
  examples/test_conv2d_1x1_1x32x32x8_f32_st11_padSAME_dilat11/flatbuffer-tflite/test_conv2d_1x1_1x32x32x8_f32_st11_padSAME_dilat11.tosa
  examples/test_conv2d_1x1_1x32x32x8_qi8_st11_padSAME_dilat11/flatbuffer-tflite/test_conv2d_1x1_1x32x32x8_qi8_st11_padSAME_dilat11.tosa
  examples/test_lstm_stateful_13x21x3_f32/flatbuffer-tflite/test_lstm_stateful_13x21x3_f32.tosa
  reference_model/src/subgraph_traverser.cpp
  reference_model/src/subgraph_traverser.h
  reference_model/test/include/test_utils.h
  reference_model/test/ref_model_tests/data_layout_tests.cpp
  verif/generator/tosa_arg_gen.py
Due: pytest, clang-format

Fix resource leak Coverity warning
  reference_model/src/main.cpp
Due: clang-format

[ref_model] Change to use TosaSerializationShape
  reference_model/src/subgraph_traverser.cpp
  reference_model/src/subgraph_traverser.h
  reference_model/test/include/test_utils.h
  reference_model/test/ref_model_tests/data_layout_tests.cpp
  verif/generator/tosa_arg_gen.py
Due: pytest, clang-format

Update: README section for Python bindings
  README.md
Due: none

build(pybindings): add MSBuild support for python bindings
  reference_model/CMakeLists.txt
  reference_model/python_bindings/python_bindings.cpp
  setup.py
Due: pytest, clang-format

Update LOG Compliance
  reference_model/src/ops/ewise_unary.cpp
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

Update SIN Compliance
  reference_model/src/verify/verify_abs_error.cpp
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

Support MLIR Location
  reference_model/test/include/test_utils.h
Due: clang-format

Fix incorrect test reqs on conformance tests
  verif/generator/tosa_arg_gen.py
Due: pytest

Clean up Conformance output files
  verif/generator/tosa_test_gen.py
Due: pytest

Fix misuse of SYSTEM include flag to suppress warnings only for third-party headers
  reference_model/CMakeLists.txt
  reference_model/python_bindings/python_bindings.cpp
  reference_model/samples/model_runner_simple_sample.cpp
  reference_model/src/arith_util.h
  reference_model/src/general_utils.h
  reference_model/src/quant_util.h
  reference_model/src/subgraph_traverser.cpp
Due: clang-format

Conformance Test fixes for Windows
  verif/checker/color_print.py
  verif/checker/verifier.py
  verif/conformance/model_files.py
  verif/conformance/tosa_verif_conformance_generator.py
  verif/generator/datagenerator.py
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_error_if.py
  verif/generator/tosa_utils.py
  verif/generator/tosa_verif_build_tests.py
  verif/runner/tosa_verif_run_tests.py
Due: pytest

Initialize robot simulation project with VSG and ODE integration
  robot_simulation/CMakeLists.txt
  robot_simulation/README.md
  robot_simulation/build.sh
  robot_simulation/include/PhysicsWorld.h
  robot_simulation/include/Robot.h
  robot_simulation/include/RobotController.h
  robot_simulation/include/Terrain.h
  robot_simulation/include/Visualizer.h
  robot_simulation/src/PhysicsWorld.cpp
  robot_simulation/src/Robot.cpp
  robot_simulation/src/RobotController.cpp
  robot_simulation/src/Terrain.cpp
  robot_simulation/src/Visualizer.cpp
  robot_simulation/src/main.cpp
Due: clang-format

Add CMake presets and VSCode settings for macOS arm64 development
  .vscode/settings.json
  CMakePresets.json
Due: none

Add build script and documentation for TOSA reference model examples
  reference_model/src/FINAL_SUCCESS_SUMMARY.md
  reference_model/src/README_graph_example.md
  reference_model/src/build_test_graph.sh
  reference_model/src/test_graph_example.cpp
Due: clang-format
