Repository jerryzhao173985/reference_model: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest, clang-format

pytest:
  name: pytest
  stages:
  - commit
  language: system
  entry: pytest -m "not postcommit"
  pass_filenames: false

clang-format:
  name: clang-format
  language: system
  entry: clang-format
  args:
  - -i

Update RESCALE supported unsigned types and fix test ranges
  reference_model/src/generate/generate_entry.cc
  reference_model/src/generate/generate_fixed_data.cc
  reference_model/src/generate/generate_pseudo_random.cc
  reference_model/src/ops/type_conversion.cc
  verif/conformance/tosa_ext_profile_ops_info.json
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_error_if.py
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

Make pad_const input to OpPAD
  reference_model/src/ops/data_layout.cc
  reference_model/src/ops/data_layout.h
  reference_model/src/tensor.h
  verif/conformance/tosa_ext_profile_ops_info.json
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

Update acc type in AVG_POOL2D operator
  reference_model/src/ops/tensor_ops.cc
  reference_model/test/ref_model_tests.cpp
Due: clang-format

Fix SPECIAL behaviour in all-NaN reductions
  reference_model/include/dtype.h
  reference_model/src/arith_util.h
  reference_model/src/ops/reduction.cc
  reference_model/src/ops/tensor_ops.cc
  reference_model/test/ref_model_tests.cpp
Due: clang-format

Fix compilation issues for windows
  reference_model/include/custom_registry.h
  reference_model/src/dtype_limits.h
  reference_model/src/func_debug.cc
  reference_model/src/main.cpp
  reference_model/test/verify_exe_testing.cpp
Due: clang-format

[ref model] Change to use ERROR_IF
  reference_model/src/ops/data_layout.cc
Due: clang-format

Align ARITHMETIC_RIGHT_SHIFT with the spec
  reference_model/src/arith_util.h
  reference_model/src/ops/ewise_binary.cc
Due: clang-format

Update TRANSPOSE_CONV2D eval to align more closely to the spec.
  reference_model/src/ops/tensor_ops.cc
Due: clang-format

Switch zero points of avg_pool2d to variable input type
  reference_model/src/ops/ewise_unary.cc
  reference_model/src/ops/tensor_ops.cc
  reference_model/src/ops/tensor_ops.h
  reference_model/test/ref_model_tests.cpp
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

Update generate_entry copyright
  reference_model/src/generate/generate_entry.cc
Due: clang-format

Update instructions in README to match load_npy/save_npy functions.
  README.md
Due: none

Add EXT-CONTROLFLOW and other ranks for COND_IF conditional
  reference_model/src/graph_node.h
  reference_model/src/ops/control_flow.cc
  reference_model/src/ops/control_flow.h
  reference_model/src/ops/op_factory.cc
  reference_model/src/ops/op_factory.h
  verif/conformance/tosa_ext_profile_ops_info.json
  verif/conformance/tosa_profiles.py
  verif/conformance/tosa_verif_conformance_generator.py
  verif/generator/tosa_error_if.py
  verif/generator/tosa_random_gen.py
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

Change README to specify build type
  README.md
Due: none

[tosa_verify] Add shape compliance
  reference_model/include/dtype.h
  reference_model/include/verify.h
  reference_model/src/verify/verify_main.cpp
  reference_model/test/verify_exe_testing.cpp
Due: clang-format

Increase CTS coverage for POW FP Special
  reference_model/src/generate/generate_fp_special.cc
  reference_model/test/generate_tests.cpp
  reference_model/test/ref_model_tests.cpp
  reference_model/test/test_utils.h
  reference_model/test/verify_tests.cpp
Due: clang-format

Fix debug log error for AvgPool2d
  reference_model/src/ops/tensor_ops.cc
Due: clang-format

Fix qinfo usage in CONV ops and MATMUL
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
Due: pytest

8k level CTS updates for CONST_SHAPE
  reference_model/src/generate/generate_fixed_data.cc
  verif/conformance/tosa_ext_profile_ops_info.json
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

Update SIGMOID and TANH to use native types.
  reference_model/src/ops/activation_funcs.cc
  reference_model/test/ref_model_tests.cpp
  reference_model/test/test_utils.h
Due: clang-format

Make RESCALE, CAST and MATMUL tests deterministic
  reference_model/src/generate/generate_dot_product_states.cc
  reference_model/src/generate/generate_utils.cc
  reference_model/src/generate/generate_utils.h
  scripts/schemavalidation/datagen-config.schema.json
  verif/conformance/tosa_ext_profile_ops_info.json
  verif/conformance/tosa_verif_conformance_generator.py
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_error_if.py
  verif/generator/tosa_test_gen.py
  verif/generator/tosa_test_select.py
  verif/generator/tosa_utils.py
  verif/generator/tosa_verif_build_tests.py
  verif/tests/test_tosa_datagenerator.py
Due: pytest, clang-format

Fix allocation of empty shapes
  reference_model/src/ops/data_layout.cc
  reference_model/src/ops/data_layout.h
  reference_model/src/tensor.h
  reference_model/src/verify/verify_exact.cc
  reference_model/src/verify/verify_main.cpp
  verif/frameworks/ignored_failures.json
Due: clang-format

Split reference model unit tests by op groups
  reference_model/CMakeLists.txt
  reference_model/test/ref_model_tests/activation_funcs_tests.cpp
  reference_model/test/ref_model_tests/ewise_binary_tests.cpp
  reference_model/test/ref_model_tests/ewise_ternary_tests.cpp
  reference_model/test/ref_model_tests/reduction_tests.cpp
  reference_model/test/ref_model_tests/tensor_ops_tests.cpp
  reference_model/test/ref_model_tests/type_conversion_tests.cpp
Due: clang-format

Add unit tests for rank 0 support in RESHAPE
  reference_model/CMakeLists.txt
  reference_model/test/ref_model_tests/data_layout_tests.cpp
Due: clang-format

Broadcast bias in CONV operators
  reference_model/src/ops/tensor_ops.cpp
  reference_model/test/ref_model_tests/tensor_ops_tests.cpp
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

Replace profile desc.json with test_requirements
  scripts/convert2conformance/convert2conformance.py
  scripts/schemavalidation/desc.schema.json
  verif/conformance/tosa_profiles.py
  verif/conformance/tosa_verif_conformance_generator.py
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_error_if.py
  verif/generator/tosa_test_gen.py
  verif/generator/tosa_test_select.py
  verif/generator/tosa_utils.py
  verif/generator/tosa_verif_build_tests.py
  verif/runner/tosa_test_runner.py
  verif/runner/tosa_verif_run_tests.py
Due: pytest

Change statement-expression to lambda
  reference_model/src/ops/op_factory.h
Due: clang-format

Fix flake warnings
  setup.py
  verif/conformance/tosa_verif_conformance_generator.py
Due: pytest

Selectively reduce inlining
  reference_model/CMakeLists.txt
Due: none

Path conditions:
  pytest: any of: \.py$
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: build|third_party
