Repository jerryzhao173985/reference_model: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest, clang-format

pytest:
  name: pytest
  stages:
  - commit
  language: system
  entry: pytest -m "not postcommit"
  pass_filenames: false

clang-format:
  name: clang-format
  language: system
  entry: clang-format
  args:
  - -i

Save Int16/UINT16 test outputs to native dtypes
  reference_model/src/tensor.cc
  reference_model/src/tensor.h
  verif/frameworks/tosa_verif_framework_compiler_runner.py
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

Fix comparing unsigned int and int in slice evaluation
  reference_model/src/ops/data_layout.cc
  reference_model/src/ops/data_layout.h
Due: clang-format

[ref_model] Change resize attrs to inputs
  reference_model/src/ops/image.cc
  reference_model/src/ops/image.h
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

Ref-model generate build warning fix
  reference_model/src/generate/generate_fixed_data.cc
Due: clang-format

Verifier - change to output largest error deviance
  reference_model/src/verify/verifiers.h
  reference_model/src/verify/verify_abs_error.cc
  reference_model/src/verify/verify_dot_product.cc
  reference_model/src/verify/verify_reduce_product.cc
  reference_model/src/verify/verify_relative.cc
  reference_model/src/verify/verify_ulp.cc
  reference_model/src/verify/verify_utils.cc
  reference_model/src/verify/verify_utils.h
Due: clang-format

[reference_model] tosa.fb name changes
  examples/run_ref_model_examples.sh
  examples/test_add_1x4x4x4_f32/model.pb
  examples/test_add_1x4x4x4_f32/model.tflite
  examples/test_conv2d_1x1_1x32x32x8_f32_st11_padSAME_dilat11/flatbuffer-tf/test_conv2d_1x1_1x32x32x8_f32_st11_padSAME_dilat11.tosa
  examples/test_conv2d_1x1_1x32x32x8_f32_st11_padSAME_dilat11/flatbuffer-tflite/test_conv2d_1x1_1x32x32x8_f32_st11_padSAME_dilat11.tosa
  examples/test_conv2d_1x1_1x32x32x8_f32_st11_padSAME_dilat11/model.pb
  examples/test_conv2d_1x1_1x32x32x8_f32_st11_padSAME_dilat11/model.tflite
  examples/test_conv2d_1x1_1x32x32x8_qi8_st11_padSAME_dilat11/flatbuffer-tflite/test_conv2d_1x1_1x32x32x8_qi8_st11_padSAME_dilat11.tosa
  examples/test_conv2d_1x1_1x32x32x8_qi8_st11_padSAME_dilat11/model.tflite
  examples/test_lstm_stateful_13x21x3_f32/flatbuffer-tflite/desc.json
  examples/test_lstm_stateful_13x21x3_f32/flatbuffer-tflite/test_lstm_stateful_13x21x3_f32.tosa
  examples/test_lstm_stateful_13x21x3_f32/model.tflite
  examples/test_lstm_stateful_13x21x3_f32/placeholder_0.npy
  examples/test_lstm_stateful_13x21x3_f32/tflite_result.npy
  examples/test_stateful_op/desc.json
  examples/test_stateful_op/placeholder_0.npy
  examples/test_stateful_op/test_variable_add.tosa
  examples/test_stateful_op/variable_0.npy
  reference_model/src/generate/generate_dot_product_states.cc
  reference_model/src/ops/control_flow.cc
  reference_model/src/ops/data_layout.h
  reference_model/src/ops/op_factory.h
  reference_model/src/ops/tensor_ops.cc
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

Update tensor allocator for FP16 case
  reference_model/src/subgraph_traverser.cc
Due: clang-format

Fix padding value for PAD op and tensor writing to npy for FP8
  reference_model/src/ops/data_layout.cc
  reference_model/src/tensor.cc
Due: clang-format

Testing support for MUL with shift as input
  examples/test_lstm_stateful_13x21x3_f32/flatbuffer-tflite/test_lstm_stateful_13x21x3_f32.tosa
  reference_model/src/generate/generate_fixed_data.cc
  reference_model/src/ops/ewise_binary.cc
  reference_model/src/ops/ewise_binary.h
  verif/generator/datagenerator.py
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

Unpin Numpy version
  setup.cfg
Due: none

Minor fix ups in verify lib
  reference_model/src/verify/verify_dot_product.cc
  reference_model/src/verify/verify_reduce_product.cc
  reference_model/src/verify/verify_utils.cc
  reference_model/src/verify/verify_utils.h
Due: clang-format

Fix the usage of command line arguments for reference_model
  reference_model/src/main.cpp
Due: clang-format

Ensure only matching op conformance tests
  verif/conformance/tosa_base_profile_ops_info.json
  verif/conformance/tosa_main_profile_ops_info.json
  verif/conformance/tosa_verif_conformance_generator.py
Due: pytest

Add Tosa Sin/Cos operators
  reference_model/src/generate/generate_utils.cc
  reference_model/src/ops/ewise_unary.cc
  reference_model/src/ops/ewise_unary.h
  reference_model/src/ops/op_factory.cc
  reference_model/src/verify/verify_abs_error.cc
  reference_model/src/verify/verify_utils.cc
  reference_model/src/verify/verify_utils.h
  scripts/schemavalidation/compliance-config.schema.json
  verif/conformance/test_select.py
  verif/conformance/tosa_main_profile_ops_info.json
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

Re-instate missing conformance tests
  verif/conformance/README.md
  verif/conformance/tosa_base_profile_ops_info.json
  verif/conformance/tosa_main_profile_ops_info.json
  verif/conformance/tosa_verif_conformance_generator.py
Due: pytest

[ref model] Change RescaleOp attrs to inputs
  examples/test_add_1x4x4x4_f32/model.pb
  examples/test_conv2d_1x1_1x32x32x8_f32_st11_padSAME_dilat11/flatbuffer-tf/test_conv2d_1x1_1x32x32x8_f32_st11_padSAME_dilat11.tosa
  examples/test_conv2d_1x1_1x32x32x8_f32_st11_padSAME_dilat11/flatbuffer-tflite/test_conv2d_1x1_1x32x32x8_f32_st11_padSAME_dilat11.tosa
  examples/test_conv2d_1x1_1x32x32x8_f32_st11_padSAME_dilat11/model.pb
  examples/test_conv2d_1x1_1x32x32x8_qi8_st11_padSAME_dilat11/flatbuffer-tflite/test_conv2d_1x1_1x32x32x8_qi8_st11_padSAME_dilat11.tosa
  examples/test_lstm_stateful_13x21x3_f32/flatbuffer-tflite/test_lstm_stateful_13x21x3_f32.tosa
  reference_model/src/ops/type_conversion.cc
  reference_model/src/ops/type_conversion.h
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
  verif/generator/tosa_utils.py
Due: pytest, clang-format

FULL data gen mode for FP16
  reference_model/CMakeLists.txt
  reference_model/src/generate/generate_entry.cc
  reference_model/src/generate/generate_full_range.cc
  reference_model/src/generate/generate_full_range.h
  reference_model/src/generate/generate_utils.cc
  reference_model/src/generate/generate_utils.h
  reference_model/src/verify/verify_abs_error.cc
  reference_model/src/verify/verify_utils.cc
  reference_model/test/generate_tests.cpp
  scripts/schemavalidation/datagen-config.schema.json
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
  verif/generator/tosa_utils.py
Due: pytest, clang-format

Add INT48 and INT4 datatype support to IDENTITY
  reference_model/src/ops/data_nodes.cc
  reference_model/src/ops/op_factory.cc
  verif/conformance/tosa_base_profile_ops_info.json
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

Fix CONV2D WrongOutputType ERRORIF test gen
  verif/generator/tosa_test_gen.py
Due: pytest

Improved test selection before test generation
  verif/conformance/README.md
  verif/conformance/tosa_main_profile_ops_info.json
  verif/conformance/tosa_verif_conformance_generator.py
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_error_if.py
  verif/generator/tosa_test_gen.py
  verif/generator/tosa_test_select.py
  verif/generator/tosa_verif_build_tests.py
Due: pytest

Fix REDUCE_SUM compliance test creation
  verif/generator/tosa_arg_gen.py
Due: pytest

Fix data gen changes due to new select
  verif/generator/tosa_test_select.py
Due: pytest

Add quick testing selection default
  verif/generator/tosa_verif_build_tests.py
Due: pytest

Add missing FP8 definition and instantiation for FULLY_CONNNECTED op
  reference_model/src/ops/op_factory.cc
  reference_model/src/ops/tensor_ops.cc
Due: clang-format

[ref model] Change Clamp and Pad attribute fields
  examples/test_conv2d_1x1_1x32x32x8_qi8_st11_padSAME_dilat11/flatbuffer-tflite/test_conv2d_1x1_1x32x32x8_qi8_st11_padSAME_dilat11.tosa
  reference_model/src/ops/activation_funcs.cc
  reference_model/src/ops/data_layout.cc
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
  verif/generator/tosa_utils.py
Due: pytest, clang-format

Updated build_tests to support different random generators
  verif/conformance/tosa_main_profile_ops_info.json
  verif/conformance/tosa_verif_conformance_generator.py
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_error_if.py
  verif/generator/tosa_random_gen.py
  verif/generator/tosa_test_gen.py
  verif/generator/tosa_verif_build_tests.py
Due: pytest

[ref model] Add acc_type to Conv Ops
  .gitignore
  examples/test_conv2d_1x1_1x32x32x8_f32_st11_padSAME_dilat11/flatbuffer-tf/test_conv2d_1x1_1x32x32x8_f32_st11_padSAME_dilat11.tosa
  examples/test_conv2d_1x1_1x32x32x8_f32_st11_padSAME_dilat11/flatbuffer-tflite/test_conv2d_1x1_1x32x32x8_f32_st11_padSAME_dilat11.tosa
  examples/test_conv2d_1x1_1x32x32x8_qi8_st11_padSAME_dilat11/flatbuffer-tflite/test_conv2d_1x1_1x32x32x8_qi8_st11_padSAME_dilat11.tosa
  examples/test_lstm_stateful_13x21x3_f32/flatbuffer-tflite/test_lstm_stateful_13x21x3_f32.tosa
  reference_model/src/graph_node.h
  reference_model/src/ops/op_factory.cc
  reference_model/src/ops/op_factory.h
  reference_model/src/ops/tensor_ops.cc
  reference_model/src/ops/tensor_ops.h
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_error_if.py
  verif/generator/tosa_test_gen.py
  verif/generator/tosa_utils.py
Due: pytest, clang-format

Fix missing/broken ERROR_IF tests
  verif/conformance/tosa_verif_conformance_generator.py
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_error_if.py
  verif/generator/tosa_test_gen.py
  verif/generator/tosa_test_select.py
  verif/generator/tosa_utils.py
  verif/generator/tosa_verif_build_tests.py
Due: pytest

Fix writeVariableTensors error in example runs
  examples/test_lstm_stateful_13x21x3_f32/flatbuffer-tflite/desc.json
Due: none

Remove draft tag from 0.90 reference model
  examples/test_add_1x4x4x4_f32/flatbuffer-tf/test_add_1x4x4x4_f32.tosa
  examples/test_add_1x4x4x4_f32/flatbuffer-tflite/test_add_1x4x4x4_f32.tosa
  examples/test_add_1x4x4x4_f32/model.pb
  examples/test_add_1x4x4x4_f32/model.tflite
  examples/test_add_1x4x4x4_f32/test.json
  examples/test_conv2d_1x1_1x32x32x8_f32_st11_padSAME_dilat11/flatbuffer-tf/test_conv2d_1x1_1x32x32x8_f32_st11_padSAME_dilat11.tosa
  examples/test_conv2d_1x1_1x32x32x8_f32_st11_padSAME_dilat11/flatbuffer-tflite/test_conv2d_1x1_1x32x32x8_f32_st11_padSAME_dilat11.tosa
  examples/test_conv2d_1x1_1x32x32x8_f32_st11_padSAME_dilat11/model.pb
  examples/test_conv2d_1x1_1x32x32x8_f32_st11_padSAME_dilat11/model.tflite
  examples/test_conv2d_1x1_1x32x32x8_f32_st11_padSAME_dilat11/test.json
  examples/test_conv2d_1x1_1x32x32x8_qi8_st11_padSAME_dilat11/flatbuffer-tflite/test_conv2d_1x1_1x32x32x8_qi8_st11_padSAME_dilat11.tosa
  examples/test_conv2d_1x1_1x32x32x8_qi8_st11_padSAME_dilat11/model.tflite
  examples/test_conv2d_1x1_1x32x32x8_qi8_st11_padSAME_dilat11/placeholder_0.npy
  examples/test_conv2d_1x1_1x32x32x8_qi8_st11_padSAME_dilat11/test.json
  reference_model/include/version.h
Due: clang-format

Reduce WrongRank tests to the minimum needed
  verif/generator/tosa_error_if.py
Due: pytest

Fix data range of int ADD/SUB ops
  verif/generator/tosa_arg_gen.py
Due: pytest

Fix framework test generation
  verif/frameworks/test_builder.py
Due: pytest

Fix missing Pooling ERRORIFs
  verif/generator/tosa_arg_gen.py
Due: pytest

Compliance Test Set 3 data fix
  reference_model/src/generate/generate_dot_product_states.cc
  reference_model/test/generate_tests.cpp
Due: clang-format

Add variable tensor fields for test descriptors
  verif/frameworks/tosa_verif_framework_compiler_runner.py
  verif/frameworks/tosa_verif_framework_generator.py
  verif/frameworks/write_test_json.py
Due: pytest

Take into account of `output_unsigned` in rescale operation
  reference_model/include/dtype.h
  reference_model/src/arith_util.h
  reference_model/src/ops/type_conversion.cc
  reference_model/src/ops/type_conversion.h
Due: clang-format

Improve CONV2D coverage for conformance
  verif/conformance/tosa_main_profile_ops_info.json
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
  verif/generator/tosa_test_select.py
  verif/generator/tosa_verif_build_tests.py
Due: pytest

Improve PAD coverage for main conformance
  verif/conformance/tosa_main_profile_ops_info.json
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_verif_build_tests.py
Due: pytest

Path conditions:
  pytest: any of: \.py$
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: build|third_party
