Repository jerryzhao173985/reference_model: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest, clang-format

.pre-commit-config.yaml:

# Copyright (c) 2021-2024 Arm Limited.
# SPDX-License-Identifier: Apache-2.0

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/asottile/reorder_python_imports
    rev: v3.13.0
    hooks:
    -   id: reorder-python-imports
      # The reorder python imports can get confused if directories exist.
      # Use a dummy application directory to avoid problems.
        args: [ "--application-directories=NotARealDirectoryName" ]

-   repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
    -   id: black

-   repo: https://github.com/pycqa/flake8
    rev: 7.1.1
    hooks:
    -   id: flake8

-   repo: local
    hooks:
    -   id: pytest
        name: pytest
        stages: [commit]
        language: system
        entry: pytest -m "not postcommit"
        types: [python]
        pass_filenames: false

-   repo: local
    hooks:
    -   id: clang-format
        name: clang-format
        exclude: build|third_party
        language: system
        entry: clang-format
        types: ["c++"]
        args: ["-i"]

Use standard conforming preprocessor for Windows build
  CMakeLists.txt
Due: none

Specify default capture for bounds
  reference_model/test/verify_tests.cpp
Due: clang-format

Remove non standard constexpr
  reference_model/test/verify_tests.cpp
Due: clang-format

Platform specific string function
  reference_model/src/main.cpp
Due: clang-format

Avoid polluting with OS defined symbols
  reference_model/include/custom_registry.h
Due: clang-format

Namespace pollution
  reference_model/src/arith_util.h
Due: clang-format

Remove __builtin_expect optimisation
  reference_model/include/func_debug.h
Due: clang-format

Include windows.h rather than individual header
  reference_model/include/custom_registry.h
Due: clang-format

Align ARITHMETIC_RIGHT_SHIFT with the spec
  reference_model/src/arith_util.h
  reference_model/src/ops/ewise_binary.cc
Due: clang-format

Change README to specify build type
  README.md
Due: none

Fix debug log error for AvgPool2d
  reference_model/src/ops/tensor_ops.cc
Due: clang-format

Broadcast bias in CONV operators
  reference_model/src/ops/tensor_ops.cpp
  reference_model/test/ref_model_tests/tensor_ops_tests.cpp
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

Split reference model unit tests by op groups
  reference_model/CMakeLists.txt
  reference_model/test/ref_model_tests/activation_funcs_tests.cpp
  reference_model/test/ref_model_tests/ewise_binary_tests.cpp
  reference_model/test/ref_model_tests/ewise_ternary_tests.cpp
  reference_model/test/ref_model_tests/reduction_tests.cpp
  reference_model/test/ref_model_tests/tensor_ops_tests.cpp
  reference_model/test/ref_model_tests/type_conversion_tests.cpp
Due: clang-format

Fix allocation of empty shapes
  reference_model/src/ops/data_layout.cc
  reference_model/src/ops/data_layout.h
  reference_model/src/tensor.h
  reference_model/src/verify/verify_exact.cc
  reference_model/src/verify/verify_main.cpp
  verif/frameworks/ignored_failures.json
Due: clang-format

Add unit tests for rank 0 support in RESHAPE
  reference_model/CMakeLists.txt
  reference_model/test/ref_model_tests/data_layout_tests.cpp
Due: clang-format

Loosen dot product compliance for FP8 with FP32 acc
  reference_model/src/verify/verify_dot_product.cpp
  reference_model/src/verify/verify_utils.cpp
  reference_model/src/verify/verify_utils.h
  scripts/schemavalidation/compliance-config.schema.json
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

Fix for building on MacOS
  reference_model/include/custom_registry.h
Due: clang-format

Conditionally build pybindings when pip installing
  setup.py
Due: pytest

Enhances type safety by adding explicit type conversions, resolves implicit conversion warnings
  reference_model/include/func_debug.h
  reference_model/src/func_debug.cpp
  reference_model/src/generate/generate_dot_product.cpp
  reference_model/src/generate/generate_full_range.cpp
  reference_model/src/generate/generate_pseudo_random.cpp
Due: clang-format

Replace profile desc.json with test_requirements
  scripts/convert2conformance/convert2conformance.py
  scripts/schemavalidation/desc.schema.json
  verif/conformance/tosa_profiles.py
  verif/conformance/tosa_verif_conformance_generator.py
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_error_if.py
  verif/generator/tosa_test_gen.py
  verif/generator/tosa_test_select.py
  verif/generator/tosa_utils.py
  verif/generator/tosa_verif_build_tests.py
  verif/runner/tosa_test_runner.py
  verif/runner/tosa_verif_run_tests.py
Due: pytest

Fix test requirements desc.json ordering
  verif/generator/tosa_test_gen.py
Due: pytest

Change statement-expression to lambda
  reference_model/src/ops/op_factory.h
Due: clang-format

Fix flake warnings
  setup.py
  verif/conformance/tosa_verif_conformance_generator.py
Due: pytest

Selectively reduce inlining
  reference_model/CMakeLists.txt
Due: none

RESCALE adding INEXACT_ROUND mode support and tests.
  reference_model/CMakeLists.txt
  reference_model/include/func_config.h
  reference_model/python_bindings/python_bindings.cpp
  reference_model/src/main.cpp
  reference_model/src/ops/activation_funcs.cpp
  reference_model/src/ops/ewise_binary.cpp
  reference_model/src/ops/ewise_unary.cpp
  reference_model/src/ops/reduction.cpp
  reference_model/src/ops/tensor_ops.cpp
  reference_model/src/ops/type_conversion.cpp
  reference_model/src/verify/CMakeLists.txt
  reference_model/src/verify/verifiers.h
  reference_model/src/verify/verify_entry.cpp
  reference_model/src/verify/verify_fp_special.cpp
  reference_model/src/verify/verify_rescale_inexact.cpp
  reference_model/src/verify/verify_utils.cpp
  reference_model/src/verify/verify_utils.h
  scripts/schemavalidation/compliance-config.schema.json
  verif/checker/verifier.py
  verif/conformance/tosa_profiles.py
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
  verif/generator/tosa_utils.py
  verif/runner/tosa_test_runner.py
Due: pytest, clang-format

Enable setting of compliance dot product values in meta data
  reference_model/src/verify/verify_dot_product.cpp
  reference_model/src/verify/verify_utils.cpp
  reference_model/src/verify/verify_utils.h
  scripts/schemavalidation/compliance-config.schema.json
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

Fix format specifiers and enforce type safety in reference_model
  reference_model/src/arith_util.h
  reference_model/src/generate/generate_fixed_data.cpp
  reference_model/src/ops/control_flow.cpp
  reference_model/src/ops/custom.cpp
  reference_model/src/ops/data_layout.cpp
  reference_model/src/ops/shape.cpp
  reference_model/src/ops/type_conversion.cpp
  reference_model/src/verify/verify_dot_product.cpp
  reference_model/src/verify/verify_main.cpp
Due: clang-format
