Repository jerryzhao173985/reference_model: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest, clang-format

pytest:
  name: pytest
  stages:
  - commit
  language: system
  entry: pytest -m "not postcommit"
  pass_filenames: false

clang-format:
  name: clang-format
  language: system
  entry: clang-format
  args:
  - -i

Update test generator to fix padding in depthwise_conv2d
  verif/conformance/tosa_ext_profile_ops_info.json
  verif/generator/tosa_arg_gen.py
Due: pytest

Add local_bound attribute support to conv ops
  reference_model/src/ops/tensor_ops.cc
  verif/conformance/test_select.py
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

Simplify tosa_ext_profile_ops_info.json
  verif/conformance/tosa_ext_profile_ops_info.json
  verif/conformance/tosa_verif_conformance_generator.py
Due: pytest

Fix up refmodel generate unit_tests
  reference_model/test/generate_tests.cpp
Due: clang-format

Fix rescale for signed inputs
  reference_model/src/ops/type_conversion.cc
Due: clang-format

Allow close-call infinities in dot product operations
  reference_model/src/verify/verify_dot_product.cc
Due: clang-format

Use native size of Bfloat16 and Float8 in reference model
  reference_model/src/arith_util.h
  reference_model/src/generate/generate_dot_product.cc
  reference_model/src/generate/generate_dot_product_states.cc
  reference_model/src/generate/generate_fp_special.cc
  reference_model/src/generate/generate_full_range.cc
  reference_model/src/generate/generate_pseudo_random.cc
  reference_model/src/generate/generate_utils.h
  reference_model/src/model_runner_impl.cc
  reference_model/src/ops/activation_funcs.cc
  reference_model/src/ops/data_layout.cc
  reference_model/src/ops/image.cc
  reference_model/src/ops/op_factory.cc
  reference_model/src/ops/op_factory.h
  reference_model/src/ops/type_conversion.cc
  reference_model/src/ops/type_conversion.h
  reference_model/src/subgraph_traverser.cc
  reference_model/src/tensor.cc
  reference_model/src/tensor.h
  reference_model/src/verify/verify_abs_error.cc
  reference_model/src/verify/verify_dot_product.cc
  reference_model/src/verify/verify_exact.cc
  reference_model/src/verify/verify_fp_special.cc
  reference_model/src/verify/verify_reduce_product.cc
  reference_model/src/verify/verify_relative.cc
  reference_model/src/verify/verify_ulp.cc
  reference_model/src/verify/verify_utils.cc
  reference_model/src/verify/verify_utils.h
  scripts/json2numpy/json2numpy.py
  verif/checker/tosa_result_checker.py
  verif/checker/verifier.py
  verif/generator/datagenerator.py
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_random_gen.py
  verif/generator/tosa_test_gen.py
  verif/generator/tosa_utils.py
  verif/tests/test_tosa_refmodel.py
Due: pytest, clang-format

Reduce the amount of bf16 and fp8 tests
  verif/conformance/tosa_ext_profile_ops_info.json
Due: none

Adapt to new ResizeAttribute
  verif/generator/tosa_test_gen.py
Due: pytest

Update tosa Level_check to include MAX_TENSOR_LIST_SIZE
  reference_model/include/func_config.h
  reference_model/src/ops/control_flow.cc
  reference_model/src/ops/custom.cc
  reference_model/src/ops/data_layout.cc
Due: clang-format

Reinterpret results as unsigned if the tf is unsigned
  verif/frameworks/tosa_verif_framework_compiler_runner.py
Due: pytest

Fix dynamic shape test cases after --tosa-input-shape argument update
  verif/frameworks/tosa_verif_framework_compiler_runner.py
Due: pytest

Add ml-dtypes to setup.cfg
  setup.cfg
Due: none

Improve MI coverage for CONST & IDENTITY Ops
  verif/conformance/tosa_ext_profile_ops_info.json
  verif/generator/tosa_test_gen.py
Due: pytest

Fix FP special tests to not broadcast
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
Due: pytest

Fix issues for CONST and IDENTITY Ops
  verif/conformance/tosa_ext_profile_ops_info.json
Due: none

Improve SLICE test creation
  verif/generator/tosa_arg_gen.py
Due: pytest

Extend SPECIAL data gen mode to Tensor ops
  reference_model/src/dtype_limits.h
  reference_model/src/generate/generate_fp_special.cc
  reference_model/src/ops/tensor_ops.cc
  reference_model/src/verify/verify_fp_special.cc
  verif/conformance/test_select.py
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

Add Random to FP Special data gen
  reference_model/src/generate/generate_fp_special.cc
  reference_model/src/generate/generate_utils.cc
  reference_model/src/generate/generate_utils.h
  reference_model/test/generate_tests.cpp
  scripts/schemavalidation/datagen-config.schema.json
  verif/generator/tosa_arg_gen.py
Due: pytest, clang-format

Update CTS support for GATHER and SCATTER.
  verif/conformance/tosa_ext_profile_ops_info.json
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
Due: pytest

Add missing copyright header to dtype_limits.h
  reference_model/src/dtype_limits.h
Due: clang-format

Adjust conformance bounds for acc_type changes
  reference_model/src/ops/tensor_ops.cc
  reference_model/src/ops/tensor_ops.h
  reference_model/src/verify/verify_dot_product.cc
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
  verif/generator/tosa_utils.py
Due: pytest, clang-format

[TOSA] Limit shift length for logical shift in ref model.
  reference_model/src/ops/ewise_binary.cc
  verif/frameworks/arg_gen.py
  verif/frameworks/tensor_gen.py
  verif/frameworks/test_gen_utils.py
  verif/frameworks/tosa_verif_framework_generator.py
  verif/generator/tosa_arg_gen.py
Due: pytest, clang-format

CTS - Allow interger CONST operations in MI
  verif/conformance/tosa_ext_profile_ops_info.json
Due: none

Enable FP Special tests for EW Binary ops
  reference_model/src/generate/generate_fp_special.cc
  reference_model/test/generate_tests.cpp
  verif/conformance/tosa_ext_profile_ops_info.json
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

Fix bounds in absolute error verification unit tests
  reference_model/test/verify_tests.cpp
Due: clang-format

Update reference model cmakelists to be version 3.16 compatible
  README.md
  thirdparty/CMakeLists.txt
Due: none

Add ignored failure handling for framework tests
  verif/frameworks/ignored_failures.json
  verif/frameworks/tosa_verif_framework_compiler_runner.py
Due: pytest

Move shape operators to extension
  verif/conformance/tosa_ext_profile_ops_info.json
  verif/conformance/tosa_profiles.py
Due: pytest

Change the names of the profiles
  reference_model/include/func_config.h
  reference_model/src/command_line_utils.h
  reference_model/src/subgraph_traverser.cc
  verif/conformance/tosa_ext_profile_ops_info.json
  verif/conformance/tosa_profiles.py
  verif/conformance/tosa_verif_conformance_generator.py
  verif/runner/tosa_verif_run_tests.py
Due: pytest, clang-format

[CTS SELECT op]: Add override to data-generation
  verif/conformance/tosa_ext_profile_ops_info.json
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
Due: pytest

Update CTS support for EQUAL, GREATER_EQUAL and GREATER.
  reference_model/src/generate/generate_fp_special.cc
  reference_model/test/generate_tests.cpp
  verif/conformance/tosa_ext_profile_ops_info.json
Due: clang-format

Add Numpy version dependency of pre 2.0.0
  setup.cfg
Due: none

Update range check when reference is 0 or inf
  reference_model/src/verify/verify_utils.cc
Due: clang-format

Update the C/C++ verify library to include support for int32 types
  reference_model/src/verify/verify_entry.cc
  reference_model/src/verify/verify_exact.cc
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
  verif/generator/tosa_utils.py
Due: pytest, clang-format

Update CTS support for REDUCE_MIN and REDUCE_MAX.
  verif/conformance/tosa_ext_profile_ops_info.json
  verif/generator/tosa_test_gen.py
Due: pytest

Use uint64_t seeds for conformance tests
  reference_model/src/generate/generate_pseudo_random.cc
  reference_model/src/generate/generate_utils.cc
  reference_model/src/generate/generate_utils.h
  scripts/schemavalidation/datagen-config.schema.json
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_random_gen.py
Due: pytest, clang-format

Update precommit hook to avoid python reordering
  .pre-commit-config.yaml
Due: none

Update the C/C++ verify library to include support for int16 and int8 types
  reference_model/src/verify/verify_exact.cc
  verif/checker/verifier.py
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_utils.py
Due: pytest, clang-format

Path conditions:
  pytest: any of: \.py$
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: build|third_party
