Repository jerryzhao173985/reference_model: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest, clang-format

pytest:
  name: pytest
  stages:
  - commit
  language: system
  entry: pytest -m "not postcommit"
  pass_filenames: false

clang-format:
  name: clang-format
  language: system
  entry: clang-format
  args:
  - -i

Main compliance: Fix CONV2D weight generation
  reference_model/src/generate/generate_dot_product.cc
Due: clang-format

Main Conformance: Add CONV2D f32 test with zero padding
  verif/conformance/tosa_main_profile_ops_info.json
Due: none

CMake update to quiet warnings
  CMakeLists.txt
  reference_model/CMakeLists.txt
  reference_model/custom_op_example/CMakeLists.txt
  thirdparty/CMakeLists.txt
Due: none

CLAMP limits should be expressed in in_out_t
  reference_model/src/ops/activation_funcs.cc
Due: clang-format

Add support for precise mode in eager runner
  reference_model/src/model_runner_impl.cc
  reference_model/src/model_runner_impl.h
  reference_model/src/tensor.cc
Due: clang-format

Main Compliance testing for SELECT
  reference_model/src/generate/generate_utils.cc
  verif/conformance/tosa_main_profile_ops_info.json
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

Main Compliance testing for CONCAT
  reference_model/src/generate/generate_utils.cc
  verif/conformance/tosa_main_profile_ops_info.json
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

Main Compliance testing for TILE
  reference_model/src/generate/generate_utils.cc
  verif/conformance/tosa_main_profile_ops_info.json
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

[reference model] Add shape operators
  reference_model/CMakeLists.txt
  reference_model/src/ops/data_layout.cc
  reference_model/src/ops/data_layout.h
  reference_model/src/ops/op_factory.cc
  reference_model/src/ops/shape.cc
  reference_model/src/ops/shape.h
  reference_model/src/subgraph_traverser.cc
  reference_model/src/tensor.h
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

Update RESHAPE and TILE conformance testing
  reference_model/CMakeLists.txt
  reference_model/src/generate/generate_entry.cc
  reference_model/src/generate/generate_fixed_data.cc
  reference_model/src/generate/generate_fixed_data.h
  reference_model/src/generate/generate_utils.cc
  reference_model/src/generate/generate_utils.h
  scripts/schemavalidation/datagen-config.schema.json
  verif/generator/datagenerator.py
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
  verif/generator/tosa_utils.py
Due: pytest, clang-format

Shape infer dynamic model to static model prior to execution.
  verif/frameworks/tosa_verif_framework_compiler_runner.py
  verif/frameworks/tosa_verif_framework_generator.py
  verif/frameworks/write_test_json.py
  verif/runner/run_command.py
Due: pytest

Add dynamic space_to_batch to the framework test
  verif/frameworks/test_builder.py
  verif/frameworks/tosa_verif_framework_generator.py
Due: pytest

Fix and improve verify ABS_ERROR reporting
  reference_model/src/verify/verify_abs_error.cc
  reference_model/src/verify/verify_utils.cc
Due: clang-format

Add conformance testing for shape operators
  verif/conformance/test_select.py
  verif/conformance/tosa_base_profile_ops_info.json
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_error_if.py
  verif/generator/tosa_test_gen.py
Due: pytest

Save Int8/UInt8 reference outputs to native dtypes
  reference_model/src/model_runner.cc
  reference_model/src/model_runner_impl.cc
  reference_model/src/tensor.cc
  reference_model/src/tensor.h
  verif/frameworks/tosa_verif_framework_compiler_runner.py
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

Fix logical right shift operator for signed negative integers
  reference_model/src/ops/ewise_binary.cc
Due: clang-format

Main Compliance testing for SLICE
  reference_model/src/generate/generate_utils.cc
  verif/conformance/tosa_main_profile_ops_info.json
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

fix: Conditionally include `prctl.h` on macos
  reference_model/src/func_debug.cc
Due: clang-format

Simplify bfloat16 truncate and verify code
  reference_model/src/arith_util.h
  reference_model/src/main.cpp
Due: clang-format

Main Compliance: DEPTHWISE_CONV2D support
  reference_model/src/generate/generate_dot_product.cc
  reference_model/src/generate/generate_utils.cc
  reference_model/test/generate_tests.cpp
  verif/conformance/tosa_main_profile_ops_info.json
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

Main Compliance: TRANSPOSE_CONV2D support
  reference_model/src/generate/generate_dot_product.cc
  reference_model/src/generate/generate_utils.cc
  reference_model/test/generate_tests.cpp
  verif/conformance/tosa_main_profile_ops_info.json
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_error_if.py
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

Fix up shape operator test errors
  verif/conformance/tosa_base_profile_ops_info.json
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
  verif/generator/tosa_utils.py
Due: pytest

Add support for input tensor of "shape" type
  reference_model/src/model_runner_impl.cc
Due: clang-format

[ref model] Change PadOp's padding to Shape
  .gitignore
  reference_model/src/ops/data_layout.cc
  reference_model/src/ops/data_layout.h
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

Fix verify REDUCE_PRODUCT reporting
  reference_model/src/verify/verify_reduce_product.cc
Due: clang-format

Fix the improvement of the ABS_ERROR output
  reference_model/src/verify/verify_utils.cc
Due: clang-format

Change the start and size of slice to tosa shape type
  reference_model/src/ops/data_layout.cc
  reference_model/src/ops/data_layout.h
Due: clang-format

[testing] Switch to using shape type for start and size of slice
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_error_if.py
  verif/generator/tosa_test_gen.py
Due: pytest

Update version to 0.100.0 draft
  examples/test_add_1x4x4x4_f32/flatbuffer-tf/test_add_1x4x4x4_f32.tosa
  examples/test_add_1x4x4x4_f32/flatbuffer-tflite/test_add_1x4x4x4_f32.tosa
  examples/test_add_1x4x4x4_f32/model.pb
  examples/test_add_1x4x4x4_f32/model.tflite
  examples/test_add_1x4x4x4_f32/test.json
  examples/test_conv2d_1x1_1x32x32x8_f32_st11_padSAME_dilat11/flatbuffer-tf/test_conv2d_1x1_1x32x32x8_f32_st11_padSAME_dilat11.tosa
  examples/test_conv2d_1x1_1x32x32x8_f32_st11_padSAME_dilat11/flatbuffer-tflite/test_conv2d_1x1_1x32x32x8_f32_st11_padSAME_dilat11.tosa
  examples/test_conv2d_1x1_1x32x32x8_f32_st11_padSAME_dilat11/model.pb
  examples/test_conv2d_1x1_1x32x32x8_f32_st11_padSAME_dilat11/model.tflite
  examples/test_conv2d_1x1_1x32x32x8_f32_st11_padSAME_dilat11/test.json
  examples/test_conv2d_1x1_1x32x32x8_qi8_st11_padSAME_dilat11/flatbuffer-tflite/test_conv2d_1x1_1x32x32x8_qi8_st11_padSAME_dilat11.tosa
  examples/test_conv2d_1x1_1x32x32x8_qi8_st11_padSAME_dilat11/model.tflite
  examples/test_conv2d_1x1_1x32x32x8_qi8_st11_padSAME_dilat11/placeholder_0.npy
  examples/test_conv2d_1x1_1x32x32x8_qi8_st11_padSAME_dilat11/test.json
  reference_model/include/version.h
Due: clang-format

Main Compliance testing for TRANSPOSE, REVERSE, and CONST
  reference_model/src/generate/generate_utils.cc
  verif/conformance/tosa_main_profile_ops_info.json
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

Main Compliance: FFT2D support
  reference_model/src/generate/generate_dot_product.cc
  reference_model/src/generate/generate_dot_product.h
  reference_model/src/generate/generate_dot_product_states.cc
  reference_model/src/generate/generate_utils.cc
  reference_model/src/ops/tensor_ops.cc
  reference_model/src/verify/verify_dot_product.cc
  reference_model/test/generate_tests.cpp
  verif/checker/tosa_result_checker.py
  verif/conformance/tosa_main_profile_ops_info.json
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

Main Compliance: Update POW error bound
  reference_model/src/ops/ewise_binary.cc
Due: clang-format

Main Compliance testing for CONV3D
  reference_model/src/generate/generate_dot_product.cc
  reference_model/src/generate/generate_utils.cc
  reference_model/test/generate_tests.cpp
  verif/conformance/tosa_main_profile_ops_info.json
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

Main Compliance: RFFT2D support
  reference_model/src/generate/generate_dot_product.cc
  reference_model/src/generate/generate_utils.cc
  reference_model/src/ops/tensor_ops.cc
  reference_model/test/generate_tests.cpp
  verif/conformance/tosa_main_profile_ops_info.json
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

Main Compliance: Add RESIZE support
  reference_model/CMakeLists.txt
  reference_model/src/generate/generate_utils.cc
  reference_model/src/verify/verifiers.h
  reference_model/src/verify/verify_entry.cc
  reference_model/src/verify/verify_relative.cc
  reference_model/src/verify/verify_utils.cc
  reference_model/src/verify/verify_utils.h
  reference_model/test/verify_tests.cpp
  scripts/schemavalidation/compliance-config.schema.json
  verif/conformance/tosa_main_profile_ops_info.json
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_error_if.py
  verif/generator/tosa_test_gen.py
  verif/generator/tosa_utils.py
Due: pytest, clang-format

Fix REDUCE ops to support 8k MAX_RANK
  reference_model/src/ops/reduction.cc
  verif/conformance/tosa_base_profile_ops_info.json
  verif/conformance/tosa_main_profile_ops_info.json
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

Improve Avg_Pool2D ErrorIf Testing
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_error_if.py
  verif/generator/tosa_test_gen.py
Due: pytest

Update test builder internal interfaces
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
  verif/generator/tosa_verif_build_tests.py
Due: pytest

Add support for FP8 to reference model
  reference_model/include/dtype.h
  reference_model/include/types.h
  reference_model/src/arith_util.h
  reference_model/src/float_utils.h
  reference_model/src/generate/generate_utils.cc
  reference_model/src/ops/data_layout.cc
  reference_model/src/ops/data_nodes.cc
  reference_model/src/ops/op_factory.cc
  reference_model/src/ops/scatter_gather.cc
  reference_model/src/ops/template_types.h
  reference_model/src/ops/tensor_ops.cc
  reference_model/src/ops/type_conversion.cc
  reference_model/src/ops/type_conversion.h
  reference_model/src/subgraph_traverser.cc
  reference_model/src/tensor.cc
  reference_model/src/tensor.h
  reference_model/src/verify/verify_utils.cc
  verif/checker/tosa_result_checker.py
  verif/conformance/tosa_main_profile_ops_info.json
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_error_if.py
  verif/generator/tosa_test_gen.py
  verif/generator/tosa_utils.py
Due: pytest, clang-format

Change the shift of mul to tensor type
  reference_model/src/ops/ewise_binary.cc
  reference_model/src/ops/ewise_binary.h
Due: clang-format

Path conditions:
  pytest: any of: \.py$
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, but not: build|third_party
