Repository jerryzhao173985/reference_model: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest, clang-format

.pre-commit-config.yaml:

# Copyright (c) 2021-2024 Arm Limited.
# SPDX-License-Identifier: Apache-2.0

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/asottile/reorder_python_imports
    rev: v3.0.1
    hooks:
    -   id: reorder-python-imports

-   repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
    -   id: black

-   repo: https://github.com/pycqa/flake8
    rev: 4.0.1
    hooks:
    -   id: flake8

-   repo: local
    hooks:
    -   id: pytest
        name: pytest
        stages: [commit]
        language: system
        entry: pytest -m "not postcommit"
        types: [python]
        pass_filenames: false

-   repo: local
    hooks:
    -   id: clang-format
        name: clang-format
        exclude: build|third_party
        language: system
        entry: clang-format
        types: ["c++"]
        args: ["-i"]

Enable BF16 unary full tests in CTS
  verif/conformance/tosa_ext_profile_ops_info.json
Due: none

[Fix] Error running rank-0 tensor conformance test
  reference_model/src/verify/verify_utils.cc
Due: clang-format

Disable dynamic-shaped spatial framework tests
  verif/frameworks/tosa_verif_framework_generator.py
Due: pytest

Change build tests to filter on TOSA op name
  verif/conformance/tosa_ext_profile_ops_info.json
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
  verif/generator/tosa_utils.py
  verif/generator/tosa_verif_build_tests.py
Due: pytest

Revert error in verify_ulp bound calculation
  reference_model/src/verify/verify_ulp.cc
  reference_model/test/verify_tests.cpp
Due: clang-format

Modify compliance checks for SIN/COS
  reference_model/src/ops/ewise_unary.cc
  reference_model/src/verify/verify_abs_error.cc
  reference_model/src/verify/verify_utils.cc
  reference_model/src/verify/verify_utils.h
  scripts/schemavalidation/compliance-config.schema.json
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

Improve CTS coverage of bf16 elementwise binary ops
  verif/conformance/tosa_ext_profile_ops_info.json
Due: none

Cover all ranks for SIGMOID fp16 and bf16
  verif/conformance/tosa_ext_profile_ops_info.json
Due: none

Reduce bf16 MATMUL FP_SPECIAL tests
  verif/conformance/tosa_ext_profile_ops_info.json
Due: none

Improve CTS extension coverage for ARGMAX
  verif/conformance/tosa_ext_profile_ops_info.json
Due: none

Improve rank coverage for fp8 REVERSE, SLICE, TILE
  verif/conformance/tosa_ext_profile_ops_info.json
Due: none

Improve CTS coverage of CONCAT, PAD, RESHAPE
  verif/conformance/tosa_ext_profile_ops_info.json
Due: none

Add prime shape coverage to SELECT and other ops
  verif/conformance/tosa_ext_profile_ops_info.json
Due: none

Ignore casting warning in generate_fp_special.cc
  reference_model/src/generate/generate_fp_special.cc
Due: clang-format

Increase type coverage of WHILE_LOOP
  reference_model/src/generate/generate_fixed_data.cc
  reference_model/src/generate/generate_utils.cc
  reference_model/test/generate_tests.cpp
  verif/conformance/tosa_ext_profile_ops_info.json
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_error_if.py
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format

Fix incorrect special fp number handling in min/max reduction
  reference_model/src/ops/reduction.cc
  verif/frameworks/tensor_gen.py
  verif/frameworks/tosa_verif_framework_generator.py
Due: pytest, clang-format

upgrade pre-commit tools versions
  .pre-commit-config.yaml
  verif/checker/tosa_result_checker.py
  verif/conformance/tosa_verif_conformance_generator.py
  verif/frameworks/arg_gen.py
  verif/frameworks/tensor_gen.py
  verif/frameworks/tosa_verif_framework_generator.py
  verif/frameworks/write_test_json.py
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
  verif/generator/tosa_verif_build_tests.py
Due: pytest

Reduce FP_SPECIAL tests for CAST
  verif/conformance/tosa_ext_profile_ops_info.json
Due: none

Generate more central values in PSUEDO_RANDOM
  reference_model/src/generate/generate_pseudo_random.cc
Due: clang-format

Disable CTS FP32, FP16 & BF16 subnormal testing
  reference_model/src/generate/generate_fp_special.cc
  reference_model/src/generate/generate_full_range.cc
  reference_model/test/generate_tests.cpp
Due: clang-format

Increase type coverage of COND_IF
  reference_model/src/generate/generate_utils.cc
  verif/conformance/tosa_ext_profile_ops_info.json
  verif/generator/tosa_arg_gen.py
  verif/generator/tosa_test_gen.py
Due: pytest, clang-format
